<div class="dlist">
	<%if {ispost} %>
		<table width="100%" border="0" cellspacing="2" cellpadding="0" class="tBox">
			<tr class="tBar">
				<td width="2%">排名</td>
				<%if ShowType==4%>
				<td width="10%">产品</td>
				<%/if%>
				<%if ShowType==5%>
				<td width="10%">品牌</td>
				<%/if%>
				<td width="5%">销售额</td>
				<td width="5%">销售量</td>

				<td width="5%">坏货</td>
				<td width="5%">退货</td>
				<td width="5%">成本</td>
				<td width="5%">利润</td>
			</tr>
			<%if dList != null%>
			  <%loop dl dList%>
			  <tr>
				<td >{dl__loop__id}</td>
				<%if ShowType==4%>
				<td >{dl[1]}</td>
				<%/if%>
				<%if ShowType==5%>
				<td >{dl[0]}</td>
				<%/if%>
				<td align="right">{dl[S_TOTAL]}</td>
				<td align="right">{dl[S_QUANTITY]}</td>
				<td align="right">{dl[BadgoodsFees]}</td>
				<td align="right">{dl[ReturnsFees]}</td>
				<td align="right">{dl[CostFees]}</td>
				<td align="right">{dl[Profit]}</td>
			  </tr>
			  <%/loop%>
			  <tr>
				<td >合计</td>
				<td align="right"></td>
				<td align="right">{AllSales}</td>
				<td align="right">{ALLS_QUANTITY}</td>

				<td align="right">{AllBadgoodsFees}</td>
				<td align="right">{AllReturnsFees}</td>
				<td align="right">{AllCostFees}</td>
				<td align="right">{AllProfit}</td>
			  </tr>
			 <%/if%>
		</table>
	<%/if%>
</div>