<ul>
	<li><INPUT class="B_Check" TYPE="radio" NAME="AShowType" id="AShowType_A" value="0" 
	<%if AShowType==0%>
	checked
	<%/if%> ><a >比例（饼图）</a></li>
	<li><INPUT class="B_Check" TYPE="radio" NAME="AShowType" id="AShowType_A" value="1" 
	<%if AShowType==1%>
	checked
	<%/if%> ><a >日</a></li>
	<li><INPUT class="B_Check" TYPE="radio" NAME="AShowType" id="AShowType_B" value="2" 
	<%if AShowType==2%>
	checked
	<%/if%>  ><a >月</a></li>
	<li><INPUT class="B_Check" TYPE="radio" NAME="AShowType" id="AShowType_C" value="3" 
	<%if AShowType==3%>
	checked
	<%/if%>  ><a >年</a></li>
</ul>