
            <table width="100%" border="0" cellspacing="2" cellpadding="0" class="tBox" id="tBox" >
              <thead >
              <tr class="tBar">
                <td colspan="4"><b>{mGoods.title}({mGoods.ProductsName})</b></td>
                </tr>
              <tr class="tBar">
                <td width="2%" align="center"><input name="cCheck" type="checkbox" class="B_Check" value="" onclick="javascript:selectCheck(document.getElementById('form1'),this);"/></td>
                <td width="30%" >属性</td>
                <td width="30%">值</td>
                <td>说明</td>
                </tr>
              </thead>
             

  <tbody id="dloop">

  <tr  >
	<td align="center" width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="cid" /></td>
	<td width="30%" >叶子类目id</td>
	<td  width="30%" ><textarea name="cid" id="cid" cols="45" rows="5" style="width:90%;height:90%">{mGoods.cid}</textarea></td>
	<td >&nbsp;</td>
	</tr>
<tr>
      <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="props" /></td>
      <td width="30%">商品属性列表</td>
      <td width="30%"><textarea name="props" id="props" cols="45" rows="5" style="width:90%;height:90%">{mGoods.props}</textarea></td>
      <td>格式:pid:vid;pid:vid。属性的pid调用taobao.itemprops.get取得，属性值的vid用taobao.itempropvalues.get取得vid。   如果该类目下面没有属性，可以不用填写。如果有属性，必选属性必填，其他非必选属性可以选择不填写.属性不能超过35对。所有属性加起来包括分割符不能超过549字节，单个属性没有限制。   如果有属性是可输入的话，则用字段input_str填入属性的值。 </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="num" /></td>
      <td width="30%">商品数量</td>
       <td width="30%"><textarea name="num" id="num" cols="45" rows="5" style="width:90%;height:90%">{mGoods.num}</textarea></td>
      <td>取值范围：大于零的整数，并需要等于所有Sku数量的和 </td>
     
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="price" /></td>
      <td width="30%">商品价格</td>
      <td width="30%"><textarea name="price" id="price" cols="45" rows="5" style="width:90%;height:90%">{mGoods.price}</textarea></td>
      <td>取值范围:0-100000000;精确到2位小数;单位:元。如:200.07，表示:200元7分。需要在正确的价格区间内。 </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="title" /></td>
      <td width="30%">宝贝标题</td>
      <td width="30%"><textarea name="title" id="title" cols="45" rows="5" style="width:90%;height:90%">{mGoods.title}</textarea></td>
      <td>不能超过60字节,受违禁词控制 </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="desc" /></td>
      <td width="30%">商品描述</td>
      <td width="30%"><textarea name="desc" id="desc" cols="45" rows="5" style="width:90%;height:90%">{mGoods.m_desc}</textarea></td>
      <td>字数要大于5个字节，小于25000个字节 ，受违禁词控制 </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="location_state" /></td>
      <td width="30%">所在地省份</td>
      <td width="30%"><textarea name="location_state" id="location_state" cols="45" rows="5" style="width:90%;height:90%"></textarea></td>
      <td>如浙江 具体可以下载http://dl.open.taobao.com/sdk/商品城市列表.rar 取到 </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="location_city" /></td>
      <td width="30%">所在地城市</td>
      <td width="30%"><textarea name="location_city" id="location_city" cols="45" rows="5" style="width:90%;height:90%"></textarea></td>
      <td>如杭州 具体可以下载http://dl.open.taobao.com/sdk/商品城市列表.rar 取到 </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="post_fee" /></td>
      <td width="30%">平邮费用</td>
      <td width="30%"><textarea name="post_fee" id="post_fee" cols="45" rows="5" style="width:90%;height:90%">{mGoods.post_fee}</textarea></td>
      <td>取值范围:0-100000000;精确到2位小数;单位:元。如:5.07，表示:5元7分,   注:post_fee,express_fee,ems_fee需一起填写 </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="express_fee" /></td>
      <td width="30%">快递费用</td>
      <td width="30%"><textarea name="express_fee" id="express_fee" cols="45" rows="5" style="width:90%;height:90%">{mGoods.express_fee}</textarea></td>
      <td>取值范围:0-100000000;精确到2位小数;单位:元。如:15.07，表示:15元7分 </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="ems_fee" /></td>
      <td width="30%">ems费用</td>
      <td width="30%"><textarea name="ems_fee" id="ems_fee" cols="45" rows="5" style="width:90%;height:90%">{mGoods.ems_fee}</textarea></td>
      <td>取值范围:0-100000000;精确到2位小数;单位:元。如:25.07，表示:25元7分 </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="list_time" /></td>
      <td width="30%">上架时间</td>
      <td width="30%"><textarea name="list_time" id="list_time" cols="45" rows="5" style="width:90%;height:90%">{mGoods.list_time}</textarea></td>
      <td>如2008-05-26 09:12:00 </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="increment" /></td>
      <td width="30%">加价幅度</td>
      <td width="30%"><textarea name="increment" id="increment" cols="45" rows="5" style="width:90%;height:90%">{mGoods.increment}</textarea></td>
      <td>如果为0，代表系统代理幅度 </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="image" /></td>
      <td width="30%">商品图片</td>
      <td width="30%"><textarea name="image" id="image" cols="45" rows="5" style="width:90%;height:90%"></textarea></td>
      <td>类型:JPG,GIF;最大长度:500k <br />
        支持的文件类型：gif,jpg,jpeg,png </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="stuff_status" /></td>
      <td width="30%">商品新旧程度</td>
      <td width="30%"><textarea name="stuff_status" id="stuff_status" cols="45" rows="5" style="width:90%;height:90%">{mGoods.stuff_status}</textarea></td>
      <td>可选值:new（全新）,unused（闲置）,second（二手）。 </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="auction_point" /></td>
      <td width="30%">商品的积分返点比例</td>
      <td width="30%"><textarea name="auction_point" id="auction_point" cols="45" rows="5" style="width:90%;height:90%">{mGoods.auction_point}</textarea></td>
      <td>如：5 表示返点比例0.5%. 注意：返点比例必须是&gt;0的整数，而且最大是90,即为9%.B商家在发布非虚拟商品时，返点必须是   5的倍数，即0.5%的倍数。其它是1的倍数，即0.1%的倍数。 </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="property_alias" /></td>
      <td width="30%">属性值别名</td>
      <td width="30%"><textarea name="property_alias" id="property_alias" cols="45" rows="5" style="width:90%;height:90%">{mGoods.property_alias}</textarea></td>
      <td>如pid:vid:别名;pid1:vid1:别名1， pid:属性id vid:值id。总长度不超过512字节 </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="input_pids" /></td>
      <td width="30%">用户自行输入的类目属性ID串</td>
      <td width="30%"><textarea name="input_pids" id="input_pids" cols="45" rows="5" style="width:90%;height:90%">{mGoods.input_pids}</textarea></td>
      <td>结构：&quot;pid1,pid2,pid3&quot;，如：&quot;20000&quot;（表示品牌） 注：通常一个类目下用户可输入的关键属性不超过1个。 </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="sku_quantities" /></td>
      <td width="30%">更新的Sku的数量串</td>
      <td width="30%"><textarea name="sku_quantities" id="sku_quantities" cols="45" rows="5" style="width:90%;height:90%"></textarea></td>
      <td>结构如：num1,num2,num3 如:2,3,4 </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="sku_prices" /></td>
      <td width="30%">更新的Sku的价格串</td>
      <td width="30%"><textarea name="sku_prices" id="sku_prices" cols="45" rows="5" style="width:90%;height:90%"></textarea></td>
      <td>结构如：10.00,5.00,… 精确到2位小数;单位:元。如:200.07，表示:200元7分 </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="sku_properties" /></td>
      <td width="30%">更新的Sku的属性串</td>
       <td width="30%"><textarea name="sku_properties" id="sku_properties" cols="45" rows="5" style="width:90%;height:90%"></textarea></td>
      <td>调用taobao.itemprops.get获取类目属性，如果属性是销售属性，再用taobao.itempropvalues.get取得vid。格式:pid:vid;pid:vid。该字段内的销售属性也需要在props字段填写   . 规则：如果该SKU存在旧商品，则修改；否则新增Sku。如果更新时有对Sku进行操作，则Sku的properties一定要传入。 </td>
     
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="seller_cids" /></td>
      <td width="30%">重新关联商品与店铺类目</td>
      <td width="30%"><textarea name="seller_cids" id="seller_cids" cols="45" rows="5" style="width:90%;height:90%">{mGoods.seller_cids}</textarea></td>
      <td>结构:&quot;,cid1,cid2,...,&quot;，如果店铺类目存在二级类目，必须传入子类目cids。 </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="postage_id" /></td>
      <td width="30%">宝贝所属的运费模板ID</td>
      <td width="30%"><textarea name="postage_id" id="postage_id" cols="45" rows="5" style="width:90%;height:90%">{mGoods.postage_id}</textarea></td>
      <td>模板可以通过taobao.postages.get获得 </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="outer_id" /></td>
      <td width="30%">商家绑定商品编码</td>
      <td width="30%"><textarea name="outer_id" id="outer_id" cols="45" rows="5" style="width:90%;height:90%">{mGoods.outer_id}</textarea></td>
      <td></td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="product_id" /></td>
      <td width="30%">商品所属的产品ID</td>
      <td width="30%"><textarea name="product_id" id="product_id" cols="45" rows="5" style="width:90%;height:90%">{mGoods.product_id}</textarea></td>
      <td>(B商家发布商品需要用) </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="pic_path" /></td>
      <td width="30%">商品主图需要关联的图片空间的相对url</td>
      <td width="30%"><textarea name="pic_path" id="pic_path" cols="45" rows="5" style="width:90%;height:90%"></textarea></td>
      <td>这个url所对应的图片必须要属于当前用户。pic_path和image只需要传入一个,如果两个都传，默认选择pic_path </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="auto_fill" /></td>
      <td width="30%">代充商品类型</td>
      <td width="30%"><textarea name="auto_fill" id="auto_fill" cols="45" rows="5" style="width:90%;height:90%">{mGoods.auto_fill}</textarea></td>
      <td>只有少数类目下的商品可以标记上此字段，具体哪些类目可以上传可以通过taobao.itemcat.features.get获得。在代充商品的类目下，不传表示不标记商品类型（交易搜索中就不能通过标记搜到相关的交易了）。可选类型：   no_mark(不做类型标记) time_card(点卡软件代充) fee_card(话费软件代充) </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="sku_outer_ids" /></td>
      <td width="30%">Sku的外部id串</td>
      <td width="30%"><textarea name="sku_outer_ids" id="sku_outer_ids" cols="45" rows="5" style="width:90%;height:90%"></textarea></td>
      <td>结构如：1234,1342,… sku_properties, sku_quantities, sku_prices,   sku_outer_ids在输入数据时要一一对应，如果没有sku_outer_ids也要写上这个参数，入参是&quot;,&quot;(这个是两个sku的示列，逗号数应该是sku个数减1)；该参数最大长度是512个字节 </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="is_taobao" /></td>
      <td width="30%">是否在淘宝上显示</td>
      <td width="30%"><textarea name="is_taobao" id="is_taobao" cols="45" rows="5" style="width:90%;height:90%">{mGoods.is_taobao}</textarea></td>
      <td> </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="is_ex" /></td>
      <td width="30%">是否在外店显示</td>
      <td width="30%"><textarea name="is_ex" id="is_ex" cols="45" rows="5" style="width:90%;height:90%">{mGoods.is_ex}</textarea></td>
      <td> </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="is_3D" /></td>
      <td width="30%">是否是3D</td>
      <td width="30%"><textarea name="is_3D" id="is_3D" cols="45" rows="5" style="width:90%;height:90%">{mGoods.is_3D}</textarea></td>
      <td> </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="is_replace_sku" /></td>
      <td width="30%">是否替换sku</td>
      <td width="30%"><textarea name="is_replace_sku" id="is_replace_sku" cols="45" rows="5" style="width:90%;height:90%"></textarea></td>
      <td> </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="input_str" /></td>
      <td width="30%">用户自行输入的子属性名和属性值</td>
      <td width="30%"><textarea name="input_str" id="input_str" cols="45" rows="5" style="width:90%;height:90%">{mGoods.input_str}</textarea></td>
      <td>结构:&quot;父属性值;一级子属性名;一级子属性值;二级子属性名;自定义输入值,....&quot;,如：&ldquo;耐克;耐克系列;科比系列;科比系列;2K5,Nike乔丹鞋;乔丹系列;乔丹鞋系列;乔丹鞋系列;json5&rdquo;，多个自定义属性用','分割，input_str需要与input_pids一一对应，注：通常一个类目下用户可输入的关键属性不超过1个。所有属性别名加起来不能超过3999字节。 </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="lang" /></td>
      <td width="30%">商品文字的版本</td>
      <td width="30%"><textarea name="lang" id="lang" cols="45" rows="5" style="width:90%;height:90%"></textarea></td>
      <td>繁体传入&rdquo;zh_HK&rdquo;，简体传入&rdquo;zh_CN&rdquo; </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="has_discount" /></td>
      <td width="30%">支持会员打折</td>
      <td width="30%"><textarea name="has_discount" id="has_discount" cols="45" rows="5" style="width:90%;height:90%">{mGoods.has_discount}</textarea></td>
      <td>可选值:true,false; </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="has_showcase" /></td>
      <td width="30%">橱窗推荐</td>
      <td width="30%"><textarea name="has_showcase" id="has_showcase" cols="45" rows="5" style="width:90%;height:90%">{mGoods.has_showcase}</textarea></td>
      <td>可选值:true,false; </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="approve_status" /></td>
      <td width="30%">商品上传后的状态</td>
      <td width="30%"><textarea name="approve_status" id="approve_status" cols="45" rows="5" style="width:90%;height:90%">{mGoods.approve_status}</textarea></td>
      <td>可选值:onsale（出售中）,instock（库中） </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="freight_payer" /></td>
      <td width="30%">运费承担方式</td>
      <td width="30%"><textarea name="freight_payer" id="freight_payer" cols="45" rows="5" style="width:90%;height:90%">{mGoods.freight_payer}</textarea></td>
      <td>运费承担方式。可选值:seller（卖家承担）,buyer(买家承担); </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="valid_thru" /></td>
      <td width="30%">有效期</td>
      <td width="30%"><textarea name="valid_thru" id="valid_thru" cols="45" rows="5" style="width:90%;height:90%">{mGoods.valid_thru}</textarea></td>
      <td>可选值:7,14;单位:天; </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="has_invoice" /></td>
      <td width="30%">是否有发票</td>
      <td width="30%"><textarea name="has_invoice" id="has_invoice" cols="45" rows="5" style="width:90%;height:90%">{mGoods.has_invoice}</textarea></td>
      <td>可选值:true,false (商城卖家此字段必须为true) </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="has_warranty" /></td>
      <td width="30%">是否有保修</td>
      <td width="30%"><textarea name="has_warranty" id="has_warranty" cols="45" rows="5" style="width:90%;height:90%">{mGoods.has_warranty}</textarea></td>
      <td>可选值:true,false; </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="after_sale_id" /></td>
      <td width="30%">售后服务说明模板id</td>
      <td width="30%"><textarea name="after_sale_id" id="after_sale_id" cols="45" rows="5" style="width:90%;height:90%"></textarea></td>
      <td> </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="sell_promise" /></td>
      <td width="30%">是否承诺退换货服务</td>
      <td width="30%"><textarea name="sell_promise" id="sell_promise" cols="45" rows="5" style="width:90%;height:90%">{mGoods.sell_promise}</textarea></td>
      <td>虚拟商品无须设置此项! </td>
      
    </tr>
    <tr>
    <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="cod_postage_id" /></td>
      <td width="30%">货到付款运费模板ID</td>
      <td width="30%"><textarea name="cod_postage_id" id="cod_postage_id" cols="45" rows="5" style="width:90%;height:90%">{mGoods.cod_postage_id}</textarea></td>
      <td></td>
    </tr>

  </tbody>

  
</table>
<div style="height:30px"></div>
<div id="footer_tool">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	  <td align="center">
		<input type="button" name="bt_edit" id="bt_edit" style="width:150px" value=" 更新选中(更新到商城) " class="B_INPUT">
		<input type="button" name="bt_cancel" id="bt_cancel" value=" 取消 " class="B_INPUT">
	  </td>
	</tr>
  </table>
</div>