<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
{meta}

<title>{config.Systitle}  {pagetitle}</title>

<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<!-- 调用样式表 -->
<link rel="stylesheet" href="templates/{templatepath}/default.css" type="text/css" media="all"  />
<link rel="stylesheet" href="templates/{templatepath}/index.css" type="text/css" media="all"  />
{link}
<script type="text/javascript" src="/public/js/comm.js"></script>
<script type="text/javascript" src="/public/js/xml.js"></script>
<script type="text/javascript" src="/public/js/jquery.js"></script>
<script type="text/javascript" src="/public/js/swfobject.js"></script>

<script type="text/javascript" src="/public/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/public/js/jquery.hotkeys.js"></script>
<script type="text/javascript" src="/public/js/jquery.jstree.js"></script>

<link type="text/css" rel="stylesheet" href="templates/{templatepath}/syntax/!style.css"/>
<link type="text/css" rel="stylesheet" href="templates/{templatepath}/!style.css"/>
<link type="text/css" rel="stylesheet" href="templates/{templatepath}/syntax/style.css"/>
<!--<script type="text/javascript" src="templates/{templatepath}/syntax/!script.js"></script>-->

<script type="text/javascript" src="/public/js/jquery.alerts.js"></script>
<link rel="stylesheet" type="text/css" href="public/js/jquery.alerts.css"></link>

<script type="text/javascript">
	var aspxrewrite = {config.Aspxrewrite};
</script>
{script}

<script type="text/javascript" src="/public/js/public.js"></script>
</head>