
<table width="100%" border="0" cellspacing="1" cellpadding="1" class="tBox" id="tBox" >
<thead >
  <tr class="tBar">
    <td width="3%" rowspan="2" align="center">序号</td>
    <td width="8%" rowspan="2" align="center">商品条码</td>
    <td rowspan="2" <%if ShowPrice==true%>width="30%"<%else%>width="35%"<%/if%> align="center">商品名称</td>
    <td width="3%" rowspan="2" align="center">装件数</td>
    <td align="center" <%if ShowPrice==true%>colspan="3"<%/if%>>出货</td>
    <td <%if ShowPrice==true%>colspan="3"<%/if%> align="center">退货</td>
  </tr>
  <tr class="tBar">
    <td width="5%" align="center">数量</td>
    <td width="5%" align="center">件数</td>
    <%if ShowPrice==true%>
    <td width="5%" align="center">金额</td>
    <%/if%>
    <td width="5%" align="center">数量</td>
    <td width="5%" align="center">件数</td>
    <%if ShowPrice==true%>
    <td width="5%" align="center">金额</td>
    <%/if%>

  </tr>
 </thead>

 <tbody>
 <%if dList!=null%>

 <%loop dl dList%>
  <tr>
    <td  align="center">{dl__loop__id}</td>
    <td  align="left">{dl[pBarcode]}</td>
    <td align="left">&nbsp;{dl[pName]}</td>
    <td  align="center">{dl[pToBoxNo]}</td>
    <td  align="right">
    <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["oQuantity"]),config.QuantityDecimal).ToString()%>
    {aspxrewriteurl}
	 <%set {MoneyAAA} = Convert.ToDecimal(MoneyAAA+Convert.ToDecimal(aspxrewriteurl))%>
    </td>
    <td  align="right">
    <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["oQuantity"])/Convert.ToDecimal(dl["pToBoxNo"]),config.QuantityDecimal).ToString()%>
    {aspxrewriteurl}
   
    <%set {MoneyAA} = Convert.ToDecimal(MoneyAA+Convert.ToDecimal(aspxrewriteurl))%>
    </td>
    <%if ShowPrice==true%>
    <td align="right">
    <%set {aspxrewriteurl} =  decimal.Round(Convert.ToDecimal(dl["oMoney"]),2).ToString()%>
    {aspxrewriteurl}
    <%set {MoneyA} = Convert.ToDecimal(MoneyA+Convert.ToDecimal(aspxrewriteurl))%>
    </td>
    <%/if%>
    <td  align="right">
     <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["oQuantity_t"]),config.QuantityDecimal).ToString()%>
     {aspxrewriteurl}
	 <%set {MoneyBBB} = Convert.ToDecimal(MoneyBBB+Convert.ToDecimal(aspxrewriteurl))%>
    </td>
    <td align="right">
    <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["oQuantity_t"])/Convert.ToDecimal(dl["pToBoxNo"]),config.QuantityDecimal).ToString()%>
    {aspxrewriteurl}
    
    <%set {MoneyBB} = Convert.ToDecimal(MoneyBB+Convert.ToDecimal(aspxrewriteurl))%>
    </td>
    <%if ShowPrice==true%>
    <td  align="right">
    <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["oMoney_t"]),2).ToString()%>
     {aspxrewriteurl}
      <%set {MoneyB} = Convert.ToDecimal(MoneyB+Convert.ToDecimal(aspxrewriteurl))%>
    </td>
    <%/if%>

  </tr>
  <%/loop%>
 <%/if%>

</tbody>
<%if ShowPrice==true%>
<tfoot>
  <tr>
    <td align="center">合计:</td>
    <td colspan="3" align="center">&nbsp;</td>
    <td align="right"><span>{MoneyAAA}</span></td>
    <td align="right"><span>{MoneyAA}</span></td>
    <td align="right"><span>{MoneyA}</span></td>
    <td align="right"><span>{MoneyBBB}</span></td>
    <td align="right"><span>{MoneyBB}</span></td>
    <td align="right"><span>{MoneyB}</span></td>

  </tr>
</tfoot>
<%/if%>
</table>