<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
  <td class="OrderListTool">




<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
供货商:
<%if Act=="v"%>{oi.StoresSupplierName}<%/if%>
</td>
    <td>
  <%set {aspxrewriteurl}=oOrderDateTime.ToString("yyyy-MM-dd")%>
      日期:{aspxrewriteurl}</td>
    </tr>
</table></td>
</tr>
<tr>
  <td>
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="tBox">
	<tr class="tBar">
	  <td width="80px">仓库</td>
	  <td width="100px">条码</td>
	  <td align="left">商品名称</td>
	  <td width="80px">包装量</td>
	  <!--<td width="80px">单价(元)</td>-->
	  <td width="120px">单据数量<br />
	    (最小单位)</td>
	  <td width="120px">已入库数量<br />
	    (最小单位)</td>
		<td width="120px">
        剩余数量<br />
	    (最小单位)
        </td>
        <td width="120px">
        本次入库数量<br />
	    (最小单位)
        </td>
	</tr>
  </table>
  <div id="OrderListLoop">
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="tBox" id="OrderListLoop_data">
	
  </table>
  </div>
  </td>
</tr>
</table>
<script language="javascript" type="text/javascript">
 OrderField = '{OrderFieldListJson}';
 OrderListDataJsonStr = '{OrderListDataJsonStr}';
 StorageOrderListJsonStr = '{StorageOrderListJsonStr}';
</script>