<div class="toolbar">
    	<div style="float:left">
        <ul>

			<li>
            	时间点：<br/><input style="width:60px" name="eDateTime" id="eDateTime" onclick="new Calendar().show(this);" value="{eDateTime}" type="text" />
            </li>


			

            
			
        <ul>
        
        </div>
        <div style="float:left;clear:left"><nobr><input type="button" value="确定" style="margin:5px;width:80px" class="B_INPUT" onclick="javascript:DataAnalysis.CheckF();" />
        <input type="button" value="重置分析条件" onclick="javascript:DataAnalysis.ReSet();" style="margin:5px;width:80px" class="B_INPUT"/></nobr></div>
    </div>