<%template _poppageheader%>
<body>
<script type="text/javascript" src="public/js/Cxty_XTool.js"></script>
<script src="public/js/WebCalendar.js" type="text/javascript" ></script>
<!--
<script src="public/js/bsn.AutoSuggest_2.1.3_comp.js" type="text/javascript" ></script>

<link rel="stylesheet" href="public/js/autosuggest_inquisitor.css" type="text/css" media="screen" charset="utf-8" />
-->
<link rel="stylesheet" type="text/css" href="public/js/jquery.autocomplete.css"></link>
<script type="text/javascript" src="public/js/jquery.autocomplete.js "></script>
<%if {ispost} %>
	<%if page_err==0%>
		<%template _popmsgbox%>
	<%else%>
		<%template _poperrmsgbox%>
	<%/if%>
<%else%>
    <%if page_err!=0%>
    	<%template _poperrmsgbox%>
    <%else%>
        <%if page_msg!=0%>
            <%template _popmsgbox%>
        <%else%>
            <form name="bForm" id="bForm" action="" method="post">
              <table width="100%" border="0" cellspacing="2" cellpadding="2">
                <tr>
                  <td colspan="2" align="left"><h1>应收信息</h1></td>
                </tr>
				
				<tr>
					<td width="20%" align="right">应收对象</td>
					<td align="left">
					<INPUT class="B_Check" TYPE="radio" NAME="ARObjType" id="ARObjType_A" value="0" onclick="javascript:CheckR();" 
					<%if Act=="Edit"%> 
						<%if ai.ARObjType.ToString()=="0"%>
							checked
						<%/if%>
					<%else%>
					checked
					<%/if%>
					>门店/客户
					<INPUT class="B_Check" TYPE="radio" NAME="ARObjType" id="ARObjType_B" value="1" onclick="javascript:CheckR();" 
					<%if Act=="Edit"%> 
						<%if ai.ARObjType.ToString()=="1"%>
							checked
						<%/if%>
					<%/if%>
					>个人
					<INPUT class="B_Check" TYPE="radio" NAME="ARObjType" id="ARObjType_C" value="2" onclick="javascript:CheckR();" 
					<%if Act=="Edit"%> 
						<%if ai.ARObjType.ToString()=="2"%>
							checked
						<%/if%>
					<%/if%>
					>结算系统
					</td>
				</tr>
<tr>
                  <td  align="right">开票日期</td>
                  <td align="left">
                  <input name="aOpenDate" id="aOpenDate" onclick="new Calendar().show(this);" type="text" 
                  <%if Act=="Edit"%>
					  <%set {aspxrewriteurl}=DateTime.Parse(ai.aOpenDate.ToString()).ToString("yyyy-MM-dd")%>
					  
				  <%else%>
						<%set {aspxrewriteurl}=DateTime.Now.ToString("yyyy-MM-dd")%>
				  <%/if%>
						value="{aspxrewriteurl}"
				  >(结算时间点,自动计算新增金额)
                  </td>
                </tr>	
                <tr id="ARObjType_A_box">
                  <td width="20%" align="right">门店</td>
                  <td align="left">
                  <input name="StoresName" id="StoresName" type="text" 
                  <%if Act=="Edit"%>value="{ai.ARObjName}"<%/if%>
                  />
				  <INPUT TYPE="hidden" NAME="StoresID" id="StoresID" <%if Act=="Edit"%>value="{ai.ARObjID}"<%/if%>>
				  检索可输入*(选中后再双击门店名称选择可自动计算金额)</td>
                </tr>
                
                <tr id="ARObjType_B_box">
                  <td  align="right">人员</td>
                  <td align="left">
				  <input name="StaffName" id="StaffName" type="text" 
                  <%if Act=="Edit"%>value="{ai.ARObjName}"<%/if%> />
				  <INPUT TYPE="hidden" NAME="StaffID" id="StaffID" <%if Act=="Edit"%>value="{ai.ARObjID}"<%/if%>>
					检索可输入*</td>
                </tr>
				
				<tr id="ARObjType_C_box">
                  <td  align="right">结算系统</td>
                  <td align="left">
				  <input name="PaymentSystemName" id="PaymentSystemName" type="text" 
                  <%if Act=="Edit"%>value="{ai.ARObjName}"<%/if%> />
				  <INPUT TYPE="hidden" NAME="PaymentSystemID" id="PaymentSystemID" <%if Act=="Edit"%>value="{ai.ARObjID}"<%/if%>>
					检索可输入*</td>
                </tr>
				
				<tr>
                  <td  align="right">新增应收金额</td>
                  <td align="left">
				  <input name="aAMoney" id="aAMoney" type="text" 
                  <%if Act=="Edit"%>value="{ai.aAMoney}"<%/if%> />
				  </td>
                </tr>
				<tr>
                  <td  align="right">实际历史对账金额</td>
                  <td align="left">
				  <input name="aBMoney" id="aBMoney" type="text" 
                  <%if Act=="Edit"%>value="{ai.aBMoney}"<%/if%> />
				  </td>
                </tr>
				
				<tr>
                  <td  align="right">开票金额</td>
                  <td align="left">
                  <input name="aOpenMoney" id="aOpenMoney" type="text" 
                  <%if Act=="Edit"%>value="{ai.aOpenMoney}"<%/if%>>
                  </td>
                </tr>
				<tr>
                  <td  align="right">预计到款日期</td>
                  <td align="left">
                  <input name="aDate" id="aDate" onclick="new Calendar().show(this);" type="text" 
                  <%if Act=="Edit"%>
				  <%set {aspxrewriteurl}=DateTime.Parse(ai.aDate.ToString()).ToString("yyyy-MM-dd")%>
				  value="{aspxrewriteurl}"
				  <%/if%>>
                  </td>
                </tr>
				


				<tr>
                  <td  align="right">实际收款日期</td>
                  <td align="left">
                  <input name="aActualDate" id="aActualDate" onclick="new Calendar().show(this);" type="text" 
                  <%if Act=="Edit"%>
				  <%set {aspxrewriteurl}=DateTime.Parse(ai.aActualDate.ToString()).ToString("yyyy-MM-dd")%>
				  value="{aspxrewriteurl}"
				  <%/if%>>
                  </td>
                </tr>
				<tr>
                  <td  align="right">实际收款金额</td>
                  <td align="left">
				  <!--onkeydown="javascript:AutoValue();" onkeyup="javascript:AutoValue();" onchange="javascript:AutoValue();"-->
                  <input name="aActualMoney" id="aActualMoney" type="text"  
                  <%if Act=="Edit"%>value="{ai.aActualMoney}"<%/if%>>
                  </td>
                </tr>
				<tr>
                  <td  align="right">操作步骤</td>
                  <td align="left">
                  <INPUT TYPE="checkbox" NAME="aSteps" value="2" id="aSteps" class="B_Check"
				  <%if ai.aSteps.ToString() == "2"%>
				   checked="checked"
				  <%/if%>
				  >已完成
                  </td>
                </tr>
				

				
                <tr>
                  <td colspan="2" align="center">
				  <INPUT TYPE="hidden" NAME="ARObjID" id="ARObjID" <%if Act=="Edit"%>value="{ai.ARObjID}"<%/if%> >
				  <INPUT TYPE="hidden" NAME="tValue" id="tValue" <%if Act=="Edit"%>value="{ai.aBMoney}"<%/if%>>
				  <input type="button" id="button1" style="margin:5px" class="B_INPUT" value="确定" onClick="javascript:CheckF();"/>
                  <input type="button" id="button2" style="margin:5px" class="B_INPUT" value="取消" onClick="javascript:window.parent.HidBox();" /></td>
                </tr>
              </table>
    
            </form>
            
<script language="javascript" type="text/javascript">


$().ready(function(){
	$('#StoresName').autocomplete('Services/CAjax.aspx',{
		
		width: 200,
		scroll: true,
		autoFill: true,
		scrollHeight: 200,
		matchContains: true,
		dataType: 'json',
		extraParams:{
			'do':'GetStoresList',
			'RCode':Math.random(),
			'eDate':function(){return $('#aOpenDate').val()},
			'StoresName':function(){return $('#StoresName').val();}
		},
		parse: function(data) {
				var rows = [];  
				var tArray = data.results;
				 for(var i=0; i<tArray.length; i++){  
				  rows[rows.length] = {    
					data:tArray[i].value +"("+ tArray[i].info+")",    
					value:tArray[i].id,    
					result:tArray[i].value,
						ArMoney: tArray[i].ArMoney,
						NrMoney: tArray[i].NrMoney    
					};    
				  }
			   return rows; 
			 },
		formatItem: function(row, i, max) {  
			   return row;
		},
		formatMatch: function(row, i, max) {
					return row.value; 
		},
		formatResult: function(row) { 
					return row.value;
		}
	  }).result(function(event, data, formatted, row) {
			$("#aAMoney").val(row.NrMoney);
			$("#aBMoney").val(row.ArMoney);
			$('#tValue').val(row.ArMoney);
			$("#StoresID").val((formatted!=null)?formatted:"0");      
		}
	  );
	
	

	$('#StaffName').autocomplete('Services/CAjax.aspx',{ 
		
		width: 200,
		scroll: true,
		autoFill: true,
		scrollHeight: 200,
		matchContains: true,
		dataType: 'json',
		extraParams:{
			'do':'GetStaffList',
			'RCode':Math.random(),
			'StaffName':function(){return $('#StaffName').val();}
		},
		parse: function(data) {
				var rows = [];  
				var tArray = data.results;
				 for(var i=0; i<tArray.length; i++){  
				  rows[rows.length] = {    
					data:tArray[i].value +"("+ tArray[i].info+")",    
					value:tArray[i].id,    
					result:tArray[i].value    
					};    
				  }
			   return rows; 
			 },
		formatItem: function(row, i, max) {  
			   return row;
		},
		formatMatch: function(row, i, max) {
					return row.value; 
		},
		formatResult: function(row) { 
					return row.value;
		}
	  }).result(function(event, data, formatted) {
			$("#StaffID").val((formatted!=null)?formatted:"0");
		}
	  );

	  $('#PaymentSystemName').autocomplete('Services/CAjax.aspx',{ 
		
		width: 200,
		scroll: true,
		autoFill: true,
		scrollHeight: 200,
		matchContains: true,
		dataType: 'json',
		extraParams:{
			'do':'GetPaymentSystemList',
			'RCode':Math.random(),
			'eDate':function(){return $('#aOpenDate').val()},
			'PaymentSystemName':function(){return $('#PaymentSystemName').val();}
		},
		parse: function(data) {
				var rows = [];  
				var tArray = data.results;
				 for(var i=0; i<tArray.length; i++){  
				  rows[rows.length] = {    
					data:tArray[i].value +"("+ tArray[i].info+")",    
					value:tArray[i].id,    
					result:tArray[i].value,
						NrMoney: tArray[i].NrMoney,
						ArMoney: tArray[i].tArray    
					};    
				  }
			   return rows; 
			 },
		formatItem: function(row, i, max) {  
			   return row;
		},
		formatMatch: function(row, i, max) {
					return row.value; 
		},
		formatResult: function(row) { 
					return row.value;
		}
	  }).result(function(event, data, formatted, row) {
			$("#aAMoney").val(row.NrMoney);
			$("#aBMoney").val(row.ArMoney);
			$('#tValue').val(row.ArMoney);
			$("#PaymentSystemID").val((formatted!=null)?formatted:"0");
		}
	  );

});

function AutoValue()
{
	var sObj = document.getElementById('aActualMoney');
	var tObj = document.getElementById('aBMoney');
	var ttObj = document.getElementById('aOpenMoney');
	var vObj = document.getElementById('tValue');
	if(sObj && tObj && ttObj && vObj)
	{
		tObj.value = Number(vObj.value)-Number(sObj.value);
		ttObj.value = tObj.value;
	}
}

	function CheckR()
	{
		var ARObjType_A = Sys.getObj('ARObjType_A');
		var ARObjType_B = Sys.getObj('ARObjType_B');
		var ARObjType_C = Sys.getObj('ARObjType_C');

		var ARObjType_A_box = Sys.getObj('ARObjType_A_box');
		var ARObjType_B_box = Sys.getObj('ARObjType_B_box');
		var ARObjType_C_box = Sys.getObj('ARObjType_C_box');
		if(ARObjType_A.checked)
		{
			ARObjType_A_box.style.display = "";
			ARObjType_B_box.style.display = "none";
			ARObjType_C_box.style.display = "none";
		}
		else if(ARObjType_B.checked)
		{
			ARObjType_A_box.style.display = "none";
			ARObjType_B_box.style.display = "";
			ARObjType_C_box.style.display = "none";
		}else if(ARObjType_C.checked)
		{
			ARObjType_A_box.style.display = "none";
			ARObjType_B_box.style.display = "none";
			ARObjType_C_box.style.display = "";
		}

		ARObjType_A = null;
		ARObjType_B = null;
		ARObjType_C = null;

		ARObjType_A_box = null;
		ARObjType_B_box = null;
		ARObjType_C_box = null;
	}
	CheckR();

	function CheckF()
	{
		var ARObjType_A = Sys.getObj('ARObjType_A');
		var ARObjType_B = Sys.getObj('ARObjType_B');
		var ARObjType_C = Sys.getObj('ARObjType_C');
		
		if(ARObjType_A.checked)
		{
			if(Sys.getObj('StoresName').value == '')
			{
				alert('门店名称不能为空!');	
			}else
			{
				Sys.getObj('ARObjID').value=Sys.getObj('StoresID').value;
				Sys.getObj('bForm').submit();
			}
		
		}else  if(ARObjType_B.checked){
			if(Sys.getObj('StaffName').value == '')
			{
				alert('人员不能为空!');	
			}else
			{
				Sys.getObj('ARObjID').value=Sys.getObj('StaffID').value;
				Sys.getObj('bForm').submit();
			}
		}else  if(ARObjType_C.checked){
			if(Sys.getObj('PaymentSystemName').value == '')
			{
				alert('结算系统不能为空!');	
			}else
			{
				Sys.getObj('ARObjID').value=Sys.getObj('PaymentSystemID').value;
				Sys.getObj('bForm').submit();
			}
		}
	}
	</script>
            
            <%/if%>
    <%/if%>
<%/if%>


<%template _footer%>