<%template _poppageheader%>
<body>

<%if {ispost} %>
	<%if page_err==0%>
		<%template _popmsgbox%>
	<%else%>
		<%template _poperrmsgbox%>
	<%/if%>
<%else%>
    <%if page_err!=0%>
    	<%template _poperrmsgbox%>
    <%else%>
        <%if page_msg!=0%>
            <%template _popmsgbox%>
        <%else%>
<script type="text/javascript" src="/public/js/dialog.js"></script>
<script src="public/js/WebCalendar.js" type="text/javascript" ></script>

<link rel="stylesheet" type="text/css" href="public/js/jquery.autocomplete.css"></link>
<script type="text/javascript" src="public/js/jquery.autocomplete.js "></script>

<script type="text/javascript" src="public/js/certificate_do.js "></script>
<script type="text/javascript" src="public/js/jquery.mcdropdown.js"></script>
<script type="text/javascript" src="public/js/jquery.bgiframe.js"></script>

<!--<script type="text/javascript" src="public/js/jquery.json2xml.js"></script>-->

<link type="text/css" href="templates/{templatepath}/css/jquery.mcdropdown.css" rel="stylesheet" media="all" />

<script src="public/js/LodopFuncs.js" type="text/javascript" ></script>


<form name="bForm" id="bForm" action="" method="post">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableBox">
  <tr >
    <td align="left" valign="top">
<table width="100%" border="0" cellpadding="2" cellspacing="0">
      <tr class="tBar">
        <td>  
<table  border="0" cellpadding="2" cellspacing="2">
      <tr >
        <td width="200">
        发生时间:<%set {aspxrewriteurl}=cDateTime.ToString("yyyy-MM-dd")%>
<br /><input name="cDateTime" type="text" id="cDateTime" onClick="new Calendar().show(this);" value="{aspxrewriteurl}" readonly="readonly"/>
        
          </td>
        <td>
        <nobr>序号:</nobr><br>
        <input type="text" id="cNumber" name="cNumber" value="{cNumber}" />
          <input type="hidden" id="cCode" name="cCode" value="{cCode}" />
        </td>
        
        <td>附件张数:<br><input type="text" name="cRemake" id="cRemake" <%if Act=="Edit"%>value="{ci.cRemake}"<%/if%> />
        </td>
        <td class="aBt">经办人:<br>
        <input type="hidden" id="StaffID" name="StaffID" 
        <%if Act=="Edit"%>value="{ci.StaffID}"<%/if%>
        />
        <input type="text" id="StaffName" name="StaffName" 
        <%if Act=="Edit"%>value="{ci.StaffName}"<%/if%>
        /><a href="#"  id="StaffID_bt"></a>

        </td>
      </tr>
    </table>
    </td>
    </tr>
    </table>
<table width="100%" border="0" cellspacing="1" cellpadding="1" class="tBox" id="tBoxs">
<thead>
  <tr class="tBar">
    
    <td>摘要</td>
    <td width="20%">科目</td>
    <td width="20%">单位</td>
    <td width="10%" align="right">借方金额</td>
    <td width="10%" align="right">贷方金额</td>
    <td width="5%" align="center" >操作</td>
  </tr>

</thead>
<tbody id="dloop">
 
</tbody>
</table>
    </td>
  </tr>
</table>
<div style="height:50px"></div>
<div id="footer_tool">
<div>
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="tBox">
	<tr class="tBar">
	  <td align="left">合计</td>
	  <td width="10%" align="right" id="SumMoneyA">&nbsp;</td>
	  <td width="10%" align="right" id="SumMoneyB">&nbsp;</td>
	  <td width="5%" align="right" id="SumMoney"></td>
     </tr>
    </table>
</div>
<input type="hidden" name="cObject" id="cObject" 
<%if OrderID>0%>
value="1"
<%/if%> />
<input type="hidden" name="NewPIC" id="NewPIC" value=""/>
<input type="hidden" name="cObjectID" id="cObjectID" value="{OrderID}" />
<input type="hidden" name="cMoney" id="cMoney" value="" />
<input type="hidden" name="CertificateDataStr" id="CertificateDataStr" value=""/>

<%if Act == "Add"%>
<input type="button" name="subbutton_add" id="subbutton_add" value=" 添加摘要 " class="B_INPUT">
<input type="button" name="subbutton_save" id="subbutton_save" value=" 保存凭证 " class="B_INPUT">
<%/if%>

<%if Act == "Edit"%>

	<%if IsVerify == true%>
		<%if ci.cState == 0%>
			<%if IsVerifyLongTimeB == false%>
				<input type="button" name="subbutton_re_verify" id="subbutton_re_verify" value=" 撤回重审 " class="B_INPUT">
			<%else%>
				<%if CheckUserPopedoms("X") || CheckUserPopedoms("6-5-8")%>
					<input type="button" name="subbutton_re_verify" id="subbutton_re_verify" value=" 撤回重审 " class="B_INPUT">
				<%/if%>
			<%/if%>

			<%if IsVerifyLongTime == false%>
				<input type="button" name="subbutton_invalid" id="subbutton_invalid" value=" 作  废 " class="B_INPUT">
			<%else%>
				<%if CheckUserPopedoms("X")%>
					<input type="button" name="subbutton_invalid" id="subbutton_invalid" value=" 作  废 " class="B_INPUT">
				<%/if%>
			<%/if%>
		<%/if%>
    	<input type="button" name="subbutton_print_t" id="subbutton_print_t" value=" 打印凭证 " class="B_INPUT">
    <%else%>
    	<input type="button" name="subbutton_add" id="subbutton_add" value=" 添加摘要 " class="B_INPUT">
		<input type="button" name="subbutton_save" id="subbutton_save" value=" 保存凭证 " class="B_INPUT">
        <input type="button" name="subbutton_verify" id="subbutton_verify" value=" 审  核 " class="B_INPUT">
    <%/if%>
    &nbsp;&nbsp;
    <input type="button" name="subbutton_up" id="subbutton_up" value=" 上一条 " class="B_INPUT">&nbsp;
    <input type="button" name="subbutton_down" id="subbutton_down" value=" 下一条 " class="B_INPUT">&nbsp;
    <input type="button" name="subbutton_log" id="subbutton_log" value=" 操作记录 " class="B_INPUT">
<%/if%>

<!--<input type="button" name="subbutton_camera" id="subbutton_camera" value=" 录入凭证原件 " class="B_INPUT">&nbsp;&nbsp;-->
</div>

</form>

<script language="javascript" type="text/javascript">

var Certificate_do = new TCertificate_do();
Certificate_do.OrderType = {OrderType};
Certificate_do.OrderID = {OrderID};
Certificate_do.PrintPageWidth = '{config.PrintCertificatePageWidth}';
Certificate_do.CertificateDataJsonStr = '{CertificateDataJsonStr}';
Certificate_do.Certificate_lock = {config.Certificate_lock};

Certificate_do.DepartmentsJsonStr = '{DepartmentsJson}';
Certificate_do.SupplierJsonStr = '{SupplierJson}';
Certificate_do.CustomersJsonStr = '{CustomersJson}';
Certificate_do.FeesSubjectJsonStr = '{FeesSubjectJson}';
Certificate_do.PaymentSystemJsonStr = '{PaymentSystemJson}';

Certificate_do.CertificateID = {CertificateID};
Certificate_do.UserCode = '{UserCode}';

<%set {aspxrewriteurl}=cDateTime.ToString("yyyy-MM-dd")%>
Certificate_do.OldcDateTime = '{aspxrewriteurl}';

<%if Act=="Add"%>
Certificate_do.IsAddNew = true;
<%/if%>
<%if Act=="Edit"%>
Certificate_do.IsEdit = true;

<%/if%>

Certificate_do.ini();
function HidBox()
{
	Certificate_do.HidUserBox();
}
//单位回调
function cObjReCall(sID,sType,sName)
{
	HidBox();
	Certificate_do.ShowcObjectBox_ReCall(sID,sType,sName);
}
//科目对调
function sObjReCall(sID,sName)
{
	HidBox();
	Certificate_do.ShowFeesSubjectBox_ReCall(sID,sName);
}
</script>
            
            <%/if%>
    <%/if%>
<%/if%>

<object id="LODOP" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0> 
	<embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0 pluginspage="/public/install_lodop.exe"></embed>
</object>
<%template _footer%>