<%template _poppageheader%>
<body>

<%if {ispost} %>
	<%if page_err==0%>
		<%template _popmsgbox%>
	<%else%>
		<%template _poperrmsgbox%>
	<%/if%>
<%else%>
    <%if page_err!=0%>
    	<%template _poperrmsgbox%>
    <%else%>
        <%if page_msg!=0%>
            <%template _popmsgbox%>
        <%else%>
        <script type="text/javascript" src="/public/js/datatomail_do.js"></script>  
        <form name="bForm" id="bForm" action="" method="post">
        <table width="100%" border="0" cellspacing="2" cellpadding="3">
  <tr>
    <td width="30%" align="right">数据类型:</td>
    <td>
    <select name="dDataType" id="dDataType">
    <%if DataTypes != null%>
    <%loop dt DataTypes%>
    <option value="{dt[id]}" 
    <%if Act=="Edit"%>
    <%if dt["id"].ToString() == dtm.dDataType.ToString()%>
    selected
    <%/if%>
    <%/if%>
    >{dt[name]}</option>
    <%/loop%>
    <%/if%>
    </select>
    </td>
  </tr>
  <tr>
    <td align="right">统计类型:</td>
    <td>
    <select name="dDateType" id="dDateType">
    <option value="1"
    <%if Act=="Edit"%>
    <%if 1 == dtm.dDateType%>
    selected
    <%/if%>
    <%/if%>
    >日</option>
    <option value="2"
    <%if Act=="Edit"%>
    <%if 2 == dtm.dDateType%>
    selected
    <%/if%>
    <%/if%>
    >周</option>
    <option value="3"
    <%if Act=="Edit"%>
    <%if 3 == dtm.dDateType%>
    selected
    <%/if%>
    <%/if%>
    >月</option>
    </select></td>
  </tr>
  <tr>
    <td align="right">收件人邮箱:</td>
    <td><input type="text" name="dEmail" id="dEmail" <%if Act=="Edit"%> value ="{dtm.dEmail}" <%/if%>></td>
  </tr>
  <tr>
    <td align="right">状态:</td>
    <td><input name="dState" type="radio" id="radio" value="0" class="B_Check" 
    <%if Act=="Edit"%>
    <%if dtm.dState==0%>
    checked
    <%/if%>
    <%/if%>
    >正常
    <input name="dState" type="radio" id="radio" value="1" class="B_Check" 
    <%if Act=="Edit"%>
    <%if dtm.dState==1%>
    checked
    <%/if%>
    <%/if%>
    >屏蔽</td>
  </tr>
        </table>

        <div id="footer_tool">
      <input type="button" id="bt_ok" style="margin:5px" class="B_INPUT" value="确定" />
        	<input type="button" id="bt_cl" style="margin:5px" class="B_INPUT" value="取消"  />
        </div>
</form>
<script language="javascript" type="text/javascript">
var DataToMail_Do = new TDataToMail_Do();
DataToMail_Do.ini();

function HidBox()
{
	DataToMail_Do.HidUserBox();
	location=location;
}

//addTableListener(document.getElementById("tBoxs"),0,0);
</script>
        <%/if%>
    <%/if%>
<%/if%>

<%template _footer%>