<%template _header%>


<%if {ispost} %>
	<%if page_err==0%>
		<%template _msgbox%>
	<%else%>
		<%template _errmsgbox%>
	<%/if%>
<%else%>
<script src="public/js/gifts.js" language="javascript" type="text/javascript"></script>

    <div class="main" id="usermanage">
        <%if page_err!=0%>
            <%template _errmsgbox%>
        <%else%>
        
<div class="toolbar">
<input type="button" id="button1" style="margin:5px" class="B_INPUT" value="删除选中" onclick="javascript:GiftsManage.Delt();"  />
<input type="button" id="button3" style="margin:5px" class="B_INPUT" value="添加" onclick="javascript:GiftsManage.ShowAddUserBox();"  />
</div>
<div class="datalist">
    <form action="" method="post" name="form1" id="form1">
        <table width="100%" border="0" cellspacing="2" cellpadding="0" class="tBox" id="tBoxs">
          <tr class="tBar">
            <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="" onclick="javascript:selectCheck(document.getElementById('form1'),this);"/></td>
            <td >门店</td>
			<td width="20%">产品</td>
			<td width="20%">数量</td>
			<td width="10%">发生时间</td>
            <td width="10%">创建时间</td>
            <td width="10%">操作</td>
          </tr>
          <%if dList != null%>
          <%loop dl dList%>
          <tr>
            <td>
            <input name="cCheck" type="checkbox" class="B_Check" value="{dl[GiftsID]}" />
            </td>
            <td>{dl[StoresName]}</td>
			<td>{dl[ProductsName]}</td>
			<td align="right">{dl[gNum]}</td>
			<td>{dl[gDateTime]}</td>
			<td>{dl[gAppendTime]}</td>
            <td>
			<a href="javascript:void(0);" onclick="javascript:GiftsManage.ShowDelUserBox({dl[GiftsID]});">删除</a> 
			<a href="javascript:void(0);" onclick="javascript:GiftsManage.ShowEditUserBox({dl[GiftsID]});">修改</a>
			</td>
          </tr>
          <%/loop%>
          <tr>
            <td colspan="7"><%if PageBarHTML!=null%>{PageBarHTML}<%/if%></td>
          </tr>
          
          <%/if%>
        </table>
    </form>
</div>

      <%/if%>
    </div>
<script language="javascript" type="text/javascript">
var GiftsManage = new TGiftsManage();
GiftsManage.ini();

function HidBox()
{
	GiftsManage.HidUserBox();
	location.reload();
}
addTableListener(document.getElementById("tBoxs"),0,0);
</script>
<%/if%>

<%template _copyright%>
<%template _footer%>
