<%template _poppageheader%>
<body>
<script type="text/javascript" src="public/js/Cxty_XTool.js"></script>
<script src="public/js/WebCalendar.js" type="text/javascript" ></script>

<link rel="stylesheet" type="text/css" href="public/js/jquery.autocomplete.css"></link>
<script type="text/javascript" src="public/js/jquery.autocomplete.js "></script>

<script type="text/javascript" src="public/js/marketingfees_bat.js "></script>

<%if {ispost} %>
	<%if page_err==0%>
		<%template _popmsgbox%>
	<%else%>
		<%template _poperrmsgbox%>
	<%/if%>
<%else%>
    <%if page_err!=0%>
    	<%template _poperrmsgbox%>
    <%else%>
        <%if page_msg!=0%>
            <%template _popmsgbox%>
        <%else%>
            <form name="bForm" id="bForm" action="" method="post">
              <table width="100%" border="0" cellspacing="2" cellpadding="2" >
                <tr>
                  <td colspan="2" align="left"><h1>批量添加收入支出</h1></td>
                </tr>
				
				<tr>
					<td width="20%" align="right">选择类型</td>
					<td align="left">
					<INPUT class="B_Check" TYPE="radio" NAME="ObjType" id="ObjType_A" value="0" onclick="javascript:Marketingfees_bat.CheckR();" checked >收入
					<INPUT class="B_Check" TYPE="radio" NAME="ObjType" id="ObjType_B" value="1" onclick="javascript:Marketingfees_bat.CheckR();" >支出
					&nbsp;
					<span id="ObjType_B_Box">
						选择费用类型:
						<INPUT class="B_Check" TYPE="radio" NAME="ObjTypeB" id="ObjTypeB_A" value="0" onclick="javascript:Marketingfees_bat.CheckRB();" checked >销售费用
						<INPUT class="B_Check" TYPE="radio" NAME="ObjTypeB" id="ObjTypeB_B" value="1" onclick="javascript:Marketingfees_bat.CheckRB();" >公司费用
					</span>
					</td>
				</tr>

                <tr>
					<td colspan="2" align="left">


<table width="630px" border="0" cellspacing="0" cellpadding="0" class="tBox">
  <tr class="tBar">
    <td width="100px" id="tObj_Box">
   	  门店*
    </td>
    <td width="70px">科目*</td>
    <td width="70px">经办人*</td>
    <td width="70px">发生时间</td>
    <td width="70px">金额</td>
    <td width="100px">备注</td>
    <td width="30px">操作</td>
  </tr>
  <tr>
    <td colspan="7">
    <div style="overflow:scroll;height:300px;overflow-x:hidden;clear:left;" align="left" id="tLoop_box">
    
    </div>
	<INPUT TYPE="hidden" NAME="Act" id="Act">
	<INPUT TYPE="hidden" NAME="loop_count_obj" id="loop_count_obj">
	<input type="button" id="button3" style="margin:5px" class="B_INPUT" value="增加" onClick="javascript:Marketingfees_bat.Add();" />
	<input type="button" id="button1" style="margin:5px" class="B_INPUT" value="确定保存" onClick="javascript:Marketingfees_bat.CheckS();"/>
    <input type="button" id="button2" style="margin:5px" class="B_INPUT" value="取消" onClick="javascript:window.parent.HidBox();" />
    </td>
  </tr>
</table>



					</td>
				</tr>

              </table>
    
            </form>
            
    <script language="javascript" type="text/javascript">
	var Marketingfees_bat = new TMarketingfees_bat();
	Marketingfees_bat.ini();
	</script>
            
            <%/if%>
    <%/if%>
<%/if%>


<%template _footer%>