<%template _poppageheader%>
<body>

<%if {ispost} %>
	<%if page_err==0%>
		<%template _popmsgbox%>
	<%else%>
		<%template _poperrmsgbox%>
	<%/if%>
<%else%>
    <%if page_err!=0%>
    	<%template _poperrmsgbox%>
    <%else%>
        <%if page_msg!=0%>
            <%template _popmsgbox%>
        <%else%>
            <form name="bForm" id="bForm" action="" method="post">
            <%if msi!=null%>
            <h2>对账单号:{msi.sCode}</h2>
              <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tBox" id="tBoxs">
                <tr class="tBar">
                  <td width="25%">操作时间</td>
                  <td width="20%">操作员</td>
                  <td width="20%">操作类型</td>
                  <td>备注</td>
                </tr>
                <%if dList != null%>
          <%loop dl dList%>
                <tr>
                  <td>{dl[mAppendTime]}</td>
                  <td>
                  <%if dl["UserStaffName"].ToString()==""%>
            {dl[UserName]}
            <%else%>
            {dl[UserStaffName]}
            <%/if%>
                  </td>
                  <td>
                  <%if dl["mType"].ToString() == "-1"%>
                  作废
                  <%/if%>
                  <%if dl["mType"].ToString() == "0"%>
                  新开
                  <%/if%>
                  <%if dl["mType"].ToString() == "1"%>
                  修改
                  <%/if%>
                  <%if dl["mType"].ToString() == "2"%>
                  对账确认
                  <%/if%>
                  <%if dl["mType"].ToString() == "3"%>
                  到款
                  <%/if%>
                  <%if dl["mType"].ToString() == "4"%>
                  结账
                  <%/if%>
                  <%if dl["mType"].ToString() == "5"%>
                  打印
                  <%/if%>
				  <%if dl["mType"].ToString() == "6"%>
                  差额去向处理
                  <%/if%>
				  <%if dl["mType"].ToString() == "7"%>
                  随附凭证
                  <%/if%>
                  </td>
                  <td>{dl[mMsg]}</td>
                </tr>
                <%/loop%>
          <%/if%>
                <tr>
                  <td colspan="4">
<%if PageBarHTML!=null%>
{PageBarHTML}
<%/if%>
                  </td>
                </tr>
              </table>
             <%/if%>
    
</form>
<script language="javascript" type="text/javascript">
addTableListener(document.getElementById("tBoxs"),0,0);
</script>
            
            <%/if%>
    <%/if%>
<%/if%>


<%template _footer%>