<%template _header%>

<%if page_err!=0%>
    <%template _errmsgbox%>
<%else%>
<script src="public/js/WebCalendar.js" type="text/javascript" ></script>
<script src="public/js/orderlist.js" language="javascript" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="public/js/jquery.autocomplete.css"></link>
<script type="text/javascript" src="public/js/jquery.autocomplete.js "></script>
<script language="javascript" src="public/js/jTable.js"></script>
<script language="javascript" src="public/js/jquery.jFlash.js"></script>
<script src="public/js/LodopFuncs.js" type="text/javascript"></script>

    <div class="main" id="OrderList">
        <%if page_err!=0%>
            <%template _errmsgbox%>
        <%else%>
        <form action="" method="post" name="form1" id="form1">        
        <div class="toolbar">
        <div class="toolbox">
        <input type="button" id="button_o" style="margin:3px" class="B_INPUT" value=" 开 单 "  />
        <input type="button" id="button_e" style="margin:3px;" class="B_INPUT" value=" 导 出 "   />
        <%if CheckUserPopedoms("X")%>
        <input type="button" id="button_a" style="margin:3px;" class="B_INPUT" value=" 导出（含子单据）"   />
        <%/if%>
        <input type="button" id="button_s" style="margin:3px;" class="B_INPUT" value=" 查 找 "   />
        </div>
          <%if oSteps!=-2%><!--非查询非全额单据-->
        <table border="0" cellspacing="2" cellpadding="2" id="s_box">
          <tr>
            <td>
        
        <%if ordertype!=8 && ordertype!=10 && ordertypeStr.IndexOf("|8|")==-1 && ordertypeStr.IndexOf("|10|")==-1%>
        
                <%if (ordertype==1) || (ordertype==2)  || ordertypeStr.IndexOf("|1|")>-1 || ordertypeStr.IndexOf("|2|")>-1%>
                供货商:
                <%else%>
                	<%if (ordertype==9 || ordertypeStr.IndexOf("|9|")>-1)%>
                    	仓库:
                    <%else%>
                    	客户:
						<%set {ordertypeStr}="|3|4|5|6|7|"%>
                    <%/if%>
                
                <%/if%>(检索输入*)<br/>
                <input name="StoresSupplier" id="StoresSupplier" type="text" value="{StoresSupplier}" />
                <input name="StoresSupplierID" id="StoresSupplierID" type="hidden" value="{StoresSupplierID}" />
        
            <%/if%>
        
            </td>
            <td>
        业务员:(检索输入*)<br/>
                <input name="StaffName" id="StaffName" type="text" value="{StaffName}" />
                <input name="StaffID" id="StaffID" type="hidden" value="{StaffID}" />
            </td>
            <!--
            <td>
        操作员:(检索输入*)<br/>
                <input name="UserName" style="width:120px" id="UserName" type="text" value="{UserName}" />
                <input name="UserID" id="UserID" type="hidden" value="{UserID}" />
            </td>-->
			<td>
商品:(检索可输入*)<br />
              <input name="ProductsName" id="ProductsName" type="text" value="{ProductsName}" />
            <input name="ProductsID" id="ProductsID" type="hidden" value="{ProductsID}" />
            
            </td>
			<td> 单据号:<br/>
            <input name="oOrderNum" style="width:140px" id="oOrderNum" value="{oOrderNum}" type="text" /></td>
            <td>
 客户订单号:<br/>
            <input name="oCustomersOrderID" style="width:120px" id="oCustomersOrderID" value="{oCustomersOrderID}" type="text" />
            
            </td>
          </tr>
          
          <tr>
          <td colspan="5">
<table border="0" cellspacing="2" cellpadding="2">
              <tr>
                <td>单据状态:<br/>
              <select name="oState" id="oState">
                <option value="-1" 
        <%if oState==-1%>
         selected="selected"
        <%/if%>
         >所有</option>
                <option value="0"
        <%if oState==0%>
         selected="selected"
        <%/if%>
        >正常</option>
                <option value="1"
        <%if oState==1%>
         selected="selected"
        <%/if%>
        >作废</option>
            </select></td>
            <td>
            
            单据步骤:<br/>
              <select name="oSteps" id="oSteps">
                <option value="-1" 
        <%if oSteps==-1%>
         selected="selected"
        <%/if%>
         >所有</option>
                <%if OrderStpes!=null%>
                <%loop ol OrderStpes%>
                <option value="{ol[id]}"
            <%if oSteps.ToString()==ol["id"].ToString()%>
             selected="selected"
            <%/if%>
            >{ol[Name]}</option>
                <%/loop%>
                <%/if%>
            </select>
            
            
            
            </td>
            <td>
            
            <input class="B_Check" type="radio" name="sType" id="sType_a" value="1" <%if sType==1%> checked="checked"<%/if%> />
            <label for="sType_a">单据时间:</label><br/>
              <nobr>
              <input name="oOrderDateTimeB" id="oOrderDateTimeB" style="width:70px" value="{oOrderDateTimeB}" type="text" onclick="new Calendar().show(this);" readonly/>
              -
              <input name="oOrderDateTimeE" id="oOrderDateTimeE" style="width:70px" value="{oOrderDateTimeE}" type="text" onclick="new Calendar().show(this);" readonly/>
            </nobr>
            </td>

            <td>
            <input name="sType" type="radio" class="B_Check" id="sType_b" value="2" <%if sType==2%> checked="checked"<%/if%> />
            <label for="sType_b">操作时间:</label><br />
              <nobr>
              <input name="dDateTimeB" id="dDateTimeB" style="width:70px" value="{dDateTimeB}" type="text" onclick="new Calendar().show(this);" readonly/>
-
<input name="dDateTimeE" id="dDateTimeE" style="width:70px" value="{dDateTimeE}" type="text" onclick="new Calendar().show(this);" readonly/>
            </nobr></td>
            
            <td>
            仓库:(检索输入*)<br/>
                <input name="StorageName" id="StorageName" type="text" value="{StorageName}" />
                <input name="StorageID" id="StorageID" type="hidden" value="{StorageID}" />
            </td>
            
              </tr>
            </table>
</td>
          </tr>
          <tr>
            <td colspan="5">
            <INPUT TYPE="hidden" NAME="Act" id="Act">
            <INPUT TYPE="hidden" NAME="ordertype" id="ordertype">
              <nobr>
              <%if ordertype!=0%>
              <%set {aspxrewriteurl}=GetOrderType(ordertype.ToString())%>
              <input type="button" id="button5" style="margin:3px;width:88px" class="B_INPUT" value="{aspxrewriteurl}单查找" onclick="javascript:OrderList.Search();"  />
              <%/if%>
              
<%if ordertype!=8 && ordertype!=10 && ordertypeStr.IndexOf("|8|")==-1 && ordertypeStr.IndexOf("|10|")==-1%>
<input type="button" id="button6" style="margin:3px;width:120px" class="B_INPUT"   
     <%if (ordertype==1) || (ordertype==2)  || ordertypeStr.IndexOf("|1|")>-1 || ordertypeStr.IndexOf("|2|")>-1%>
    <%set {aspxrewriteurl}="供应商(采购/退货)"%>
    ordertypeStr="|1|2|"
    <%else%>
        <%if (ordertype==9 || ordertypeStr.IndexOf("|9|")>-1)%>
          <%set {aspxrewriteurl}="仓库"%>
          ordertypeStr="|9|"
        <%else%>
           <%set {aspxrewriteurl}="客户(销售/退货)"%>
           ordertypeStr="|3|4|"
        <%/if%>
    
    <%/if%>
 value="所有{aspxrewriteurl}查找" onclick="javascript:OrderList.SearchC(this);"  />
<%/if%>
              
                <input type="button" id="button7" style="margin:3px;width:88px" class="B_INPUT" value="所有单据查找" onclick="javascript:OrderList.SearchB();"  />

                  <input type="button" id="print_show_bt" style="margin:3px;width:88px" class="B_INPUT" value="批量打印" >
                  <input type="button" id="print_all_bt" style="margin:3px;width:88px" class="B_INPUT" value="打印选择单据" />
              
                </nobr>
             </td>
          </tr>
        </table>
        <div class="list_title">
            <%if ordertype!=0%>
               <%set {aspxrewriteurl}=GetOrderType(ordertype.ToString())%>
                      {aspxrewriteurl}单   
            <%else%>
            	<%if ordertypeStr=="|3|4|5|6|7|"%>
                		销售(出货/退货),赠品,样品,代购
                        <%if oSteps==1%>
                        待审中
                        <%/if%>
                        <%if oSteps==2%>
                        备货中
                        <%/if%>
                        <%if oSteps==3%>
                        发货中
                        <%/if%>
                        <%if oSteps==4%>
                        等待核销
                        <%/if%>
                        <%if oSteps==5%>
                        等待对账
                        <%/if%>
                <%else if ordertypeStr=="|3|4|"%>
                		销售(出货/退货)
                        <%if oSteps==1%>
                        待审中
                        <%/if%>
                        <%if oSteps==2%>
                        备货中
                        <%/if%>
                        <%if oSteps==3%>
                        发货中
                        <%/if%>
                        <%if oSteps==4%>
                        等待核销
                        <%/if%>
                        <%if oSteps==5%>
                        等待对账
                        <%/if%>
                <%else if ordertypeStr=="|1|2|"%>
                		采购(进货/退货)
                        <%if oSteps==1%>
                        待审中
                        <%/if%>
                        <%if oSteps==2%>
                        备货中
                        <%/if%>
                        <%if oSteps==3%>
                        发货中
                        <%/if%>
                        <%if oSteps==4%>
                        等待核销
                        <%/if%>
                        <%if oSteps==5%>
                        等待对账
                        <%/if%>
                <%else if ordertypeStr=="|11|"%>
                		换货
                        <%if oSteps==1%>
                        待审中
                        <%/if%>
                        <%if oSteps==2%>
                        备货中
                        <%/if%>
                        <%if oSteps==3%>
                        发货中
                        <%/if%>
                        <%if oSteps==4%>
                        等待核销
                        <%/if%>
                <%else if ordertypeStr=="|8|"%>
                		库存调整
                        <%if oSteps==1%>
                        待审中
                        <%/if%>
                        <%if oSteps==2%>
                        备货中
                        <%/if%>
                        <%if oSteps==3%>
                        发货中
                        <%/if%>
                        <%if oSteps==4%>
                        等待核销
                        <%/if%>
                <%else if ordertypeStr=="|9|"%>
                		库存调拨
                        <%if oSteps==1%>
                        待审中
                        <%/if%>
                        <%if oSteps==2%>
                        备货中
                        <%/if%>
                        <%if oSteps==3%>
                        发货中
                        <%/if%>
                        <%if oSteps==4%>
                        等待核销
                        <%/if%>
                <%else if ordertypeStr=="|10|"%>
                		坏货报损
                        <%if oSteps==1%>
                        待审中
                        <%/if%>
                        <%if oSteps==2%>
                        备货中
                        <%/if%>
                        <%if oSteps==3%>
                        发货中
                        <%/if%>
                        <%if oSteps==4%>
                        等待核销
                        <%/if%>
                <%else%>
                所有类型
                <%/if%>
单据
            <%/if%>
        </div>
        
        <%else%>
        <%if NextID==0%>
        <h2>已处理非全额收货单据</h2>
        <%else%>
        <h2>未处理非全额收货单据</h2>
        <%/if%>
        <%/if%>
        </div>
        <div class="datalist">
            
                <table width="100%" border="0" cellspacing="2" cellpadding="2" class="tBox" id="tBoxs">
                  <thead> 
                  <tr class="tBar">
                    <td width="8%"><nobr><input type="checkbox" name="CheckAll" class="CheckAll" id="CheckAll" style="width:30px;" /> 单据编号</nobr></td>
                     <td width="5%"><nobr>单据类型</nobr></td>
                    <%if ordertype!=8 && ordertype!=10%>
                        <%if ordertype==1 || ordertype==2 || ordertypeStr=="|1|2|"%>
                        <td >供货商</td>
                        <%else%>
                        	<%if ordertype==9 %>
                            	<td >仓库</td>
                            <%else%>
                                <td >客户</td>
                                <td width="10%">客户订单号</td>
                                <td width="10%">客户门店</td>
                        	<%/if%>
                        <%/if%>
                    <%/if%>
                    
                    <td width="8%" align="right">单据时间</td>
        
                    <%if ordertype!=8 && ordertype!=9 && ordertype!=10 && ordertype!=1 && ordertype!=2 || ordertypeStr=="|3|4|5|6|7|"%>
                    <td width="5%" align="center">业务员</td>
                    <%/if%>
                    <td width="5%" align="center">操作员</td>
                    <td width="10%" align="center">完成步骤</td>
                    <td width="5%" align="center">状态</td>
                    <td width="5%" align="center"><nobr>打印</nobr></td>
                    <td width="8%" align="right">总金额</td>
                  </tr>
                  </thead> 
                  <tbody>
                  <%if dList != null%>

                  <%loop dl dList%>

                  <tr >
                    <td width="8%">
                        <input type="checkbox" name="CheckAll" orderid="{dl[orderid]}" otype="{dl[otype]}" style="width:30px;" />
                        <a href="javascript:void(0);" onclick="javascript:OrderList.ShowEditUserBox({dl[OrderID]},{dl[oType]});">{dl[oOrderNum]}</a>
                    </td>
                    <td width="5%">
                    <%set {aspxrewriteurl}=GetOrderType(dl["oType"].ToString())%>
                    {aspxrewriteurl}
                    </td>
                    <%if ordertype!=8 && ordertype!=10%>
                        <%if ordertype==1 || ordertype==2 || ordertypeStr=="|1|2|"%>
                        <td >
						{dl[StoresSupplierName]}
						</td>
                        <%else%>
                        	<%if ordertype==9 %>
                            <td >
                            {dl[StoresSupplierName]}
                            </td>
                            <%else%>
                            <td >
                            {dl[StoresSupplierName]}
                            </td>
                            <td width="10%">{dl[oCustomersOrderID]}</td>
                            <td width="10%">{dl[oCustomersNameB]}</td>
                             <%/if%>
                        <%/if%>
                    <%/if%>
                    
                    <td  width="8%" align="right">
                    <%set {aspxrewriteurl}=Convert.ToDateTime(dl["oOrderDateTime"]).ToString("yyyy-MM-dd")%>
                    {aspxrewriteurl}</td>
                    
        
                    <%if ordertype!=8 && ordertype!=9 && ordertype!=10 && ordertype!=1 && ordertype!=2%>
                    <td width="5%" align="center" >
					{dl[StaffName]}
					</td>
                    <%/if%>
					

                    <td width="5%" align="center" >
					<%if dl["UserStaffName"].ToString() == ""%>
                    {dl[UserName]}
					<%else%>
					{dl[UserStaffName]}
					<%/if%>
					</td>
                    <td width="10%" align="center"><%set {aspxrewriteurl} = GetOrderStpes(dl["oSteps"].ToString())%>{aspxrewriteurl}</td>
                    <td width="5%" align="center">
                    <%if dl["oState"].ToString() == "0"%>
                    正常
                    <%else%>
                    <span style="color:#F00" >作废</span>
                    <%/if%></td>
                    <td width="5%" align="center">
					 <%if dl["PrintTime"].ToString().Trim()!=""%>
					{dl[PrintTime]}
					<%else%>
					 <span style="color:#F00" >未打印</span>
					 <%/if%>

                    </td>
                    <td style="text-align:right;" width="8%">
                    <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["SumMoney"].ToString()),config.MoneyDecimal).ToString()%>
        
                    {aspxrewriteurl}
                    &nbsp;</td>
                  </tr>
                  
                  <%/loop%>
        
                  <%/if%>
                  </tbody>
                  
                </table>

                <%if PageBarHTML!=null%>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr class="tBar">
            <td>{PageBarHTML} </td>
            <td align="right"> 合计:<b> {SUMMoney}</b></td>
          </tr>
          </table>
        
               
                <%/if%>

        </div>
		</form>
      <%/if%>
    </div>

<script language="javascript" type="text/javascript">

$().ready(function(){

		$('#ProductsName').autocomplete('Services/CAjax.aspx',{ 
			
			width: 200,
			scroll: true,
			autoFill: true,
			scrollHeight: 200,
			matchContains: true,
			dataType: 'json',
			extraParams:{
				'do':'GetProductsList',
				'RCode':Math.random(),
				'ProductsName':function(){return $('#ProductsName').val();}
			},
			parse: function(data) {
					var rows = [];  
					var tArray = data.results;
					 for(var i=0; i<tArray.length; i++){  
					  rows[rows.length] = {    
						data:tArray[i].value +"("+ tArray[i].info+")",    
						value:tArray[i].id,    
						result:tArray[i].value    
						};    
					  }
				   return rows; 
				 },
			formatItem: function(row, i, max) {  
				   return row;
			},
			formatMatch: function(row, i, max) {
						return row.value; 
			},
			formatResult: function(row) { 
						return row.value;
			}
		  }).result(function(event, data, formatted) {
				$("#ProductsID").val((formatted!=null)?formatted:"0");
			}
		  );

	$('#StaffName').autocomplete('Services/CAjax.aspx',{ 
		
		width: 200,
		scroll: true,
		autoFill: true,
		scrollHeight: 200,
		matchContains: true,
		dataType: 'json',
		extraParams:{
			'do':'GetStaffList',
			'sType':'1',
			'RCode':Math.random(),
			'StaffName':function(){return $('#StaffName').val();}
		},
		parse: function(data) {
				var rows = [];  
				var tArray = data.results;
				 for(var i=0; i<tArray.length; i++){  
				  rows[rows.length] = {    
					data:tArray[i].value +"("+ tArray[i].info+")",    
					value:tArray[i].id,    
					result:tArray[i].value    
					};    
				  }
			   return rows; 
			 },
		formatItem: function(row, i, max) {  
			   return row;
		},
		formatMatch: function(row, i, max) {
					return row.value; 
		},
		formatResult: function(row) { 
					return row.value;
		}
	  }).result(function(event, data, formatted) {
			$("#StaffID").val((formatted!=null)?formatted:"0");
		}
	  );
	  $('#UserName').autocomplete('Services/CAjax.aspx',{ 
		
		width: 200,
		scroll: true,
		autoFill: true,
		scrollHeight: 200,
		matchContains: true,
		dataType: 'json',
		extraParams:{
			'do':'GetUserList',
			'RCode':Math.random(),
			'UserName':function(){return $('#UserName').val();}
		},
		parse: function(data) {
				var rows = [];  
				var tArray = data.results;
				 for(var i=0; i<tArray.length; i++){  
				  rows[rows.length] = {    
					data:tArray[i].value,    
					value:tArray[i].id,    
					result:tArray[i].value    
					};    
				  }
			   return rows; 
			 },
		formatItem: function(row, i, max) {  
			   return row;
		},
		formatMatch: function(row, i, max) {
					return row.value; 
		},
		formatResult: function(row) { 
					return row.value;
		}
	  }).result(function(event, data, formatted) {
			$("#UserID").val((formatted!=null)?formatted:"0");
		}
	  );
	  
	  $('#StorageName').autocomplete('Services/CAjax.aspx',{ 
		
		width: 200,
		scroll: true,
		autoFill: true,
		scrollHeight: 200,
		matchContains: true,
		dataType: 'json',
		extraParams:{
			'do':'GetStorageList',
			'sType':'1',
			'RCode':Math.random(),
			'StorageName':function(){return $('#StorageName').val();}
		},
		parse: function(data) {
				var rows = [];  
				var tArray = data.results;
				 for(var i=0; i<tArray.length; i++){  
				  rows[rows.length] = {    
					data:tArray[i].value +"("+ tArray[i].info+")",    
					value:tArray[i].id,    
					result:tArray[i].value    
					};    
				  }
			   return rows; 
			 },
		formatItem: function(row, i, max) {  
			   return row;
		},
		formatMatch: function(row, i, max) {
					return row.value; 
		},
		formatResult: function(row) { 
					return row.value;
		}
	  }).result(function(event, data, formatted) {
			$("#StorageID").val((formatted!=null)?formatted:"0");
		}
	  );
<%if ordertype!=8 || ordertype!=10%>
	$('#StoresSupplier').autocomplete('Services/CAjax.aspx',{ 
		
		width: 200,
		scroll: true,
		autoFill: true,
		scrollHeight: 200,
		matchContains: true,
		dataType: 'json',

<%if ordertype==1 || ordertype==2%>
		extraParams:{
			'do':'GetSupplierList',
			'RCode':Math.random(),
			'SupplierName':function(){return $('#StoresSupplier').val();
			}
<%else%>
	<%if ordertype==9 %>
		extraParams:{
			'do':'GetStorageList',
			'RCode':Math.random(),
			'StorageName':function(){return $('#StoresSupplier').val();
			}
	<%else%>
		extraParams:{
			'do':'GetStoresList',
			'RCode':Math.random(),
			'StoresName':function(){return $('#StoresSupplier').val();
			}
	<%/if%>
<%/if%>

			
		},
		parse: function(data) {
				var rows = [];  
				var tArray = data.results;
				 for(var i=0; i<tArray.length; i++){  
				  rows[rows.length] = {    
					data:tArray[i].value +"("+ tArray[i].info+")",    
					value:tArray[i].id,    
					result:tArray[i].value    
					};    
				  }
			   return rows; 
			 },
		formatItem: function(row, i, max) {  
			   return row;
		},
		formatMatch: function(row, i, max) {
					return row.value; 
		},
		formatResult: function(row) { 
					return row.value;
		}
	  }).result(function(event, data, formatted) {
			$("#StoresSupplierID").val((formatted!=null)?formatted:"0");
		}
	  );
	  
<%/if%>

});

addTableListener(document.getElementById("tBoxs"),0,0);
var tf = new TableFixed("tBoxs");

tf.Clone();//表格结构修改后应重新Clone一次

var OrderList = new TOrderList();
OrderList.ordertypeStr = '{ordertypeStr}';
OrderList.UserCode = '{UserCode}';
OrderList.PrintPageWidth = '{config.PrintPageWidth}';
OrderList.PrintAddPageWidth = '{config.PrintAddPageWidth}';
OrderList.PrinterName = '{config.PrinterName}';
OrderList.ini();
OrderList.ordertype = {ordertype};

<%if Act.IndexOf("Search") > -1%>
$('#button_s').click();
<%/if%>
function HidBox()
{
	OrderList.HidUserBox();
	//location = location;
	//location.reload();
}

</script>

<%/if%>
<object id="LODOP" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0>
    <embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0 pluginspage="/public/install_lodop.exe"></embed>
</object>
<%template _copyright%>
<%template _footer%>
