<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>模版生成</title>
</head>
<body>


	<%if page_err==0%>
		<div >
		<form name="bForm" id="bForm" action="" method="post">
		<%if PageTemplatesList != null%>
			<%loop ptl PageTemplatesList%>
				<%set {aspxrewriteurl} = ptl["PageName"].ToString()%>
				<span>
				<nobr>
				<input name="page" type="checkbox" value="{aspxrewriteurl}" />{aspxrewriteurl}<%set {aspxrewriteurl} = ptl["PageExt"].ToString()%>{aspxrewriteurl}
				</nobr>
				</span>
			<%/loop%>
		<%/if%>
		<br/>
		<input value="提交(生成选中模板文件)" type="submit" /><input type="button" value="刷新" onclick="javascript:location=location;" /><input type="button" value="全选" onclick="javascript:cAll();" />
		</form>
		</div>
	<%else%>
		<%template _poperrmsgbox%>
	<%/if%>
<script language="javascript" type="text/javascript">
function cAll()
{
PageForm = document.getElementById('bForm');

for(var i=0 ;i<PageForm.elements.length;i++){ 
        if(PageForm.elements[i].name=='page'){ 
            PageForm.elements[i].checked = true;
        }
    }
}
</script>
</body>
</html>