<%template _poppageheader%>
<body>
<script type="text/javascript" src="public/js/Cxty_XTool.js"></script>

<%if {ispost} %>
	<%if page_err==0%>
		<%template _popmsgbox%>
	<%else%>
		<%template _poperrmsgbox%>
	<%/if%>
<%else%>
    <%if page_err!=0%>
    	<%template _poperrmsgbox%>
    <%else%>
        <%if page_msg!=0%>
            <%template _popmsgbox%>
        <%else%>
            <form name="bForm" id="bForm" action="" method="post">
              <table width="100%" border="0" cellspacing="1" cellpadding="1" class="dBox">

				<tr>
                  <td  align="right" class="ltd">商品名称</td>
                  <td align="left" class="rtd">
                  <%if Act=="Edit"%><h3>{pi.pName}</h3><%/if%>
                  </td>
                </tr>

				<%if StorageList!=null%>
				<%loop sl StorageList%>
				<tr>
                  <td  align="right" class="ltd">{sl[sName]}<br>{sl[sCode]}</td>
                  <td align="left" class="rtd">
				  <INPUT TYPE="hidden" NAME="StorageID_{sl__loop__id}" id="StorageID_{sl__loop__id}" value="{sl[StorageID]}">
                  <input name="Quantity_{sl__loop__id}" id="Quantity_{sl__loop__id}" type="text" value="{sl[Quantity]}" showtitle="只能填写数字格式"/></td>
                </tr>
				<%/loop%>
				<INPUT TYPE="hidden" NAME="loop" id="loop" value="{sl__loop__id}">
				<%/if%>

              </table>
<div style="height:30px"></div>
            <div id="footer_tool">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="center">
                  	<input type="button" id="button1" style="margin:5px" class="B_INPUT" value="确定" onClick="javascript:CheckF();"/>
                  <input type="button" id="button2" style="margin:5px" class="B_INPUT" value="取消" onClick="javascript:window.parent.HidBox();" />
                  </td>
                </tr>
              </table>
            </div>

            </form>
            
            <script language="javascript" type="text/javascript">
			
			
			function CheckF()
			{
				Sys.getObj('bForm').submit();
			}
			</script>
            
            <%/if%>
    <%/if%>
<%/if%>


<%template _footer%>