<%template _header%>



<%if page_err!=0%>
    <%template _errmsgbox%>
<%else%>
<script src="public/js/WebCalendar.js" type="text/javascript" ></script>
<script language="javascript" src="/public/js/My97DatePicker/WdatePicker.js"></script>
<script language="javascript" src="public/js/jTable.js"></script>
<script language="javascript" src="public/js/report_invoicing.js"></script>
    <div class="main" id="OrderList">
        <%if page_err!=0%>
            <%template _errmsgbox%>
        <%else%>
			
            <form action="" method="post" name="form1" id="form1">   
            <div class="toolbar">
            <div class="toolbox">
            <table border="0" cellspacing="2" cellpadding="0">
              <tr>
                <td align="left" valign="top">仓库:<br/><select id="StorageID" name="StorageID" >

                                <%if StorageList!=null%>
                                <%loop sl StorageList%>
                                <option value="{sl[StorageID]}" 
                                <%if StorageID.ToString() == sl["StorageID"].ToString()%>
                                selected="selected"
                                <%/if%>>{sl[sName]}</option>
                                <%/loop%>
                                <%/if%>
                    </select></td>
                <td align="left" valign="top">统计类型:<br />
                <select id="ReType" name="ReType" >
                <option value="0" <%if ReType==0%> selected="selected"<%/if%>>日</option>
                <option value="1" <%if ReType==1%> selected="selected"<%/if%>>月</option>
                <option value="2" <%if ReType==2%> selected="selected"<%/if%>>年</option>
                <option value="3" <%if ReType==3%> selected="selected"<%/if%>>区间</option>
                </select></td>
                <td align="left" valign="top">日期:<br />
                <%csharp%>
                string _sDate = DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd");
                <%/csharp%>
                <%set {aspxrewriteurl}=sDate.ToString("yyyy-MM-dd")%>
                
                <input name="day_sDate" id="day_sDate"  value="{aspxrewriteurl}" class="Wdate" type="text" onClick="WdatePicker({maxDate:'{_sDate}'})" />
                <input name="month_sDate" id="month_sDate"  value="{aspxrewriteurl}" class="Wdate" type="text" onClick="WdatePicker({maxDate:'{_sDate}',dateFmt:'yyyy-MM'})" />
                <input name="year_sDate" id="year_sDate"  value="{aspxrewriteurl}" class="Wdate" type="text" onClick="WdatePicker({maxDate:'{_sDate}',dateFmt:'yyyy'})" />
            <span id="sDate_Box">
                <input name="b_sDate" id="b_sDate"  value="{aspxrewriteurl}" class="Wdate" type="text" onClick="WdatePicker({maxDate:'{_sDate}'})" />
                -
                <%set {aspxrewriteurl}=eDate.ToString("yyyy-MM-dd")%>
                <input name="e_sDate" id="e_sDate"  value="{aspxrewriteurl}" class="Wdate" type="text" onClick="WdatePicker({maxDate:'{_sDate}'})" />
            </span>
                </td>
                
                <td><INPUT TYPE="hidden" NAME="sDate" id="sDate">
                <INPUT TYPE="hidden" NAME="eDate" id="eDate">
                <input type="button"  id="bt_sub" style="margin:5px;width:120px" class="B_INPUT" value=" 确 定 " /></td>
              </tr>
            </table>
            </div>
            <div class="list_title">
               
                进销存 
                <%if StorageID>0%>
                <%if ReType==0%>
                 <%set {aspxrewriteurl}=sDate.ToString("yyyy-MM-dd")%>
                日报表 ({aspxrewriteurl})
                <%/if%>
                <%if ReType==1%>
                <%set {aspxrewriteurl}=sDate.ToString("yyyy年MM月")%>
                月报表 ({aspxrewriteurl})
                <%/if%>
                <%if ReType==2%>
                <%set {aspxrewriteurl}=sDate.ToString("yyyy年")%>
                年报表 ({aspxrewriteurl})
                <%/if%>
                <%/if%>
            </div>
            </div>
            <div class="datalist">
        
        <table width="100%" border="0" cellspacing="1" cellpadding="1" class="tBox" id="tBox" >
        <thead  style="width:100%">
          <tr class="tBar">
            <td width="3%" rowspan="2" align="center">序号</td>
            <td width="8%" rowspan="2" align="center">商品条码</td>
            <td rowspan="2" <%if ShowPrice==true%>width="20%"<%else%>width="15%"<%/if%> align="center">商品名称</td>
            <td width="3%" rowspan="2" align="center">装件数</td>
            <td <%if ShowPrice==true%>colspan="4"<%else%>colspan="2"<%/if%> align="center">期初结存</td>
            <td <%if ShowPrice==true%>colspan="4"<%else%>colspan="2"<%/if%> align="center">本期入库</td>
            <td <%if ShowPrice==true%>colspan="4"<%else%>colspan="2"<%/if%> align="center">本期出库</td>
            <td <%if ShowPrice==true%>colspan="4"<%else%>colspan="2"<%/if%> align="center">期末结存</td>
          </tr>
          <tr class="tBar">
            <td width="3%" align="right" class="dboxleft">数量</td>
            <td width="3%" align="right">件数</td>
            <%if ShowPrice==true%>
            <td width="3%" align="right">单价</td>
            <td width="3%" align="right">金额</td>
            <%/if%>
            <td width="3%" align="right" class="dboxleft">数量</td>
            <td width="3%" align="right">件数</td>
            <%if ShowPrice==true%>
            <td width="3%" align="right">单价</td>
            <td width="3%" align="right">金额</td>
            <%/if%>
            <td width="3%" align="right" class="dboxleft">数量</td>
            <td width="3%" align="right">件数</td>
            <%if ShowPrice==true%>
            <td width="3%" align="right">单价</td>
            <td width="3%" align="right">金额</td>
            <%/if%>
            <td width="3%" align="right" class="dboxleft">数量</td>
            <td width="3%" align="right">件数</td>
            <%if ShowPrice==true%>
            <td width="3%" align="right">单价</td>
            <td width="3%" align="center">金额</td>
            <%/if%>
        
          </tr>
         </thead>
        
         <tbody>
         <%if dList!=null%>
         <!--存档记录-->
         <%if DataType==1%>
         <%loop dl dList%>
          <tr>
            <td  align="center">{dl__loop__id}</td>
            <td  align="left">{dl[pBarcode]}</td>
            <td align="left">{dl[pName]}</td>
            <td  align="center">{dl[pToBoxNo]}</td>
            <td  align="right" class="dboxleft">
            <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["bQuantity"]),config.QuantityDecimal).ToString()%>
            {aspxrewriteurl}
            <%set {numA} = Convert.ToDecimal(numA+Convert.ToDecimal(aspxrewriteurl))%>
            </td>
            <td  align="right">
                <%if Convert.ToDecimal(dl["bQuantity"])!=0 && Convert.ToDecimal(dl["pToBoxNo"])!=0%>
            <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["bQuantity"])/Convert.ToDecimal(dl["pToBoxNo"]),config.QuantityDecimal).ToString()%>
                <%else%>
                <%set {aspxrewriteurl}="0"%>
                <%/if%> 
            {aspxrewriteurl}
            <%set {numAA} = Convert.ToDecimal(numAA+Convert.ToDecimal(aspxrewriteurl))%>
            </td>
            <%if ShowPrice==true%>
            <td align="right">
            <%if Convert.ToDecimal(dl["bQuantity"])!=0%>
            <%set {aspxrewriteurl} =  decimal.Round((Convert.ToDecimal(dl["bMoney"])/Convert.ToDecimal(dl["bQuantity"])),2).ToString()%>
            {aspxrewriteurl}
            <%else%>
            0.00
            <%/if%>
            </td>
            <td  align="right">
            <%set {aspxrewriteurl} =  decimal.Round((Convert.ToDecimal(dl["bMoney"])),2).ToString()%>
            {aspxrewriteurl}
            <%set {MoneyA} = Convert.ToDecimal(MoneyA+Convert.ToDecimal(aspxrewriteurl))%>
            </td>
            <%/if%>
            <td  align="right" class="dboxleft">
             <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["InQuantity"]),config.QuantityDecimal).ToString()%>
             {aspxrewriteurl}
             <%set {numB} = Convert.ToDecimal(numB+Convert.ToDecimal(aspxrewriteurl))%>
            </td>
            <td  align="right">
                <%if Convert.ToDecimal(dl["InQuantity"])!=0 && Convert.ToDecimal(dl["pToBoxNo"])!=0%>
             <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["InQuantity"])/Convert.ToDecimal(dl["pToBoxNo"]),config.QuantityDecimal).ToString()%>
                <%else%>
                <%set {aspxrewriteurl}="0"%>
                <%/if%> 
             {aspxrewriteurl}
             <%set {numBB} = Convert.ToDecimal(numBB+Convert.ToDecimal(aspxrewriteurl))%>
            </td>
            <%if ShowPrice==true%>
            <td align="right">
            <%if Convert.ToDecimal(dl["InQuantity"])!=0%>
            <%set {aspxrewriteurl} =  decimal.Round((Convert.ToDecimal(dl["InMoney"])/Convert.ToDecimal(dl["InQuantity"])),2).ToString()%>

            {aspxrewriteurl}
            <%else%>
            0.00
            <%/if%>
            </td>
            <td  align="right">
            <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["InMoney"]),2).ToString()%>
             {aspxrewriteurl}
              <%set {MoneyB} = Convert.ToDecimal(MoneyB+Convert.ToDecimal(aspxrewriteurl))%>
            </td>
            <%/if%>
            <td  align="right" class="dboxleft">
            <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["OutQuantity"]),config.QuantityDecimal).ToString()%>
             {aspxrewriteurl}
             <%set {numC} = Convert.ToDecimal(numC+Convert.ToDecimal(aspxrewriteurl))%>
            </td>
            <td  align="right">
                <%if Convert.ToDecimal(dl["OutQuantity"])!=0 && Convert.ToDecimal(dl["pToBoxNo"])!=0%>
            <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["OutQuantity"])/Convert.ToDecimal(dl["pToBoxNo"]),config.QuantityDecimal).ToString()%>
                <%else%>
                <%set {aspxrewriteurl}="0"%>
                <%/if%> 
             {aspxrewriteurl}
             <%set {numCC} = Convert.ToDecimal(numCC+Convert.ToDecimal(aspxrewriteurl))%>
            </td>
            <%if ShowPrice==true%>
            <td align="right">
            <%if Convert.ToDecimal(dl["OutQuantity"])!=0%>
            <%set {aspxrewriteurl} =  decimal.Round((Convert.ToDecimal(dl["OutMoney"])/Convert.ToDecimal(dl["OutQuantity"])),2).ToString()%>
            {aspxrewriteurl}
            <%else%>
            0.00
            <%/if%>
            </td>
            <td  align="right">
            <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["OutMoney"]),2).ToString()%>
             {aspxrewriteurl}
              <%set {MoneyC} = Convert.ToDecimal(MoneyC+Convert.ToDecimal(aspxrewriteurl))%>
            </td>
            <%/if%>
            <td  align="right" class="dboxleft">
            <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["eQuantity"]),config.QuantityDecimal).ToString()%>
            {aspxrewriteurl}
            <%set {numD} = Convert.ToDecimal(numD+Convert.ToDecimal(aspxrewriteurl))%>
            </td>
            <td align="right">
                <%if Convert.ToDecimal(dl["eQuantity"])!=0 && Convert.ToDecimal(dl["pToBoxNo"])!=0%>
            <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["eQuantity"])/Convert.ToDecimal(dl["pToBoxNo"]),config.QuantityDecimal).ToString()%>
                <%else%>
                <%set {aspxrewriteurl}="0"%>
                <%/if%> 
            {aspxrewriteurl}
            <%set {numDD} = Convert.ToDecimal(numDD+Convert.ToDecimal(aspxrewriteurl))%>
            </td>
            <%if ShowPrice==true%>
            <td align="right">
            <%if Convert.ToDecimal(dl["eQuantity"])!=0%>
            <%set {aspxrewriteurl} =  decimal.Round((Convert.ToDecimal(dl["eMoney"])/Convert.ToDecimal(dl["eQuantity"])),2).ToString()%>
            {aspxrewriteurl}
            <%else%>
            0.00
            <%/if%>
            </td>
            <td  align="right">
            <%set {aspxrewriteurl} = decimal.Round((Convert.ToDecimal(dl["eMoney"])),2).ToString()%>
            {aspxrewriteurl}
             <%set {MoneyD} = Convert.ToDecimal(MoneyD+Convert.ToDecimal(aspxrewriteurl))%>
            </td>
            <%/if%>
        
          </tr>
          <%/loop%>
         <%/if%>
         <!--计算得出-->
         <%if DataType==2%>
         <%loop dl dList%>
          <tr>
            <td  align="center">{dl__loop__id}</td>
            <td  align="left">{dl[pBarcode]}</td>
            <td align="left">{dl[pName]}</td>
            <td  align="center">{dl[pToBoxNo]}</td>
            <td  align="right" class="dboxleft">
            <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["UpStorage"])+Convert.ToDecimal(dl["UpStorageIn"])-Convert.ToDecimal(dl["UpStorageOut"]),config.QuantityDecimal).ToString()%>
            {aspxrewriteurl}
            <%set {numA} = Convert.ToDecimal(numA+Convert.ToDecimal(aspxrewriteurl))%>
            </td>
            <td  align="right">
                <%if (Convert.ToDecimal(dl["UpStorage"])+Convert.ToDecimal(dl["UpStorageIn"])-Convert.ToDecimal(dl["UpStorageOut"]))!=0 && Convert.ToDecimal(dl["pToBoxNo"])!=0%>
            <%set {aspxrewriteurl} = decimal.Round((Convert.ToDecimal(dl["UpStorage"])+Convert.ToDecimal(dl["UpStorageIn"])-Convert.ToDecimal(dl["UpStorageOut"]))/Convert.ToDecimal(dl["pToBoxNo"]),config.QuantityDecimal).ToString()%>
                <%else%>
                <%set {aspxrewriteurl}="0"%>
                <%/if%> 
                {aspxrewriteurl}
            <%set {numAA} = Convert.ToDecimal(numAA+Convert.ToDecimal(aspxrewriteurl))%>
            </td>
            <%if ShowPrice==true%>
            <td align="right">
            <%if (Convert.ToDecimal(dl["UpStorage"])+Convert.ToDecimal(dl["UpStorageIn"])-Convert.ToDecimal(dl["UpStorageOut"]))!=0 && Convert.ToDecimal(dl["pToBoxNo"])!=0%>
            <%set {aspxrewriteurl} =  decimal.Round(((Convert.ToDecimal(dl["UpStorageMoney"])+Convert.ToDecimal(dl["UpStorageInMoney"])-Convert.ToDecimal(dl["UpStorageOutMoney"]))/(Convert.ToDecimal(dl["UpStorage"])+Convert.ToDecimal(dl["UpStorageIn"])-Convert.ToDecimal(dl["UpStorageOut"]))),2).ToString()%>
            {aspxrewriteurl}
            <%else%>
            0.00
            <%/if%>
            </td>
            <td  align="right">
            <%set {aspxrewriteurl} =  decimal.Round((Convert.ToDecimal(dl["UpStorageMoney"])+Convert.ToDecimal(dl["UpStorageInMoney"])-Convert.ToDecimal(dl["UpStorageOutMoney"])),2).ToString()%>
            {aspxrewriteurl}
            <%set {MoneyA} = Convert.ToDecimal(MoneyA+Convert.ToDecimal(aspxrewriteurl))%>
            </td>
            <%/if%>
            <td  align="right" class="dboxleft">
             <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["StorageIn"]),config.QuantityDecimal).ToString()%>
             {aspxrewriteurl}
             <%set {numB} = Convert.ToDecimal(numB+Convert.ToDecimal(aspxrewriteurl))%>
            </td>
            <td  align="right">
             <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["StorageIn"])/Convert.ToDecimal(dl["pToBoxNo"]),config.QuantityDecimal).ToString()%>
             {aspxrewriteurl}
             <%set {numBB} = Convert.ToDecimal(numBB+Convert.ToDecimal(aspxrewriteurl))%>
            </td>
            <%if ShowPrice==true%>
            <td align="right">
            <%if (Convert.ToDecimal(dl["StorageIn"]))!=0%>
            <%set {aspxrewriteurl} =  decimal.Round(((Convert.ToDecimal(dl["StorageInMoney"]))/(Convert.ToDecimal(dl["StorageIn"]))),2).ToString()%>
            {aspxrewriteurl}
            <%else%>
            0.00
            <%/if%>
            </td>
            <td  align="right">
            <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["StorageInMoney"]),2).ToString()%>
             {aspxrewriteurl}
              <%set {MoneyB} = Convert.ToDecimal(MoneyB+Convert.ToDecimal(aspxrewriteurl))%>
            </td>
            <%/if%>
            <td  align="right" class="dboxleft">
            <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["StorageOut"]),config.QuantityDecimal).ToString()%>
             {aspxrewriteurl}
             <%set {numC} = Convert.ToDecimal(numC+Convert.ToDecimal(aspxrewriteurl))%>
            </td>
            <td  align="right">
            <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["StorageOut"])/Convert.ToDecimal(dl["pToBoxNo"]),config.QuantityDecimal).ToString()%>
             {aspxrewriteurl}
             <%set {numCC} = Convert.ToDecimal(numCC+Convert.ToDecimal(aspxrewriteurl))%>
            </td>
            <%if ShowPrice==true%>
            <td align="right">
            <%if (Convert.ToDecimal(dl["StorageOut"]))!=0%>
            <%set {aspxrewriteurl} =  decimal.Round(((Convert.ToDecimal(dl["StorageOutMoney"]))/(Convert.ToDecimal(dl["StorageOut"]))),2).ToString()%>
            {aspxrewriteurl}
            <%else%>
            0.00
            <%/if%>
            </td>
            <td  align="right">
            <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["StorageOutMoney"]),2).ToString()%>
             {aspxrewriteurl}
              <%set {MoneyC} = Convert.ToDecimal(MoneyC+Convert.ToDecimal(aspxrewriteurl))%>
            </td>
            <%/if%>
            <td align="right" class="dboxleft">
            <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["LastStorage"]),config.QuantityDecimal).ToString()%>
            {aspxrewriteurl}
            <%set {numD} = Convert.ToDecimal(numD+Convert.ToDecimal(aspxrewriteurl))%>
            </td>
            <td  align="right">
            <%set {aspxrewriteurl} = decimal.Round((Convert.ToDecimal(dl["LastStorage"]))/Convert.ToDecimal(dl["pToBoxNo"]),config.QuantityDecimal).ToString()%>
            {aspxrewriteurl}
            <%set {numDD} = Convert.ToDecimal(numDD+Convert.ToDecimal(aspxrewriteurl))%>
            </td>
            <%if ShowPrice==true%>
            <td align="right">
            <%if (Convert.ToDecimal(dl["LastStorage"]))!=0%>
            <%set {aspxrewriteurl} =  decimal.Round(((Convert.ToDecimal(dl["LastStorageMoney"]))/(Convert.ToDecimal(dl["LastStorage"]))),2).ToString()%>
            {aspxrewriteurl}
            <%else%>
            0.00
            <%/if%>
            </td>
            <td  align="right">
            <%set {aspxrewriteurl} = decimal.Round((Convert.ToDecimal(dl["LastStorageMoney"])),2).ToString()%>
            {aspxrewriteurl}
             <%set {MoneyD} = Convert.ToDecimal(MoneyD+Convert.ToDecimal(aspxrewriteurl))%>
            </td>
            <%/if%>
        
          </tr>
          <%/loop%>
          <%/if%>
         <%/if%>
        </tbody>
        <%if ShowPrice==true%>
        <tfoot>
          <tr class="tBar">
            <td colspan="2" align="center">合计:</td>
            <td colspan="2" align="center">&nbsp;</td>
            <td  align="right" class="dboxleft"><span>{numA}</span></td>
            <td  align="right"><span>{numAA}</span></td>
            <td></td>
            <td  align="right"><span>{MoneyA}</span></td>
            <td  align="right" class="dboxleft"><span>{numB}</span></td>
            <td  align="right"><span>{numBB}</span></td>
            <td></td>
            <td  align="right"><span>{MoneyB}</span></td>
            <td  align="right" class="dboxleft"><span>{numC}</span></td>
            <td  align="right"><span>{numCC}</span></td>
            <td></td>
            <td  align="right"><span>{MoneyC}</span></td>
            <td  align="right" class="dboxleft"><span>{numD}</span></td>
            <td  align="right"><span>{numDD}</span></td>
            <td></td>
            <td  align="right"><span>{MoneyD}</span></td>
        
          </tr>
        </tfoot>
        <%/if%>
        </table>
        </div>
            
            
            </form>

     </div>
<script language="javascript" type="text/javascript">
            
            <%if StorageID>0%>
            addTableListener(document.getElementById("tBox"),0,0);
            var tf = new TableFixed("tBox");
            
            tf.Clone();//表格结构修改后应重新Clone
            <%/if%>
            var Report_Invoicing = new TReport_Invoicing();
            Report_Invoicing.ini();
            </script>
    <%/if%>
<%/if%>

<%template _copyright%>
<%template _footer%>

