<%template _poppageheader%>
<link rel="stylesheet" type="text/css" href="/public/js/jquery.autocomplete.css"></link>
<script type="text/javascript" src="/public/js/jquery.autocomplete.js "></script>
<script src="/public/js/WebCalendar.js" type="text/javascript" ></script>
        <form action="" method="get" name="form1" id="form1">
          <table width="100%" border="0" cellspacing="2" cellpadding="2" class="tBox">
           <tr>
            <td style="width:70%">
             选择日期：<label>{bDate.ToLongDateString()}至{eDate.ToLongDateString()}</label>
             <span style="color:Red">注意：下面列表仅显示在日期范围内存在数据的区域！</span>
            </td>
            <td><input type="button" id="export" name="export" onclick="javascript:toExcel('get_data',null)" value="导出数据" style="width:30%;height:25px" /></td>
           </tr>
          </table>
          <div id="space"></div>
        <table width="100%" border="0" cellspacing="2" cellpadding="2" class="tBox" id="get_data">
         <thead >
          <tr>
            <td width="10%" rowspan="2">地区</td>
			<td width="10%" rowspan="2">商品条码</td>
			<td width="20%" rowspan="2">商品名称</td>
            <td width="10%" align="center" colspan="2">进货</td>
            <td width="10%" align="center" colspan="2">销售</td>
            <td width="10%" align="center" colspan="2">库存</td>  
          </tr>
          <tr>
           <td width="5%" align="center">总数量</td>
           <td width="5%" align="center">总金额</td> 

           <td width="5%" align="center">总数量</td>
           <td width="5%" align="center">总金额</td>

           <td width="5%" align="center">总数量</td>
           <td width="5%" align="center">总金额</td>
          </tr>
        </thead>
        </table>
        <table width="100%" border="0" cellspacing="2" cellpadding="2" class="tBox">
        <tbody>
        <%if dList !=null%>
          <%loop dl dList%>
             <%set {pList} = getDetailsOfProducts(Convert.ToInt32({dl[RegionID]}),getData,bDate,eDate)%>
              <%if pList !=null%>
               <%loop pl pList%>
                <tr>
                <td width="10%">{dl[rName]}</td> 
			    <td width="10%"><%if {getBarcode}==""%>无条码<%else%>{getBarcode}<%/if%></td>
			    <td width="20%">{getName}</td>
			    <td align="right" width="5%">
                <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(pl["InQuantity"]),2).ToString()%>
                {aspxrewriteurl}
                <%set {SumA}=decimal.Round(SumA+Convert.ToDecimal(aspxrewriteurl),2)%>
                </td>	
                <td align="right" width="5%">
                 <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(pl["oMoney"]),2).ToString()%>
                {aspxrewriteurl}
                 <%set {SumAA}=decimal.Round(SumAA+Convert.ToDecimal(aspxrewriteurl),2)%>
                </td>
                <td align="right" width="5%">
                 <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(pl["OutQuantity"]),2).ToString()%>
                {aspxrewriteurl}
                 <%set {SumB}=decimal.Round(SumB+Convert.ToDecimal(aspxrewriteurl),2)%>
                </td>
                <td align="right" width="5%">
                 <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(pl["SalesPrice"]),2).ToString()%>
                {aspxrewriteurl}
                 <%set {SumBB}=decimal.Round(SumBB+Convert.ToDecimal(aspxrewriteurl),2)%>
                </td>
                <td align="right" width="5%">
                 <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(pl["RelityStorage"]),2).ToString()%>
                {aspxrewriteurl}
                 <%set {SumC}=decimal.Round(SumC+Convert.ToDecimal(aspxrewriteurl),2)%>
                </td>
                <td align="right" width="5%">
                <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(pl["pPrice"]),2).ToString()%>
                {aspxrewriteurl}
                 <%set {SumCC}=decimal.Round(SumCC+Convert.ToDecimal(aspxrewriteurl),2)%>
                </td>
                </tr>
               <%/loop%>
              <%/if%>
            <%/loop%>
          <%/if%>
         <tr>
           <td>合计：</td>
           <td colspan="2"></td>
           <td align="right">{SumA}</td>
           <td align="right">{SumAA}</td>
           <td align="right">{SumB}</td>
           <td align="right">{SumBB}</td>
           <td align="right">{SumC}</td>
           <td align="right">{SumCC}</td>
          </tr>
          </tbody>
        </table>
        <script language="javascript" type="text/javascript">
            function checkF() {
                var bTime = $('#sDate').val();
                var eTime = $('#stDate').val();
                if (bTime > eTime) {
                    alert("时间选择错误，请重新选择！");
                }
                else {
                    $('#form1').submit();
                }
            }
            addTableListener(document.getElementById("tBoxs"), 0, 0);
            window.onscroll = function () {
                var t = document.body.getBoundingClientRect().top;

                var head = document.getElementById("get_data");
                if ((t + document.getElementById("space").offsetTop) < 0) {

                    head.style.position = "absolute";
                    document.getElementById("get_data").style.top = (-t) + "px";
                }
                else {
                    head.style.position = "";
                }
            }

            function toExcel(inTblId, inWindow) {
                try {
                    var allStr = "";
                    var curStr = "";
                    if (inTblId != null && inTblId != "" && inTblId != "null") {
                        curStr = getTblData(inTblId, inWindow);
                    }
                    if (curStr != null) {
                        allStr += curStr;
                    }
                    else {
                        alert("你要导出的表不存在！");
                        return;
                    }
                    var fileName = getExcelFileName();
                    doFileExport(fileName, allStr);
                }
                catch (e) {
                    alert("导出发生异常:" + e.name + "->" + e.description + "!");
                }
            }
            function getTblData(inTbl, inWindow) {
                var rows = 0;
                var tblDocument = document;
                if (!!inWindow && inWindow != "") {
                    if (!document.all(inWindow)) {
                        return null;
                    }
                    else {
                        tblDocument = eval(inWindow).document;
                    }
                }
                var curTbl = tblDocument.getElementById(inTbl);
                var outStr = "";
                if (curTbl != null) {
                    for (var j = 0; j < curTbl.rows.length; j++) {
                        for (var i = 0; i < curTbl.rows[j].cells.length; i++) {
                            if (i == 0 && rows > 0) {
                                outStr += " \t";
                                rows -= 1;
                            }
                            outStr += curTbl.rows[j].cells[i].innerText + "\t";
                            if (curTbl.rows[j].cells[i].colSpan > 1) {
                                for (var k = 0; k < curTbl.rows[j].cells[i].colSpan - 1; k++) {
                                    outStr += " \t";
                                }
                            }
                            if (i == 0) {
                                if (rows == 0 && curTbl.rows[j].cells[i].rowSpan > 1) {
                                    rows = curTbl.rows[j].cells[i].rowSpan - 1;
                                }
                            }
                        }
                        outStr += "\r\n";
                    }
                }
                else {
                    outStr = null;
                    alert(inTbl + "不存在!");
                }
                return outStr;
            }
            function getExcelFileName() {
                var d = new Date();
                var curYear = d.getYear();
                var curMonth = "" + (d.getMonth() + 1);
                var curDate = "" + d.getDate();
                var curHour = "" + d.getHours();
                var curMinute = "" + d.getMinutes();
                var curSecond = "" + d.getSeconds();
                if (curMonth.length == 1) {
                    curMonth = "0" + curMonth;
                }
                if (curDate.length == 1) {
                    curDate = "0" + curDate;
                }
                if (curHour.length == 1) {
                    curHour = "0" + curHour;
                }
                if (curMinute.length == 1) {
                    curMinute = "0" + curMinute;
                }
                if (curSecond.length == 1) {
                    curSecond = "0" + curSecond;
                }
                var fileName = "客户进销存数据" + "_" + curYear + "年" + curMonth + "月" + curDate + "日" + "_" + curHour + "点" + curMinute + "分" + curSecond + "秒" + ".xls";
                return fileName;
            }
            function doFileExport(inName, inStr) {
                var xlsWin = null;
                if (!!document.all("glbHideFrm")) {
                    xlsWin = glbHideFrm;
                }
                else {
                    var width = 6;
                    var height = 4;
                    var openPara = "left=" + (window.screen.width / 2 - width / 2)
               + ",top=" + (window.screen.height / 2 - height / 2)
               + ",scrollbars=no,width=" + width + ",height=" + height;
                    xlsWin = window.open("", "_blank", openPara);
                }
                xlsWin.document.write(inStr);
                xlsWin.document.close();
                xlsWin.document.execCommand('Saveas', true, inName);
                xlsWin.close();
            }   
        </script>
      </form>
        <%template _footer%>