<%template _header%>


<script src="/public/js/jquery.js" language="javascript" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/public/js/jquery.autocomplete.css"></link>
<script type="text/javascript" src="/public/js/jquery.autocomplete.js "></script>
<script src="/public/js/WebCalendar.js" language="javascript" type="text/javascript"></script>
<script src="/public/js/stockproducts.js" language="javascript" type="text/javascript"></script>
<script language="javascript" src="/public/js/jTable.js"></script>


<link rel="stylesheet" type="text/css" href="/public/js/popup.tree.css"></link>
<script type="text/javascript" src="/public/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/public/js/jquery.hotkeys.js"></script>
<script type="text/javascript" src="/public/js/jquery.jstree.js"></script>

    <div class="main" id="usermanage">
        <%if page_err!=0%>
            <%template _errmsgbox%>
        <%else%>
        <form action="" method="post" name="form1" id="form1">
            <div class="toolbar">
            <div class="toolbox">
            仓库分类：
            <input name="StorageClassName" id="StorageClassName" type="text" <%if {Act} !=""%>value="{className}"<%/if%> style="width:145px"/>
            <input type="hidden" id="StorageClassNum" name="StorageClassNum" <%if {Act} !=""%>value="{StorageClassID}"<%/if%>/>
            &nbsp;&nbsp;
            仓库：
            <%if StorageName !=null && {Act} !=""%>
            <select id="StorageID" name="StorageID" >
            <option value="0">选择全部</option>
            <%loop sl StorageName%>
            <option value="{sl[StorageID]}"<%if Convert.ToInt32(sl["StorageID"].ToString())=={StorageID}%> selected="selected"<%/if%>>{sl[sName]}({sl[sCode]})</option>
                <%/loop%>
            </select>
            <%else%>
            <select id="StorageID" name="StorageID" >
            <option value="0">选择全部</option>
            </select>
            <%/if%>
            商品：<input TYPE="text" NAME="S_key" id="S_key" value="{S_key}" style="width:145px">(可输入名称,条码或者*查询)
            <INPUT TYPE="hidden" NAME="ProductID" id="ProductID" value="{ProductID}">
            <INPUT TYPE="hidden" NAME="Act" id="Act">
            <%set {aspxrewriteurl}=sDate.ToString("yyyy-MM-dd")%>
            时间点：<input type="text" readonly="readonly" name="sDate" id="sDate" value="{aspxrewriteurl}" onClick="new Calendar().show(this);" style="width:145px"/>
            <input type="button" id="button5" style="margin:5px" class="B_INPUT" value="查找" onclick="javascript:StockProductsManage.Search();"  />
            <input type="button" id="bt_print" name="bt_print" style="margin:5px" class="B_INPUT" value="打印盘点表" />
            <input type="button" id="export_data" name="export_data" style="margin:5px" class="B_INPUT" value="导出数据" />
</div>
<div class="list_title">
商品实时库存
</div>
            </div>
            <div class="datalist">

        <table width="100%" border="0" cellspacing="2" cellpadding="2" class="tBox" id="tBox" >
        <thead  > 
          <tr class="tBar">
          <td width="10%">仓库</td>
			<td width="10%">条码</td>
			<td width="40%">名称</td>
			<td width="10%" align="right">库存</td>
			<td width="10%" align="right">入库未核销</td>
			<td width="10%" align="right">出库未核销</td>
			<td width="10%" align="right">不可用库存</td>

            <td width="5%" align="center">操作</td>
          </tr>
          </thead>

          <tbody>
          <%if dList != null%>
          <%loop dl dList%>
          <tr>
          <td >{dl[sName]}</td>
			<td width="10%">{dl[pBarcode]}</td>
			<td>{dl[pName]}</td>

			<td align="right" >
			<%set {aspxrewriteurl} = decimal.Round((Convert.ToDecimal(dl["Beginning"])+Convert.ToDecimal(dl["pStorage"])+Convert.ToDecimal(dl["pStorageIn"])-Convert.ToDecimal(dl["pStorageOut"])),config.QuantityDecimal).ToString()%>
			{aspxrewriteurl}
			</td>
			<td align="right" >
			<%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["pStorageIn"]),config.QuantityDecimal).ToString()%>
			{aspxrewriteurl}
			</td>
			<td align="right" >
			<%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["pStorageOut"]),config.QuantityDecimal).ToString()%>
			{aspxrewriteurl}
			</td>
			<td align="right" >
			<%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(dl["StorageBad"]),config.QuantityDecimal).ToString()%>

			{aspxrewriteurl}
				
			</td>

            <td width="5%" align="center">
			<a href="javascript:void(0);" onclick="javascript:StockProductsManage.ShowEditBox('{dl[ProductsID]}');">更新</a> 

			</td>
          </tr>
		  <%set {loop_count}={loop_count}+1%>
          <%/loop%>
          
          <%/if%>
          </tbody>
        </table>
     <div id="winType">
            <div id="winbody">
               <table border="0" cellpadding="0" cellspacing="0" style="width:100%;height:100%; border-color:White">
               <tr>
                <td style="background-color:#AABE4D;height:35px"><span style="color:White;font-size:larger; padding-left:10px"><b>仓库分类</b></span><span id="winClose">关闭</span></td>
               </tr>
               <tr>
                 <td>
                  <div id="treeNode"></div>
                 </td>
               </tr>
               </table>
            </div>
           </div>
      <div id="winAll">
          <div id="winLoding"><img alt="" src="/images/loading99.gif"/></div>
         </div>
</div>
<script language="javascript" type="text/javascript">
addTableListener(document.getElementById("tBox"),0,0);
var tf = new TableFixed("tBox");

tf.Clone();//表格结构修改后应重新Clone


var StockProductsManage = new TStockProductsManage();

StockProductsManage.ini();


function HidBox()
{
	StockProductsManage.HidUserBox();
	location=location;
}

$().ready(function () {
    $(window).load(function(){
        $.get('/stockproduct.aspx','',function(data){
                 var sName=eval("("+data+")").sName.split(",");
                 var sID=eval("("+data+")").sID.split(",");
                 var count=sName.length;
                 var StorageID=document.getElementById("StorageID");;
                 if(count>1)
                 {
                     StorageID.length=0;
                     StorageID.options.add(new Option("选择全部", "0"));
                     for (var i = 0; i < count - 1; i++) {
                       StorageID.options.add(new Option(sName[i], sID[i]));
                     }
                 }
                 else
                 {
                    StorageID.length=0;
                    StorageID.options.add(new Option("选择全部", "0"));
                 }
            });
    });
    //数据搜索
    $('#S_key').autocomplete('Services/CAjax.aspx', {

            width: 200,
            scroll: true,
            autoFill: true,
            scrollHeight: 200,
            matchContains: true,
            dataType: 'json',
            extraParams: {
                'do': 'GetProductsList',
                'RCode': Math.random(),
                'ProductsName': function () { return $('#S_key').val(); }
            },
            parse: function (data) {
                var rows = [];
                var tArray = data.results;
                for (var i = 0; i < tArray.length; i++) {
                    rows[rows.length] = {
                        data: tArray[i].value + "(" + tArray[i].info + ")",
                        value: tArray[i].id,
                        result: tArray[i].value
                    };
                }
                return rows;
            },
            formatItem: function (row, i, max) {
                return row;
            },
            formatMatch: function (row, i, max) {
                return row.value;
            },
            formatResult: function (row) {
                return row.value;
            }
        }).result(function (event, data, formatted) {
            $("#ProductID").val((formatted != null) ? formatted : "0");
        }
    );
    //导出数据
    $("#export_data").click(function () {
        var StorageClassName=$("#StorageClassName").val();
        //if(StorageClassName =='')
        //{
        //    jAlert("请选择仓库类别！","友情提示");
        //}
        //else
        //{
            var _url = '/stockproduct.aspx?Act=Export&StorageID=' + $("#StorageID").val() + '&ProductID=' + $("#ProductID").val() + '&sDate=' + $("#sDate").val() + '&StorageClassNum=' + $("#StorageClassNum").val();
            window.open('', "top");
            setTimeout(window.open(_url, "top"), 100);
            return false;
        //}
    });
    //仓库分类树
    $("#treeNode").jstree({   
	"json_data":{"data":[{"data":"仓库分类","state":"closed","children":[{StorageClassJson}]}
                ]}, 
	
	"types" : {  
			 "valid_children" : [ "dt" ],  
			 "types" : {
				 "dt" : {
					 "icon" : { 
						"image" : "/images/dot.png" 
					},
					 "valid_children" : [ "default" ],
					 "max_depth" : 2,
					 "hover_node" : true,
					 "open_node":false,
					 "select_node" : true
				 } 
			 }  
		}, 
	 "plugins" : [ "themes", "json_data", "ui", "crrm", "types", "hotkeys","cCode"] 
	
	}).bind("select_node.jstree", function (e,data) {
		var sID = data.rslt.obj.attr("id").replace('t_','');
		//var sName = data.rslt.obj.context.text;
        var sName = $("#treeNode").jstree('get_text');
        //document.getElementById("StorageClassName").value=sName;
        $("#StorageClassName").val(sName);
        $("#StorageClassNum").val(sID);

        $("#winType").fadeOut("slow");
        if(sID !='')
        {
            $.post('/stockproduct.aspx?Aclass=aclass&sClassID='+sID,'',function(data){
                 var sName=eval("("+data+")").sName.split(",");
                 var sID=eval("("+data+")").sID.split(",");
                 var count=sName.length;
                 var StorageID=document.getElementById("StorageID");;
                 if(count>1)
                 {
                     StorageID.length=0;
                     StorageID.options.add(new Option("选择全部", "0"));
                     for (var i = 0; i < count - 1; i++) {
                       StorageID.options.add(new Option(sName[i], sID[i]));
                     }
                 }
                 else
                 {
                    StorageID.length=0;
                    StorageID.options.add(new Option("选择全部", "0"));
                 }
            });
        }
       
	 });

    //打开仓库树
    $("#StorageClassName").click(function () {
        $("#winType").fadeIn("slow");
    });

    //关闭仓库树
    $("#winClose").click(function () {
        $("#winType").fadeOut("slow");
    });
    $("#res_btn").click(function () {
        $("#winType").fadeOut("slow");
    });
 });



</script>
</form>
      <%/if%>
    </div>



<%template _copyright%>
<%template _footer%>
