<%template _poppageheader%>
<script src="/public/js/WebCalendar.js" type="text/javascript" ></script>
<link rel="stylesheet" type="text/css" href="/public/js/jquery.autocomplete.css"></link>
<script type="text/javascript" src="/public/js/jquery.autocomplete.js "></script>
<%if {ispost} %>
	<%if page_err==0%>
		<%template _popmsgbox%>
	<%else%>
		<%template _poperrmsgbox%>
	<%/if%>
<%else%>
    <%if page_err!=0%>
    	<%template _poperrmsgbox%>
    <%else%>
        <%if page_msg!=0%>
            <%template _popmsgbox%>
        <%else%>
            <form action="" method="post" enctype="multipart/form-data" name="bForm" id="bForm">
              <table border="0" cellspacing="2" cellpadding="2" style="width: 450px;font-size:9pt;">
                <tr id="sName">
                 <td>门店名称：
                    <input type="text" name="SName" id="SName"style="width:150px"/>
                    <input type="hidden"  name="StoresID" id="StoresID" />
                    <span style="color:Red">输入*可检索</span>
                 </td>
                </tr>
                <tr id="StName">
                  <td>仓库名称：
                   <input id="stName" name="stName" type="text" value="默认值" style="width:150px;"/>
                   <span style="color:Red">暂为默认值</span></td>
                </tr>
                <tr id="time">
                  <td>时间选择：
                    <input type="text" id="dtime" name="dtime" onclick="new Calendar().show(this);" style="width:150px"/>
                    <span style="color:Red">*必填项</span>
                  </td>
                </tr>
                <tr><td align="left"><input name="fileUploading" type="file" style="height:20px"/>&nbsp;&nbsp; (须上传标准Excel文件!)
                  <span style="color:Red">*必填项</span>
                </td>
                  </tr>
                   <tr>
                  <td>
                    <span style="color:Red"><b>注意：导入门店产品期初金额时，请确保门店期初产品数量已经导入到库！</b></span>
                  </td>
                </tr>
                    <tr>
                   <td align="left">产品名称查询：<input type="text" id="pName" name="pName" style="width:150px;"  />
                   <input type="hidden" name="ProductID" id="ProductID"/>
                    <span style="color:Red">输入*可查询</span>
                   </td>
                  </tr>
                <tr id="submit">
                  <td colspan="2" align="left">
                  <input type="button" id="button1" style="margin-left:100px" class="B_INPUT" value="确定" onclick="javascript:CheckF();"/>
                  <input type="button" id="button2" style="margin-left:5px" class="B_INPUT" value="取消" onclick="javascript:window.parent.HidBox();"/></td>
                </tr>
				<tr id="loading" style="display:none;">
                  <td colspan="2" align="left" class="style1"><img src="/images/loading.gif" alt="" />数据处理中,该过程需要10-30分钟,请不要刷新,切换或关闭此页面!</td>
                </tr> 
              </table>
    
            </form>
            
			<script language="javascript" type="text/javascript">
			    function CheckF() {
			        if (Sys.getObj('SName').value != '') {
			            if (Sys.getObj('stName').value != '') {
			                if (Sys.getObj('dtime').value != '') {
			                    if (confirm('【请保证已经添加对应产品数量到库】您要确定导入产品单价到库吗？')) {
			                        Sys.getObj('loading').style.display = "";
			                        Sys.getObj('bForm').submit();
			                    }
			                }
			                else {
			                    alert("时间不能为空！");
			                }
			            }
			            else {
			                alert("仓库名称不能为空！");
			            }
			        }
			        else {
			            alert("门店名称不能为空！");
			        }
			    }
			    $().ready(function () {
			        $('#SName').autocomplete('Services/CAjax.aspx', {

			            width: 200,
			            scroll: true,
			            autoFill: true,
			            scrollHeight: 200,
			            matchContains: true,
			            dataType: 'json',
			            extraParams: {
			                'do': 'GetStoresInfoList',
			                'RCode': Math.random(),
			                'StoresName': function () { return $('#SName').val(); }
			            },
			            parse: function (data) {
			                var rows = [];
			                var tArray = data.results;
			                for (var i = 0; i < tArray.length; i++) {
			                    rows[rows.length] = {
			                        data: tArray[i].value + "(" + tArray[i].info + ")",
			                        value: tArray[i].id,
			                        result: tArray[i].value,
			                        sCode: tArray[i].info,
			                        CustomersClassID: tArray[i].CustomersClassID,
			                        CustomersClassName: tArray[i].CustomersClassName,
			                        PriceClassID: tArray[i].PriceClassID,
			                        PriceClassName: tArray[i].PriceClassName,
			                        sType: tArray[i].sType,
			                        sIsFZYH: tArray[i].sIsFZYH,
			                        YHsysName: tArray[i].YHsysName,
			                        sContact: tArray[i].sContact,
			                        sTel: tArray[i].sTel,
			                        sAddress: tArray[i].sAddress,
			                        StaffID: tArray[i].StaffID,
			                        StaffName: tArray[i].StaffName
			                    };
			                }
			                return rows;
			            },
			            formatItem: function (row, i, max) {
			                return row;
			            },
			            formatMatch: function (row, i, max) {
			                return row.value;
			            },
			            formatResult: function (row) {
			                return row.value;
			            }
			        }).result(function (event, data, formatted, row) {

			            $("#StoresID").val((formatted != null) ? formatted : "0");
			        }
	  );
			    });

			    $().ready(function () {
			        $('#pName').autocomplete('Services/CAjax.aspx', {

			            width: 200,
			            scroll: true,
			            autoFill: true,
			            scrollHeight: 200,
			            matchContains: true,
			            dataType: 'json',
			            extraParams: {
			                'do': 'GetProductsList',
			                'RCode': Math.random(),
			                'ProductsName': function () { return $('#pName').val(); }
			            },
			            parse: function (data) {
			                var rows = [];
			                var tArray = data.results;
			                for (var i = 0; i < tArray.length; i++) {
			                    rows[rows.length] = {
			                        data: tArray[i].value + "(" + tArray[i].info + ")",
			                        value: tArray[i].id,
			                        result: tArray[i].value
			                    };
			                }
			                return rows;
			            },
			            formatItem: function (row, i, max) {
			                return row;
			            },
			            formatMatch: function (row, i, max) {
			                return row.value;
			            },
			            formatResult: function (row) {
			                return row.value;
			            }
			        }).result(function (event, data, formatted) {
			            $("#ProductID").val((formatted != null) ? formatted : "0");
			        }
		  );

			    });    
			</script>
                
            <%/if%>
    <%/if%>
<%/if%>

