<%template _poppageheader%>
<body>
<link rel="stylesheet" type="text/css" href="public/js/jquery.autocomplete.css"></link>

<script type="text/javascript" src="public/js/jquery.autocomplete.js "></script>
<script type="text/javascript" src="public/js/dialog.js "></script>
<script src="public/js/WebCalendar.js" type="text/javascript" ></script>
<script type="text/javascript" src="/public/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/public/js/jquery.hotkeys.js"></script>
<script type="text/javascript" src="/public/js/jquery.jstree.js"></script>
<script type="text/javascript" src="/public/js/jquery.maskedinput-1.2.2.min.js"></script>

<script type="text/javascript" src="/public/js/storage_order_do.js"></script>

<script src="public/js/LodopFuncs.js" type="text/javascript" ></script>


<%if {ispost} %>
	<%if page_err==0%>
		<%template _popmsgbox%>
	<%else%>
		<%template _poperrmsgbox%>
	<%/if%>
<%else%>
    <%if page_err!=0%>
    	<%template _poperrmsgbox%>
    <%else%>
        <%if page_msg!=0%>
            <%template _popmsgbox%>
        <%else%>
            <form name="bForm" id="bForm" action="" method="post">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td colspan="2" align="left">
                  <%set {aspxrewriteurl}=GetOrderType(ordertype.ToString())%>
                  <h2>{aspxrewriteurl}
                  <%if Act=="v"%>
                    
                  <%if oi.oState==1%>
                  	(已经作废)
                  <%else%>
                      <%set {aspxrewriteurl} = GetOrderStpes(oi.oSteps.ToString())%>
                      ({aspxrewriteurl})
                  <%/if%>
                  &nbsp;&nbsp;&nbsp;&nbsp;单号:{oi.oOrderNum} 
                  <%/if%>
                  </h2>
                  </td>
                </tr>
                <tr>
                	<td width="20%" align="left" valign="top" id="tTreeBox">
                      <%if IsEditData == true%>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="left" valign="top"><div id="tTree" class="tTree"></div></td>
                        </tr>
                      </table>
                      <%else%>
                      <script language="javascript" type="text/javascript">
                      $('#tTreeBox').hide();
                      </script>
                      <%/if%>
                     </td>
                  
                  <td align="left" valign="top" >
                  <!--采购-->
                  <%if ordertype==1 || ordertype ==2%>
                  	<%template _storage_order_do_a%>
                  <%/if%>
                  <!--销售-->
                  <%if ordertype==3 || ordertype == 4 || ordertype==5 || ordertype==6 || ordertype==7 || ordertype==11 %>
                  	<%template _storage_order_do_b%>
                  <%/if%>
                  <!--调整,坏货-->
                  <%if ordertype==8 || ordertype==10%>
	                  <%template _storage_order_do_c%>
                  <%/if%>
                  <!--调拨-->
                  <%if ordertype==9%>
	                  <%template _storage_order_do_c%>
                  <%/if%>
                  <!--数据调整-->
                  <%if IsEditData == true%>
                  	  <%template _storage_order_do_x%>
                  <%/if%>
                  </td>
                </tr>
              </table>


              <div style="width:100%;height:80px"></div>
<div id="footer_tool">
<div style="width:100%">
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="tBox">
  
  <tr class="tBar">
	  <td width="30px;"  align="left">本次操作备注:</td>
	  <td  align="left" ><input type="text" id="splRemake" name="splRemake" style="width:100%;
      text-align:left" maxlength="500" /></td>
  </tr>
  <%if IsEditData == false%>
  <tr class="tBar">
	  <td width="30px;"  align="left">单据备注:</td>
	  <td  align="left" ><%if Act == "v"%>{oi.oReMake}<%/if%></td>
  </tr>
  <%/if%>
	<tr class="tBar">
	  <td align="left">合计:</td>
	  <td width="95%" align="right" id="SumMoney"></td>
     </tr>
    </table>
</div>
    
<input id="StoresSupplierID" name="StoresSupplierID" type="hidden" />
<input id="OrderListDataJson" name="OrderListDataJson" type="hidden"/>
<input id="pagecode" name="pagecode" type="hidden" value="{pagecode}"/>
<%if IsEditData == false%>
<input type="button" name="subbutton_print" id="subbutton_print" value=" 打  印 " class="B_INPUT">
<%/if%>
<input type="button" name="subbutton_save" id="subbutton_save" value=" 保存记录 " class="B_INPUT">

<!--<input type="button" name="subbutton_log" id="subbutton_log" value=" 查看记录 " class="B_INPUT">-->

</div>
              
</form>


<%/if%>
    <%/if%>
<%/if%>

<script language="javascript" type="text/javascript">

var OrderDO = new TOrderDO();
OrderDO.PrintPageWidth = '{config.PrintPageWidth}';
OrderDO.PrintAddPageWidth = '{config.PrintAddPageWidth}';
OrderDO.Order_lock = {config.Order_lock};
OrderDO.UserCode = '{UserCode}';
OrderDO.ShowEdit = '{ShowEdit}'=='False'?false:true;
OrderDO.OrderType = {ordertype};
OrderDO.OrderID = {orderid};
OrderDO.MoneyDecimal = {config.MoneyDecimal};
OrderDO.QuantityDecimal = {config.QuantityDecimal};
OrderDO.ShowPrice = false;

<%if IsEditData == false%>
	<%if Act == "v"%>
	OrderDO.Steps = {oi.oSteps};
	$().ready(function(){
	OrderDO.ReSetDataList();
	});
	<%/if%>


	<%if IsMOrder == true%>
	<%if _ms.mExpName!=null%>
	OrderDO.IsMOrder = true;
	OrderDO.ExpID = '{_ms.mExpName}';
	OrderDO.mExpNO = '{_ms.mExpNO}';
	OrderDO.m_configid = '{_ms.m_ConfigInfoID}';
	<%/if%>
	<%/if%>

<%/if%>
//调拨单用

OrderDO.ini();
<%if IsEditData == false%>
	<%if Act == "v" %>
	OrderDO.sel_StorageIDB = {oi.StoresSupplierID};
	<%/if%>
<%/if%>
addTableListener(document.getElementById("tBoxsb"),0,0);
</script>

<object id="LODOP" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0> 
<embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0 pluginspage="/public/install_lodop.exe"></embed>
</object>
<%template _footer%>