<%template _header%>


<%if {ispost} %>
	<%if page_err==0%>
		<%template _msgbox%>
	<%else%>
		<%template _errmsgbox%>
	<%/if%>
<%else%>
<script src="public/js/yhsys.js" language="javascript" type="text/javascript"></script>

    <div class="main" id="usermanage">
        <%if page_err!=0%>
            <%template _errmsgbox%>
        <%else%>
        
<div class="toolbar">
<div class="toolbox">
<input type="button" id="button1" style="margin:5px" class="B_INPUT" value="删除选中" onclick="javascript:YHsysManage.Delt();"  />
<input type="button" id="button3" style="margin:5px" class="B_INPUT" value="添加" onclick="javascript:YHsysManage.ShowAddUserBox();"  />
</div>
<div class="list_title">
超市系统列表
</div>
</div>
<div class="datalist">
    <form action="" method="post" name="form1" id="form1">
        <table width="100%" border="0" cellspacing="2" cellpadding="0" class="tBox" id="tBoxs">
          <tr class="tBar">
            <td width="2%"><input name="cCheck" type="checkbox" class="B_Check" value="" onclick="javascript:selectCheck(document.getElementById('form1'),this);"/></td>
            <td >名称</td>
            <td width="10%">操作</td>
          </tr>
          <%if dList != null%>
          <%loop dl dList%>
          <tr>
            <td>
            <input name="cCheck" type="checkbox" class="B_Check" value="{dl[YHsysID]}" />
            </td>
            <td><a href="javascript:void(0);" onclick="javascript:YHsysManage.ShowEditUserBox({dl[YHsysID]});">{dl[yName]}</a></td>
            <td><a href="javascript:void(0);" onclick="javascript:YHsysManage.ShowDelUserBox({dl[YHsysID]});">删除</a> <a href="javascript:void(0);" onclick="javascript:YHsysManage.ShowEditUserBox({dl[YHsysID]});">修改</a></td>
          </tr>
          <%/loop%>
          <tr>
            <td colspan="3"><%if PageBarHTML!=null%>{PageBarHTML}<%/if%></td>
          </tr>
          
          <%/if%>
        </table>
    </form>
</div>

      <%/if%>
    </div>
<script language="javascript" type="text/javascript">
var YHsysManage = new TYHsysManage();
YHsysManage.ini();

function HidBox()
{
	YHsysManage.HidUserBox();
	location.reload();
}
addTableListener(document.getElementById("tBoxs"),0,0);
</script>
<%/if%>

<%template _copyright%>
<%template _footer%>
