<?xml version="1.0" encoding="utf-8" ?>
<DataTypes>
	<DataType name="客户销售数据_多文件" id="1" ></DataType>
	<DataType name="联营库存数据_多文件" id="2" ></DataType>
	<DataType name="公司销售数据_多文件" id="3" ></DataType>
	<DataType name="公司出货数据_多文件" id="4" ></DataType>
	<DataType name="仓库库存数据_多文件" id="5" ></DataType>

	<DataType name="客户销售数据_单文件" id="6" ></DataType>
	<DataType name="联营库存数据_单文件" id="7" ></DataType>
	<DataType name="公司销售数据_单文件" id="8" ></DataType>
	<DataType name="公司出货数据_单文件" id="9" ></DataType>
	<DataType name="仓库库存数据_单文件" id="10" ></DataType>

	<DataType name="客户销售,联营库存,公司销售,公司出货,仓库库存,单文件" id="11" ></DataType>

	<DataType name="仓库库存数据_多仓库多文件" id="12" ></DataType>

	<DataType name="仓库库存实时数据_多仓库单表单文件" id="13" ></DataType>
</DataTypes>