<?xml version="1.0"?>
<EmailConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Smtp>smtp.gmail.com</Smtp>
  <Port>587</Port>
  <Sysemail>support@yannyo.com</Sysemail>
  <Username>support@yannyo.com</Username>
  <Password>123123</Password>
  <RegEmailtitle>账户激活</RegEmailtitle>
  <RegEmailcontent>
	  <![CDATA[
	  尊敬的 <b>{username}</b>：<br/><br/>

	  您好！<br/><br/>

	  欢迎加入 燕游， 我们的地址为： <a href="{sysurl}">{sysurl}</a><br/><br/>

	  请点击下面的链接完成注册，我们将一起起飞：<br/><br/>

	  <a href="{regurl}"><b>{regurl}</b></a><br/><br/>

	  如果以上链接无法点击，请将上面的地址复制到你的浏览器(如IE)的地址栏进入。<br/><br/>

	  感谢您使用{systitle}的服务，如果您需要了解更多{systitle}相关的信息，请登录我们的网站： <a href="{sysurl}">{sysurl}</a><br/><br/>

	  希望您继续支持我们！<br/><br/>

	  (这是一封自动产生的email，请勿回复。)]]>
  </RegEmailcontent>
	<ReGetPWDtitle>密码找回</ReGetPWDtitle>
	<ReGetPWDcontent>
		<![CDATA[
		尊敬的{username}：<br/><br/>

		您好！<br/><br/>

		请点击下面的链接完成密码找回重置：<br/><br/>

		<a href="{getpwdurl}"><b>{getpwdurl}</b></a><br/><br/>

		如果以上链接无法点击，请将上面的地址复制到你的浏览器(如IE)的地址栏进入。<br/><br/>

		感谢您使用{systitle}的服务，如果您需要了解更多{systitle}相关的信息，请登录我们的网站： <a href="{sysurl}">{sysurl}</a><br/><br/>

		希望您继续支持我们！<br/><br/>

		(这是一封自动产生的email，请勿回复。)]]>
	</ReGetPWDcontent>
	<InviteFriendMailTitle>好友 {username} 邀请</InviteFriendMailTitle>
	<InviteFriendMailContent>
<![CDATA[
您好！

{username} 邀请您加入{systitle},请点击下面的链接获得邀请：

{invitefriendurl}

如果以上链接无法点击，请将上面的地址复制到你的浏览器(如IE)的地址栏进入。

感谢您使用{systitle}的服务，如果您需要了解更多{systitle}相关的信息，请登录我们的网站： {sysurl}

希望您继续支持我们！

(这是一封自动产生的email，请勿回复。)
]]>
	</InviteFriendMailContent>
  <PluginNameSpace>Yannyo.Common.Mail</PluginNameSpace>
  <DllFileName></DllFileName>
</EmailConfigInfo>