<?xml version="1.0" encoding="utf-8" ?>
<ExpressTemplates>
	<Template name="汇通快运" id="1" Pic="/images/Express/HTKY.jpg" Width="229" Height="126" ExpName="汇通快运">
	<![CDATA[
LODOP.ADD_PRINT_TEXT(180,201,166,29,"{From_name}");
LODOP.ADD_PRINT_TEXT(222,199,425,33,"{From_company}");
LODOP.ADD_PRINT_TEXT(276,200,420,119,"{From_address}");
LODOP.ADD_PRINT_TEXT(406,260,167,20,"{From_phone}");
LODOP.ADD_PRINT_TEXT(406,481,135,20,"{From_mobile}");
LODOP.ADD_PRINT_TEXT(588,197,115,35,"{From_name}");
LODOP.ADD_PRINT_TEXT(176,763,182,29,"{Receiver_name}");
LODOP.ADD_PRINT_TEXT(173,1020,177,30,"{Receiver_city}");
LODOP.ADD_PRINT_TEXT(276,738,473,123,"{Receiver_address}");
LODOP.ADD_PRINT_TEXT(407,831,171,20,"{Receiver_phone}");
LODOP.ADD_PRINT_TEXT(406,1062,146,20,"{Receiver_mobile}");
	]]></Template>
	<Template name="CCES" id="2" Pic="/images/Express/CCES.jpg" Width="217" Height="126" ExpName="CCES">
	<![CDATA[
LODOP.ADD_PRINT_TEXT(303,198,166,29,"{From_name}");
LODOP.ADD_PRINT_TEXT(262,196,425,33,"{From_company}");
LODOP.ADD_PRINT_TEXT(203,184,420,49,"{From_address}");
LODOP.ADD_PRINT_TEXT(355,260,167,20,"{From_phone}");
LODOP.ADD_PRINT_TEXT(354,468,135,20,"{From_mobile}");
LODOP.ADD_PRINT_TEXT(573,222,115,35,"{From_name}");
LODOP.ADD_PRINT_TEXT(305,752,182,29,"{Receiver_name}");
LODOP.ADD_PRINT_TEXT(178,875,108,30,"{Receiver_city}");
LODOP.ADD_PRINT_TEXT(209,743,473,65,"{Receiver_address}");
LODOP.ADD_PRINT_TEXT(353,822,171,20,"{Receiver_phone}");
LODOP.ADD_PRINT_TEXT(352,1022,146,20,"{Receiver_mobile}");
LODOP.ADD_PRINT_TEXT(180,745,100,28,"{Receiver_state}");
LODOP.ADD_PRINT_TEXT(178,1039,85,30,"{Receiver_district}");
	]]></Template>
	<Template name="圆通速递" id="3" Pic="/images/Express/Yto.jpg" Width="229" Height="127" ExpName="圆通速递">
	<![CDATA[
LODOP.ADD_PRINT_TEXT(127,160,129,29,"{From_name}");
LODOP.ADD_PRINT_TEXT(163,182,340,33,"{From_company}");
LODOP.ADD_PRINT_TEXT(216,153,321,74,"{From_address}");
LODOP.ADD_PRINT_TEXT(302,404,122,20,"{From_phone}");
LODOP.ADD_PRINT_TEXT(300,207,130,20,"{From_mobile}");
LODOP.ADD_PRINT_TEXT(507,164,115,35,"{From_name}");
LODOP.ADD_PRINT_TEXT(148,643,127,29,"{Receiver_name}");
LODOP.ADD_PRINT_TEXT(147,811,108,30,"{Receiver_city}");
LODOP.ADD_PRINT_TEXT(263,571,473,38,"{Receiver_address}");
LODOP.ADD_PRINT_TEXT(305,915,129,20,"{Receiver_phone}");
LODOP.ADD_PRINT_TEXT(305,701,146,20,"{Receiver_mobile}");
LODOP.ADD_PRINT_TEXT(226,672,100,31,"{Receiver_state}");
LODOP.ADD_PRINT_TEXT(227,927,85,30,"{Receiver_district}");
LODOP.ADD_PRINT_TEXT(228,811,77,30,"{Receiver_city}");
	]]></Template>
	<Template name="顺丰速运" id="4" Pic="/images/Express/SF.jpg" Width="215" Height="140" ExpName="顺丰速运">
	<![CDATA[
LODOP.ADD_PRINT_TEXT(226,441,98,29,"{From_name}");
LODOP.ADD_PRINT_TEXT(227,155,229,33,"{From_company}");
LODOP.ADD_PRINT_TEXT(267,144,321,74,"{From_address}");
LODOP.ADD_PRINT_TEXT(368,259,128,20,"{From_phone}");
LODOP.ADD_PRINT_TEXT(346,259,130,20,"{From_mobile}");
LODOP.ADD_PRINT_TEXT(471,1016,115,35,"{From_name}");
LODOP.ADD_PRINT_TEXT(414,178,127,29,"{Receiver_name}");
LODOP.ADD_PRINT_TEXT(457,146,383,105,"{Receiver_address}");
LODOP.ADD_PRINT_TEXT(567,285,144,20,"{Receiver_phone}");
LODOP.ADD_PRINT_TEXT(586,284,146,20,"{Receiver_mobile}");
	]]></Template>
	<Template name="宅急送" id="5" Pic="/images/Express/ZJS.jpg" Width="225" Height="135" ExpName="宅急送">
	<![CDATA[
LODOP.ADD_PRINT_TEXT(237,228,98,29,"{From_name}");
LODOP.ADD_PRINT_TEXT(332,196,467,33,"{From_company}");
LODOP.ADD_PRINT_TEXT(278,283,379,51,"{From_address}");
LODOP.ADD_PRINT_TEXT(388,181,128,20,"{From_phone}");
LODOP.ADD_PRINT_TEXT(387,484,130,20,"{From_mobile}");
LODOP.ADD_PRINT_TEXT(642,828,115,35,"{From_name}");
LODOP.ADD_PRINT_TEXT(463,234,127,29,"{Receiver_name}");
LODOP.ADD_PRINT_TEXT(509,265,398,39,"{Receiver_address}");
LODOP.ADD_PRINT_TEXT(613,181,144,20,"{Receiver_phone}");
LODOP.ADD_PRINT_TEXT(612,472,146,20,"{Receiver_mobile}");
LODOP.ADD_PRINT_TEXT(465,410,100,31,"{Receiver_state}");
LODOP.ADD_PRINT_TEXT(513,126,85,30,"{Receiver_district}");
LODOP.ADD_PRINT_TEXT(465,559,77,30,"{Receiver_city}");
LODOP.ADD_PRINT_TEXT(562,193,145,29,"{Receiver_name}");
	]]></Template>
	<Template name="星晨急便COD" id="6" Pic="/images/Express/SCJB.jpg" Width="228" Height="139" ExpName="星晨急便COD">
	<![CDATA[
LODOP.ADD_PRINT_TEXT(184,166,98,29,"{From_name}");
LODOP.ADD_PRINT_TEXT(183,342,216,33,"{From_company}");
LODOP.ADD_PRINT_TEXT(262,142,379,31,"{From_address}");
LODOP.ADD_PRINT_TEXT(309,214,128,20,"{From_phone}");
LODOP.ADD_PRINT_TEXT(304,434,130,20,"{From_mobile}");
LODOP.ADD_PRINT_TEXT(627,145,115,35,"{From_name}");
LODOP.ADD_PRINT_TEXT(354,151,122,29,"{Receiver_name}");
LODOP.ADD_PRINT_TEXT(432,102,455,66,"{Receiver_address}");
LODOP.ADD_PRINT_TEXT(521,209,133,20,"{Receiver_phone}");
LODOP.ADD_PRINT_TEXT(521,357,199,20,"{Receiver_mobile}");
LODOP.ADD_PRINT_TEXT(394,129,100,31,"{Receiver_state}");
LODOP.ADD_PRINT_TEXT(392,336,85,30,"{Receiver_district}");
LODOP.ADD_PRINT_TEXT(393,243,77,30,"{Receiver_city}");
	]]></Template>
	<Template name="EMS" id="7" Pic="/images/Express/EMS.jpg" Width="225" Height="127" ExpName="EMS">
	<![CDATA[
LODOP.ADD_PRINT_TEXT(155,173,98,29,"{From_name}");
LODOP.ADD_PRINT_TEXT(187,239,216,33,"{From_company}");
LODOP.ADD_PRINT_TEXT(243,94,410,58,"{From_address}");
LODOP.ADD_PRINT_TEXT(141,382,128,20,"{From_phone}");
LODOP.ADD_PRINT_TEXT(163,381,130,20,"{From_mobile}");
LODOP.ADD_PRINT_TEXT(484,220,200,35,"{From_name}");
LODOP.ADD_PRINT_TEXT(156,609,122,29,"{Receiver_name}");
LODOP.ADD_PRINT_TEXT(303,597,108,30,"{Receiver_city}");
LODOP.ADD_PRINT_TEXT(248,541,429,56,"{Receiver_address}");
LODOP.ADD_PRINT_TEXT(150,826,133,20,"{Receiver_phone}");
LODOP.ADD_PRINT_TEXT(174,825,137,20,"{Receiver_mobile}");
LODOP.ADD_PRINT_TEXT(225,623,100,21,"{Receiver_state}");
LODOP.ADD_PRINT_TEXT(224,830,100,25,"{Receiver_district}");
LODOP.ADD_PRINT_TEXT(224,731,92,25,"{Receiver_city}");
LODOP.ADD_PRINT_TEXT(187,675,145,29,"{Receiver_name}");
	]]></Template>
	<Template name="星晨急便" id="8" Pic="/images/Express/SCJB2.jpg" Width="228" Height="139" ExpName="星晨急便">
	<![CDATA[
LODOP.ADD_PRINT_TEXT(196,158,98,29,"{From_name}");
LODOP.ADD_PRINT_TEXT(192,365,216,33,"{From_company}");
LODOP.ADD_PRINT_TEXT(270,106,410,42,"{From_address}");
LODOP.ADD_PRINT_TEXT(330,228,128,20,"{From_phone}");
LODOP.ADD_PRINT_TEXT(328,372,130,20,"{From_mobile}");
LODOP.ADD_PRINT_TEXT(663,142,200,35,"{From_name}");
LODOP.ADD_PRINT_TEXT(380,165,122,29,"{Receiver_name}");
LODOP.ADD_PRINT_TEXT(457,107,474,66,"{Receiver_address}");
LODOP.ADD_PRINT_TEXT(551,229,133,20,"{Receiver_phone}");
LODOP.ADD_PRINT_TEXT(550,380,137,20,"{Receiver_mobile}");
LODOP.ADD_PRINT_TEXT(417,136,100,21,"{Receiver_state}");
LODOP.ADD_PRINT_TEXT(420,353,100,25,"{Receiver_district}");
LODOP.ADD_PRINT_TEXT(417,247,92,25,"{Receiver_city}");
LODOP.ADD_PRINT_TEXT(379,368,145,29,"{Receiver_name}");
	]]></Template>
	<Template name="韵达快运" id="9" Pic="/images/Express/YUNDA.jpg" Width="229" Height="126" ExpName="韵达快运">
	<![CDATA[
LODOP.ADD_PRINT_TEXT(137,174,98,29,"{From_name}");
LODOP.ADD_PRINT_TEXT(173,204,405,33,"{From_company}");
LODOP.ADD_PRINT_TEXT(243,120,484,87,"{From_address}");
LODOP.ADD_PRINT_TEXT(369,239,128,20,"{From_phone}");
LODOP.ADD_PRINT_TEXT(392,237,130,20,"{From_mobile}");
LODOP.ADD_PRINT_TEXT(605,104,200,35,"{From_name}");
LODOP.ADD_PRINT_TEXT(175,771,122,29,"{Receiver_name}");
LODOP.ADD_PRINT_TEXT(140,729,108,30,"{Receiver_city}");
LODOP.ADD_PRINT_TEXT(247,696,507,91,"{Receiver_address}");
LODOP.ADD_PRINT_TEXT(131,1069,133,20,"{Receiver_phone}");
LODOP.ADD_PRINT_TEXT(155,1072,137,20,"{Receiver_mobile}");
LODOP.ADD_PRINT_TEXT(213,719,100,26,"{Receiver_state}");
LODOP.ADD_PRINT_TEXT(214,931,100,25,"{Receiver_district}");
LODOP.ADD_PRINT_TEXT(213,827,92,25,"{Receiver_city}");
LODOP.ADD_PRINT_TEXT(381,735,145,29,"{Receiver_name}");
	]]></Template>
	<Template name="中通速递" id="10" Pic="/images/Express/Zto.jpg" Width="229" Height="127" ExpName="中通速递">
	<![CDATA[
LODOP.ADD_PRINT_TEXT(174,231,98,29,"{From_name}");
LODOP.ADD_PRINT_TEXT(325,205,405,33,"{From_company}");
LODOP.ADD_PRINT_TEXT(251,179,441,71,"{From_address}");
LODOP.ADD_PRINT_TEXT(368,239,128,20,"{From_phone}");
LODOP.ADD_PRINT_TEXT(392,237,130,20,"{From_mobile}");
LODOP.ADD_PRINT_TEXT(543,212,154,35,"{From_name}");
LODOP.ADD_PRINT_TEXT(175,771,122,29,"{Receiver_name}");
LODOP.ADD_PRINT_TEXT(178,1039,108,30,"{Receiver_city}");
LODOP.ADD_PRINT_TEXT(254,726,507,76,"{Receiver_address}");
LODOP.ADD_PRINT_TEXT(368,764,133,20,"{Receiver_phone}");
LODOP.ADD_PRINT_TEXT(394,767,137,20,"{Receiver_mobile}");
LODOP.ADD_PRINT_TEXT(224,781,100,26,"{Receiver_state}");
LODOP.ADD_PRINT_TEXT(222,998,100,25,"{Receiver_district}");
LODOP.ADD_PRINT_TEXT(223,892,92,25,"{Receiver_city}");
LODOP.ADD_PRINT_TEXT(332,749,145,29,"{Receiver_name}");
	]]></Template>
	<Template name="申通E物流" id="11" Pic="/images/Express/sto2.jpg" Width="230" Height="127" ExpName="申通E物流">
	<![CDATA[
LODOP.ADD_PRINT_TEXT(174,231,98,29,"{From_name}");
LODOP.ADD_PRINT_TEXT(227,187,405,33,"{From_company}");
LODOP.ADD_PRINT_TEXT(290,188,446,74,"{From_address}");
LODOP.ADD_PRINT_TEXT(394,249,128,20,"{From_phone}");
LODOP.ADD_PRINT_TEXT(394,395,130,20,"{From_mobile}");
LODOP.ADD_PRINT_TEXT(591,211,154,35,"{From_name}");
LODOP.ADD_PRINT_TEXT(175,771,122,29,"{Receiver_name}");
LODOP.ADD_PRINT_TEXT(178,1039,108,30,"{Receiver_city}");
LODOP.ADD_PRINT_TEXT(314,683,507,58,"{Receiver_address}");
LODOP.ADD_PRINT_TEXT(389,811,133,20,"{Receiver_phone}");
LODOP.ADD_PRINT_TEXT(388,953,137,20,"{Receiver_mobile}");
LODOP.ADD_PRINT_TEXT(280,757,100,26,"{Receiver_state}");
LODOP.ADD_PRINT_TEXT(279,970,100,25,"{Receiver_district}");
LODOP.ADD_PRINT_TEXT(280,867,92,25,"{Receiver_city}");
LODOP.ADD_PRINT_TEXT(228,750,145,29,"{Receiver_name}");
	]]></Template>
</ExpressTemplates>