<?xml version="1.0" encoding="utf-8" ?>
<FeesSubjectClassTypes>
	<FeesSubjectClassType name="资产" id="0" ></FeesSubjectClassType>
	<FeesSubjectClassType name="负债" id="1" ></FeesSubjectClassType>
	<FeesSubjectClassType name="权益" id="2" ></FeesSubjectClassType>
	<FeesSubjectClassType name="损益" id="3" ></FeesSubjectClassType>
	<FeesSubjectClassType name="成本" id="4" ></FeesSubjectClassType>
</FeesSubjectClassTypes>