<?xml version="1.0"?>
<GeneralConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Systitle>燕游商企通</Systitle>
  <Sysurl>http://erp.bdu9.com</Sysurl>
  <Webtitle>燕游商企通</Webtitle>
  <Weburl>http://erp.bdu9.com</Weburl>
  <Licensed>0</Licensed>
  <Icp />
  <Closed>0</Closed>
  <Closedreason>抱歉!系统暂时关闭,稍后才能访问.</Closedreason>
  <CookieDomain />
  <CookieTag>IsLand_Sales</CookieTag>
  <Linktext />
  <Statcode />
  <Passwordkey>1qa2ws@3</Passwordkey>
  <Ipdenyaccess />
  <Ipaccess />
  <Archiverstatus>1</Archiverstatus>
  <Seotitle />
  <Seokeywords />
  <Seodescription />
  <Seohead>&lt;meta name="generator" content="Yannyo" /&gt;</Seohead>
  <Passwordmode>0</Passwordmode>
  <Aspxrewrite>1</Aspxrewrite>
  <TemplatesInherits>Yannyo_PassPort</TemplatesInherits>
  <Onlinetimeout>10</Onlinetimeout>
  <Oltimespan>1</Oltimespan>
  <Debug>1</Debug>
  <MailQueueWEBServicesURL>http://mailqueue.yannyo.com/MailQueueService.asmx</MailQueueWEBServicesURL>
  <SendMailUserName>Yannyo_Local_PassPort</SendMailUserName>
  <SendMailUserPWD>1q2w3e@1q2w3e</SendMailUserPWD>
  <WeatherWebServiceURL>http://www.webxml.com.cn/WebServices/WeatherWebService.asmx</WeatherWebServiceURL>
  <ErpWebServiceURL>http://erp.bdu9.com/DataEngine.asmx</ErpWebServiceURL>
  <ErpWebServicePWD>20071211</ErpWebServicePWD>
  <DataPath>/Data/</DataPath>
  <LiveID_appid>00000000400164C0</LiveID_appid>
  <LiveID_secret>4nOatYmh3AO2Cfvc2cbQ8ehLBDaNB7rT</LiveID_secret>
  <LiveID_securityalgorithm>wsignin1.0</LiveID_securityalgorithm>
  <GoogleID_urlScope>http://www.google.com/m8/feeds/</GoogleID_urlScope>
  <GoogleID_urlAuthSubRequest>https://www.google.com/accounts/AuthSubRequest?</GoogleID_urlAuthSubRequest>
  <GoogleID_urlData>http://www.google.com/m8/feeds/contacts/default/thin?max-results=0</GoogleID_urlData>
  <GoogleID_appid />
  <YahooID_secret />
  <YahooID_timeout>300</YahooID_timeout>
  <Yahoo_server>https://api.login.yahoo.com</Yahoo_server>
  <Yahoo_pathLogin>/WSLogin/V1/wslogin?</Yahoo_pathLogin>
  <YahooID_pathPwtoken_login>/WSLogin/V1/wspwtoken_login?</YahooID_pathPwtoken_login>
  <XiaoneiID_loginUrl>http://apps.xiaonei.com/passport/login.html</XiaoneiID_loginUrl>
  <OrderID>2125072</OrderID>
  <MonthlyStatementCode>2000017</MonthlyStatementCode>
  <SupplierCode>6010101157</SupplierCode>
  <CertificateCode>80810059</CertificateCode>
  <MoneyDecimal>6</MoneyDecimal>
  <QuantityDecimal>2</QuantityDecimal>
  <CompanyName>福州燕游网络科技有限公司</CompanyName>
  <RegistrationNo>350100000000</RegistrationNo>
  <Address>福州市鼓楼区</Address>
  <Phone>0591-88089619</Phone>
  <PrinterName />
  <PrintPageWidth>21.5cm</PrintPageWidth>
  <PrintCertificatePageWidth>21.5cm</PrintCertificatePageWidth>
  <CertificateRow>2</CertificateRow>
  <CertificateCodeLen>4</CertificateCodeLen>
  <PrintAddPageWidth>21.5cm</PrintAddPageWidth>
  <PrintAddRow>8</PrintAddRow>
  <Taobao_Open>0</Taobao_Open>
  <Taobao_SandBox>1</Taobao_SandBox>
  <Taobao_Api>http://gw.api.tbsandbox.com/router/rest</Taobao_Api>
  <Taobao_Api_Authorize>http://container.api.tbsandbox.com/container?appkey=</Taobao_Api_Authorize>
  <Taobao_Api_Authorize_KeyName>autoInput</Taobao_Api_Authorize_KeyName>
  <Taobao_Api_Session>http://container.api.tbsandbox.com/container?authcode=</Taobao_Api_Session>
  <Taobao_Api_Session_KeyName>top_session</Taobao_Api_Session_KeyName>
  <Order_lock>0</Order_lock>
  <Certificate_lock>0</Certificate_lock>
  <ProductCostPriceCodeMail />
  <DBO_AppID>app52</DBO_AppID>
  <DBO_AppKey>dc7c651b1482354d5f4bc9a5a02b3d85</DBO_AppKey>
  <DBO_API>http://app52.dev.dbowner.com/api/</DBO_API>
  <DBO_CompanyID>eda745e540e96046ba869ff7a0f77bfa</DBO_CompanyID>
  <DBO_ErpSys>HM_Yannyo</DBO_ErpSys>
  <Server_Key>1qW23e</Server_Key>
  <Server_Staff />
  <Server_User />
  <Print_Foot>
    [table width='100%' border='0' cellspacing='0' cellpadding='0' style='margin:10px;' class='print_othermsg']
    [tr]
    [td]白联:存根联 [/td]
    [td]红联:财务联 [/td]
    [td]绿联:回单联 [/td]
    [td]蓝联:客户联[/td]
    [td]黄联:仓管联[/td]
    [/tr]
    [/table]
  </Print_Foot>
  <Order_Print_Item>4</Order_Print_Item>
</GeneralConfigInfo>