<?xml version="1.0"?>
<ManagerClass>
  <Manager name="开单员" Classid="1" Popedoms="" />
  <Manager name="仓库管理员" Classid="2" Popedoms="" />
  <Manager name="跟踪文员" Classid="3" Popedoms="" />
  <Manager name="财务" Classid="4" Popedoms="" />
  <Manager name="业务查单" Classid="5" Popedoms="" />
  <Manager name="其他" Classid="6" Popedoms="2," />
</ManagerClass>