<?xml version="1.0" encoding="utf-8" ?>
<MonthlyStatementSteps>
	<MonthlyStatementStep name="新对账单" id="0" ></MonthlyStatementStep>
	<MonthlyStatementStep name="已对账" id="1" ></MonthlyStatementStep>
	<MonthlyStatementStep name="已到款" id="2" ></MonthlyStatementStep>
	<MonthlyStatementStep name="已结账" id="3" ></MonthlyStatementStep>
</MonthlyStatementSteps>