<?xml version="1.0" encoding="utf-8" ?>
<OrderTypes>
	<OrderType name="采购入库" id="1" InOut="in"></OrderType>
	<OrderType name="采购退货" id="2" InOut="out"></OrderType>
	<OrderType name="销售发货" id="3" InOut="out"></OrderType>
	<OrderType name="销售退货" id="4" InOut="in"></OrderType>
	<OrderType name="赠品" id="5" InOut="out"></OrderType>
	<OrderType name="样品" id="6" InOut="out"></OrderType>
	<OrderType name="代购" id="7" InOut="out"></OrderType>
	<OrderType name="库存调整" id="8" InOut=""></OrderType>
	<OrderType name="库存调拨" id="9" InOut=""></OrderType>
	<OrderType name="坏货" id="10" InOut="out"></OrderType>
	<OrderType name="换货" id="11" InOut="inout"></OrderType>
</OrderTypes>