<?xml version="1.0" encoding="utf-8" ?>
<OrderSteps>
	<OrderStep name="新开单" id="1" ></OrderStep>
	<OrderStep name="新单已审核" id="2" ></OrderStep>
	<OrderStep name="已发货" id="3" ></OrderStep>
	<OrderStep name="已收货" id="4" ></OrderStep>
	<OrderStep name="已验收确认(已核销)" id="5" ></OrderStep>
	<OrderStep name="对账中" id="6" ></OrderStep>
	<OrderStep name="已对账" id="7" ></OrderStep>
	<OrderStep name="完成收付款" id="8" ></OrderStep>
	<OrderStep name="已结账" id="9" ></OrderStep>
</OrderSteps>