<?xml version="1.0" encoding="utf-8" ?>
<Popedoms>
	<bPopedom name="基础数据" popedomid="2"></bPopedom>
	<bPopedom name="分类体系" popedomid="2-1"></bPopedom>
	<bPopedom name="商品分类" popedomid="2-1-1"></bPopedom>
	<bPopedom name="部门分类" popedomid="2-1-2"></bPopedom>
	<bPopedom name="供货商分类" popedomid="2-1-3"></bPopedom>
	<bPopedom name="客户分类" popedomid="2-1-4"></bPopedom>
	<bPopedom name="地区分类" popedomid="2-1-5"></bPopedom>
	<bPopedom name="价格分类" popedomid="2-1-6"></bPopedom>
	<bPopedom name="单据自定义字段" popedomid="2-1-7"></bPopedom>
	<bPopedom name="商品自定义字段" popedomid="2-1-8"></bPopedom>
	
	
	<bPopedom name="仓库分类" popedomid="2-1-11"></bPopedom>

	
	<bPopedom name="基础档案" popedomid="2-2"></bPopedom>
	<bPopedom name="仓库档案" popedomid="2-2-1"></bPopedom>
  <bPopedom name="仓库档案导入导出" popedomid="2-2-1-1"></bPopedom>
  
	<bPopedom name="商品档案" popedomid="2-2-2"></bPopedom>
  <bPopedom name="商品档案导入导出" popedomid="2-2-2-1"></bPopedom>
  
	<bPopedom name="供货商档案" popedomid="2-2-3"></bPopedom>
  <bPopedom name="供货商档案导入导出" popedomid="2-2-3-1"></bPopedom>
  
	<bPopedom name="客户档案" popedomid="2-2-4"></bPopedom>
  <bPopedom name="客户档案导入导出" popedomid="2-2-4-1"></bPopedom>
  
	<bPopedom name="超市系统" popedomid="2-2-5"></bPopedom>
	<bPopedom name="结算系统" popedomid="2-2-6"></bPopedom>

	<bPopedom name="价格管理" popedomid="2-3"></bPopedom>
	<bPopedom name="供应商价格" popedomid="2-3-2"></bPopedom>
	<bPopedom name="价格类型默认价格" popedomid="2-3-3"></bPopedom>

	<bPopedom name="期初数据" popedomid="2-4"></bPopedom>

	<bPopedom name="期初商品设置" popedomid="2-4-3"></bPopedom>
	

	<bPopedom name="日常业务" popedomid="3"></bPopedom>

	<bPopedom name="采购" popedomid="3-1"></bPopedom>
	<bPopedom name="采购入库" popedomid="3-1-1"></bPopedom>
	<bPopedom name="开单" popedomid="3-1-1-1"></bPopedom>
	<bPopedom name="审核" popedomid="3-1-1-2"></bPopedom>
	<bPopedom name="发货" popedomid="3-1-1-3"></bPopedom>
	<bPopedom name="收货" popedomid="3-1-1-4"></bPopedom>
	<bPopedom name="核销" popedomid="3-1-1-5"></bPopedom>
	<bPopedom name="修改" popedomid="3-1-1-6"></bPopedom>
	<bPopedom name="作废" popedomid="3-1-1-7"></bPopedom>
	<bPopedom name="查看" popedomid="3-1-1-8"></bPopedom>
	<bPopedom name="查看价格" popedomid="3-1-1-9"></bPopedom>
	<bPopedom name="预付款处理" popedomid="3-1-1-10"></bPopedom>

	<bPopedom name="采购退货" popedomid="3-1-2"></bPopedom>
	<bPopedom name="开单" popedomid="3-1-2-1"></bPopedom>
	<bPopedom name="审核" popedomid="3-1-2-2"></bPopedom>
	<bPopedom name="发货" popedomid="3-1-2-3"></bPopedom>
	<bPopedom name="收货" popedomid="3-1-2-4"></bPopedom>
	<bPopedom name="核销" popedomid="3-1-2-5"></bPopedom>
	<bPopedom name="修改" popedomid="3-1-2-6"></bPopedom>
	<bPopedom name="作废" popedomid="3-1-2-7"></bPopedom>
	<bPopedom name="查看" popedomid="3-1-2-8"></bPopedom>
	<bPopedom name="查看价格" popedomid="3-1-2-9"></bPopedom>

	<bPopedom name="销售" popedomid="3-2"></bPopedom>
	<bPopedom name="销售发货" popedomid="3-2-1"></bPopedom>
	<bPopedom name="开单" popedomid="3-2-1-1"></bPopedom>
	<bPopedom name="审核" popedomid="3-2-1-2"></bPopedom>
	<bPopedom name="发货" popedomid="3-2-1-3"></bPopedom>
	<bPopedom name="收货" popedomid="3-2-1-4"></bPopedom>
	<bPopedom name="核销" popedomid="3-2-1-5"></bPopedom>
	<bPopedom name="修改" popedomid="3-2-1-6"></bPopedom>
	<bPopedom name="作废" popedomid="3-2-1-7"></bPopedom>
	<bPopedom name="查看" popedomid="3-2-1-8"></bPopedom>
	<bPopedom name="查看价格" popedomid="3-2-1-9"></bPopedom>
  <bPopedom name="开单修改默认价格" popedomid="3-2-1-10"></bPopedom>

	<bPopedom name="销售退货" popedomid="3-2-2"></bPopedom>
	<bPopedom name="开单" popedomid="3-2-2-1"></bPopedom>
	<bPopedom name="审核" popedomid="3-2-2-2"></bPopedom>
	<bPopedom name="发货" popedomid="3-2-2-3"></bPopedom>
	<bPopedom name="收货" popedomid="3-2-2-4"></bPopedom>
	<bPopedom name="核销" popedomid="3-2-2-5"></bPopedom>
	<bPopedom name="修改" popedomid="3-2-2-6"></bPopedom>
	<bPopedom name="作废" popedomid="3-2-2-7"></bPopedom>
	<bPopedom name="查看" popedomid="3-2-2-8"></bPopedom>
	<bPopedom name="查看价格" popedomid="3-2-2-9"></bPopedom>

	<bPopedom name="赠品" popedomid="3-2-3"></bPopedom>
	<bPopedom name="开单" popedomid="3-2-3-1"></bPopedom>
	<bPopedom name="审核" popedomid="3-2-3-2"></bPopedom>
	<bPopedom name="发货" popedomid="3-2-3-3"></bPopedom>
	<bPopedom name="收货" popedomid="3-2-3-4"></bPopedom>
	<bPopedom name="核销" popedomid="3-2-3-5"></bPopedom>
	<bPopedom name="修改" popedomid="3-2-3-6"></bPopedom>
	<bPopedom name="作废" popedomid="3-2-3-7"></bPopedom>
	<bPopedom name="查看" popedomid="3-2-3-8"></bPopedom>
	<bPopedom name="查看价格" popedomid="3-2-3-9"></bPopedom>

	<bPopedom name="样品" popedomid="3-2-4"></bPopedom>
	<bPopedom name="开单" popedomid="3-2-4-1"></bPopedom>
	<bPopedom name="审核" popedomid="3-2-4-2"></bPopedom>
	<bPopedom name="发货" popedomid="3-2-4-3"></bPopedom>
	<bPopedom name="收货" popedomid="3-2-4-4"></bPopedom>
	<bPopedom name="核销" popedomid="3-2-4-5"></bPopedom>
	<bPopedom name="修改" popedomid="3-2-4-6"></bPopedom>
	<bPopedom name="作废" popedomid="3-2-4-7"></bPopedom>
	<bPopedom name="查看" popedomid="3-2-4-8"></bPopedom>
	<bPopedom name="查看价格" popedomid="3-2-4-9"></bPopedom>

	<bPopedom name="代购" popedomid="3-2-5"></bPopedom>
	<bPopedom name="开单" popedomid="3-2-5-1"></bPopedom>
	<bPopedom name="审核" popedomid="3-2-5-2"></bPopedom>
	<bPopedom name="发货" popedomid="3-2-5-3"></bPopedom>
	<bPopedom name="收货" popedomid="3-2-5-4"></bPopedom>
	<bPopedom name="核销" popedomid="3-2-5-5"></bPopedom>
	<bPopedom name="修改" popedomid="3-2-5-6"></bPopedom>
	<bPopedom name="作废" popedomid="3-2-5-7"></bPopedom>
	<bPopedom name="查看" popedomid="3-2-5-8"></bPopedom>
	<bPopedom name="查看价格" popedomid="3-2-5-9"></bPopedom>

	<bPopedom name="换货" popedomid="3-2-6"></bPopedom>
	<bPopedom name="开单" popedomid="3-2-6-1"></bPopedom>
	<bPopedom name="审核" popedomid="3-2-6-2"></bPopedom>
	<bPopedom name="发货" popedomid="3-2-6-3"></bPopedom>
	<bPopedom name="收货" popedomid="3-2-6-4"></bPopedom>
	<bPopedom name="核销" popedomid="3-2-6-5"></bPopedom>
	<bPopedom name="修改" popedomid="3-2-6-6"></bPopedom>
	<bPopedom name="作废" popedomid="3-2-6-7"></bPopedom>
	<bPopedom name="查看" popedomid="3-2-6-8"></bPopedom>
	<bPopedom name="查看价格" popedomid="3-2-6-9"></bPopedom>
		
	<bPopedom name="仓储" popedomid="3-3"></bPopedom>
	<bPopedom name="库存调拨" popedomid="3-3-1"></bPopedom>
	<bPopedom name="开单" popedomid="3-3-1-1"></bPopedom>
	<bPopedom name="审核" popedomid="3-3-1-2"></bPopedom>
	<bPopedom name="调拨" popedomid="3-3-1-3"></bPopedom>
	<bPopedom name="调拨确认(收货)" popedomid="3-3-1-4"></bPopedom>
	<bPopedom name="核销" popedomid="3-3-1-5"></bPopedom>
	<bPopedom name="修改" popedomid="3-3-1-6"></bPopedom>
	<bPopedom name="作废" popedomid="3-3-1-7"></bPopedom>
	<bPopedom name="查看" popedomid="3-3-1-8"></bPopedom>
	<bPopedom name="查看价格" popedomid="3-3-1-9"></bPopedom>

	<bPopedom name="库存调整" popedomid="3-3-2"></bPopedom>
	<bPopedom name="开单" popedomid="3-3-2-1"></bPopedom>
	<bPopedom name="审核" popedomid="3-3-2-2"></bPopedom>
	<bPopedom name="调整" popedomid="3-3-2-3"></bPopedom>
	<bPopedom name="调整确认(收货)" popedomid="3-3-2-4"></bPopedom>
	<bPopedom name="核销" popedomid="3-3-2-5"></bPopedom>
	<bPopedom name="修改" popedomid="3-3-2-6"></bPopedom>
	<bPopedom name="作废" popedomid="3-3-2-7"></bPopedom>
	<bPopedom name="查看" popedomid="3-3-2-8"></bPopedom>
	<bPopedom name="查看价格" popedomid="3-3-2-9"></bPopedom>

	<bPopedom name="报损" popedomid="3-3-3"></bPopedom>
	<bPopedom name="开单" popedomid="3-3-3-1"></bPopedom>
	<bPopedom name="审核" popedomid="3-3-3-2"></bPopedom>
	<bPopedom name="报损" popedomid="3-3-3-3"></bPopedom>
	<bPopedom name="报损确认(收货)" popedomid="3-3-3-4"></bPopedom>
	<bPopedom name="核销" popedomid="3-3-3-5"></bPopedom>
	<bPopedom name="修改" popedomid="3-3-3-6"></bPopedom>
	<bPopedom name="作废" popedomid="3-3-3-7"></bPopedom>
	<bPopedom name="查看" popedomid="3-3-3-8"></bPopedom>
	<bPopedom name="查看价格" popedomid="3-3-3-9"></bPopedom>
	
	
	<bPopedom name="出入库管理" popedomid="3-3-4"></bPopedom>
		<bPopedom name="采购" popedomid="3-3-4-1"></bPopedom>
		<bPopedom name="查看" popedomid="3-3-4-1-1"></bPopedom>
		<bPopedom name="操作" popedomid="3-3-4-1-2"></bPopedom>

		<bPopedom name="采购退货" popedomid="3-3-4-2"></bPopedom>
		<bPopedom name="查看" popedomid="3-3-4-2-1"></bPopedom>
		<bPopedom name="操作" popedomid="3-3-4-2-2"></bPopedom>

		<bPopedom name="销售" popedomid="3-3-4-3"></bPopedom>
		<bPopedom name="查看" popedomid="3-3-4-3-1"></bPopedom>
		<bPopedom name="操作" popedomid="3-3-4-3-2"></bPopedom>

		<bPopedom name="销售退货" popedomid="3-3-4-4"></bPopedom>
		<bPopedom name="查看" popedomid="3-3-4-4-1"></bPopedom>
		<bPopedom name="操作" popedomid="3-3-4-4-2"></bPopedom>

		<bPopedom name="赠品" popedomid="3-3-4-5"></bPopedom>
		<bPopedom name="查看" popedomid="3-3-4-5-1"></bPopedom>
		<bPopedom name="操作" popedomid="3-3-4-5-2"></bPopedom>

		<bPopedom name="样品" popedomid="3-3-4-6"></bPopedom>
		<bPopedom name="查看" popedomid="3-3-4-6-1"></bPopedom>
		<bPopedom name="操作" popedomid="3-3-4-6-2"></bPopedom>

		<bPopedom name="代购" popedomid="3-3-4-7"></bPopedom>
		<bPopedom name="查看" popedomid="3-3-4-7-1"></bPopedom>
		<bPopedom name="操作" popedomid="3-3-4-7-2"></bPopedom>

		<bPopedom name="换货" popedomid="3-3-4-8"></bPopedom>
		<bPopedom name="查看" popedomid="3-3-4-8-1"></bPopedom>
		<bPopedom name="操作" popedomid="3-3-4-8-2"></bPopedom>

	
	
	<bPopedom name="其他" popedomid="3-4"></bPopedom>
	<bPopedom name="客户销售数据" popedomid="3-4-1"></bPopedom>
	<bPopedom name="客户销售数据操作" popedomid="3-4-1-1"></bPopedom>
	<bPopedom name="客户销售数据查看" popedomid="3-4-1-2"></bPopedom>
	<bPopedom name="客户库存数据" popedomid="3-4-6"></bPopedom>
	<bPopedom name="客户库存数据操作" popedomid="3-4-6-1"></bPopedom>
	<bPopedom name="客户库存数据查看" popedomid="3-4-6-2"></bPopedom>
	

	<bPopedom name="非全额单据处理" popedomid="3-4-2"></bPopedom>
	<bPopedom name="非全额单据差额商品需转新单处理" popedomid="3-4-3"></bPopedom>
	<bPopedom name="非全额单据差额商品无需转新单处理" popedomid="3-4-4"></bPopedom>

	<bPopedom name="库存盘点" popedomid="3-4-5"></bPopedom>


	<bPopedom name="人事管理" popedomid="4"></bPopedom>
	<bPopedom name="人员档案" popedomid="4-1"></bPopedom>
	<bPopedom name="业务员" popedomid="4-1-1"></bPopedom>
	<bPopedom name="人员变动" popedomid="4-2"></bPopedom>
	<bPopedom name="上岗" popedomid="4-2-1"></bPopedom>
	<bPopedom name="离岗" popedomid="4-2-2"></bPopedom>

	<bPopedom name="产品管理" popedomid="5"></bPopedom>
	<bPopedom name="产品联营" popedomid="5-3"></bPopedom>
	<bPopedom name="库存状况" popedomid="5-4"></bPopedom>
	<bPopedom name="库存上下限报警" popedomid="5-5"></bPopedom>
	<bPopedom name="库存盘点" popedomid="5-6"></bPopedom>
	<bPopedom name="不可用库存控制" popedomid="5-7"></bPopedom>
	<bPopedom name="产品进销存数据调整" popedomid="5-8"></bPopedom>

	<bPopedom name="财务信息" popedomid="6"></bPopedom>
	
	<bPopedom name="基础设置" popedomid="6-1"></bPopedom>
	<bPopedom name="科目设置" popedomid="6-1-1"></bPopedom>
	<bPopedom name="资金帐户" popedomid="6-1-2"></bPopedom>
	<bPopedom name="科目数据批量转移" popedomid="6-1-3"></bPopedom>
	<bPopedom name="应付期初设置" popedomid="6-1-4"></bPopedom>
	<bPopedom name="应收期初设置" popedomid="6-1-5"></bPopedom>

	<!--<bPopedom name="银行明细" popedomid="6-2"></bPopedom>-->
	<bPopedom name="应收账款" popedomid="6-3"></bPopedom>
	<bPopedom name="应付账款" popedomid="6-4"></bPopedom>
	

	<bPopedom name="凭证管理" popedomid="6-5"></bPopedom>
	<bPopedom name="凭证录入" popedomid="6-5-1"></bPopedom>
	<bPopedom name="凭证查看" popedomid="6-5-2"></bPopedom>
	<bPopedom name="凭证修改" popedomid="6-5-3"></bPopedom>
	<bPopedom name="凭证作废" popedomid="6-5-4"></bPopedom>

	<bPopedom name="凭证审核" popedomid="6-5-5"></bPopedom>
	<bPopedom name="凭证撤回重审" popedomid="6-5-7"></bPopedom>
	<bPopedom name="凭证撤回重审(无时间限制)" popedomid="6-5-8"></bPopedom>

	<bPopedom name="凭证打印" popedomid="6-5-6"></bPopedom>


	<bPopedom name="对账单管理" popedomid="6-6"></bPopedom>
	<bPopedom name="应收对账单" popedomid="6-6-1"></bPopedom>
	<bPopedom name="查看" popedomid="6-6-1-1"></bPopedom>
	<bPopedom name="创建" popedomid="6-6-1-2"></bPopedom>
	<bPopedom name="对账" popedomid="6-6-1-3"></bPopedom>
	<bPopedom name="修改" popedomid="6-6-1-4"></bPopedom>
	<bPopedom name="收款" popedomid="6-6-1-5"></bPopedom>
	<bPopedom name="结账" popedomid="6-6-1-6"></bPopedom>
	<bPopedom name="作废" popedomid="6-6-1-7"></bPopedom>

	<bPopedom name="应付对账单" popedomid="6-6-2"></bPopedom>
	<bPopedom name="查看" popedomid="6-6-2-1"></bPopedom>
	<bPopedom name="创建" popedomid="6-6-2-2"></bPopedom>
	<bPopedom name="对账" popedomid="6-6-2-3"></bPopedom>
	<bPopedom name="修改" popedomid="6-6-2-4"></bPopedom>
	<bPopedom name="付款" popedomid="6-6-2-5"></bPopedom>
	<bPopedom name="结账" popedomid="6-6-2-6"></bPopedom>
	<bPopedom name="作废" popedomid="6-6-2-7"></bPopedom>

	<bPopedom name="其他对账单" popedomid="6-6-3"></bPopedom>
	<bPopedom name="查看" popedomid="6-6-3-1"></bPopedom>
	<bPopedom name="创建" popedomid="6-6-3-2"></bPopedom>
	<bPopedom name="对账" popedomid="6-6-3-3"></bPopedom>
	<bPopedom name="修改" popedomid="6-6-3-4"></bPopedom>
	<bPopedom name="付款" popedomid="6-6-3-5"></bPopedom>
	<bPopedom name="结账" popedomid="6-6-3-6"></bPopedom>
	<bPopedom name="作废" popedomid="6-6-3-7"></bPopedom>

	<bPopedom name="财务分析" popedomid="6-7"></bPopedom>
	<bPopedom name="费用/收入" popedomid="6-7-1"></bPopedom>
	<bPopedom name="应收应付" popedomid="6-7-2"></bPopedom>
	<bPopedom name="现金银行" popedomid="6-7-3"></bPopedom>
	<bPopedom name="实时库存" popedomid="6-7-4"></bPopedom>
	<bPopedom name="固定资产" popedomid="6-7-5"></bPopedom>
	<bPopedom name="净资产" popedomid="6-7-6"></bPopedom>
	<bPopedom name="凭证汇总" popedomid="6-7-7"></bPopedom>
	<bPopedom name="费用统计" popedomid="6-7-8"></bPopedom>
	<bPopedom name="费用明细及总账" popedomid="6-7-9"></bPopedom>
	<bPopedom name="发生额及余额" popedomid="6-7-10"></bPopedom>


	<bPopedom name="数据分析" popedomid="7"></bPopedom>
	<bPopedom name="客户数据" popedomid="7-1"></bPopedom>
	<bPopedom name="销售数据分析" popedomid="7-1-1"></bPopedom>
	<bPopedom name="客户" popedomid="7-1-1-1"></bPopedom>
	<bPopedom name="人员" popedomid="7-1-1-2"></bPopedom>
	<bPopedom name="产品" popedomid="7-1-1-3"></bPopedom>
	<bPopedom name="品牌" popedomid="7-1-1-4"></bPopedom>
	<bPopedom name="超市系统" popedomid="7-1-1-5"></bPopedom>

	<bPopedom name="联营统计" popedomid="7-1-1-6"></bPopedom>
	<bPopedom name="查看统计数据" popedomid="7-1-1-6-1"></bPopedom>
	<bPopedom name="查看成本" popedomid="7-1-1-6-2"></bPopedom>
	
	<bPopedom name="客户进销存" popedomid="7-1-2"></bPopedom>

	<bPopedom name="公司数据" popedomid="7-2"></bPopedom>
	<bPopedom name="商品分析" popedomid="7-2-1"></bPopedom>
	<!--<bPopedom name="客户" popedomid="7-2-1-1"></bPopedom>
	<bPopedom name="人员" popedomid="7-2-1-2"></bPopedom>
	<bPopedom name="产品" popedomid="7-2-1-3"></bPopedom>
	<bPopedom name="品牌" popedomid="7-2-1-4"></bPopedom>-->

	<bPopedom name="仓库统计" popedomid="7-2-1-5"></bPopedom>

	<bPopedom name="进销存报表" popedomid="7-2-1-5-1"></bPopedom>
	<bPopedom name="进销存报表查看" popedomid="7-2-1-5-1-1"></bPopedom>
	<bPopedom name="进销存报表金额查看" popedomid="7-2-1-5-1-2"></bPopedom>

	<bPopedom name="进货统计" popedomid="7-2-1-5-2"></bPopedom>
	<bPopedom name="进货统计查看" popedomid="7-2-1-5-2-1"></bPopedom>
	<bPopedom name="进货统计金额查看" popedomid="7-2-1-5-2-2"></bPopedom>

	<bPopedom name="出货统计" popedomid="7-2-1-5-3"></bPopedom>
	<bPopedom name="出货统计查看" popedomid="7-2-1-5-3-1"></bPopedom>
	<bPopedom name="出货统计金额查看" popedomid="7-2-1-5-3-2"></bPopedom>

	<bPopedom name="坏货统计" popedomid="7-2-1-5-4"></bPopedom>
	<bPopedom name="坏货统计查看" popedomid="7-2-1-5-4-1"></bPopedom>
	<bPopedom name="坏货统计金额查看" popedomid="7-2-1-5-4-2"></bPopedom>

	<bPopedom name="实时库存" popedomid="7-2-1-5-5"></bPopedom>
	<bPopedom name="实时库存查看" popedomid="7-2-1-5-5-1"></bPopedom>
	<bPopedom name="实时库存金额查看" popedomid="7-2-1-5-5-2"></bPopedom>
	<bPopedom name="实时库存更新不可用库存" popedomid="7-2-1-5-5-3"></bPopedom>

	<bPopedom name="库存商品明细" popedomid="7-2-1-5-6"></bPopedom>
	<bPopedom name="库存商品明细查看" popedomid="7-2-1-5-6-1"></bPopedom>
	<bPopedom name="库存商品明细金额查看" popedomid="7-2-1-5-6-2"></bPopedom>
	
	<bPopedom name="库存日常台账" popedomid="7-2-1-5-7"></bPopedom>
	<bPopedom name="数据修正" popedomid="7-2-1-5-7-1"></bPopedom>

	<bPopedom name="销售报表" popedomid="7-2-1-6"></bPopedom>
	<bPopedom name="销售报表" popedomid="7-2-1-6-1"></bPopedom>
	<bPopedom name="销售报表金额查看" popedomid="7-2-1-6-2"></bPopedom>

	<bPopedom name="购销报表" popedomid="7-2-1-7"></bPopedom>
	<bPopedom name="购销报表查看" popedomid="7-2-1-7-1"></bPopedom>

	<bPopedom name="如均销量" popedomid="7-2-1-8"></bPopedom>

	<bPopedom name="毛利分析" popedomid="7-2-2"></bPopedom>
	<bPopedom name="客户" popedomid="7-2-2-1"></bPopedom>
	<bPopedom name="人员" popedomid="7-2-2-2"></bPopedom>
	<bPopedom name="产品" popedomid="7-2-2-3"></bPopedom>
	<bPopedom name="品牌" popedomid="7-2-2-4"></bPopedom>

	

	<bPopedom name="人员岗位" popedomid="7-2-4"></bPopedom>
	<bPopedom name="人员岗位-月报表" popedomid="7-2-4-1"></bPopedom>
	<bPopedom name="人员岗位-入离职报表" popedomid="7-2-4-2"></bPopedom>

	<bPopedom name="网店管理" popedomid="8"></bPopedom>
	<bPopedom name="网店商品管理" popedomid="8-1"></bPopedom>
	<bPopedom name="网店商品查看" popedomid="8-1-1"></bPopedom>
	<bPopedom name="网店商品维护" popedomid="8-1-2"></bPopedom>
	<bPopedom name="网店商品删除" popedomid="8-1-2-1"></bPopedom>
	<bPopedom name="网店商品上架" popedomid="8-1-2-2"></bPopedom>
	<bPopedom name="网店商品下架" popedomid="8-1-2-3"></bPopedom>
	<bPopedom name="网店商品数量更新" popedomid="8-1-2-4"></bPopedom>
	<bPopedom name="网店商品推荐" popedomid="8-1-2-5"></bPopedom>

	<bPopedom name="网店商品下载" popedomid="8-1-3"></bPopedom>
	<bPopedom name="网店库存上传" popedomid="8-1-4"></bPopedom>

	<bPopedom name="网店交易管理" popedomid="8-2"></bPopedom>
	<bPopedom name="网店交易信息查看" popedomid="8-2-1"></bPopedom>
	<bPopedom name="网店交易信息处理" popedomid="8-2-2"></bPopedom>
	<bPopedom name="网店交易信息处理-关闭交易" popedomid="8-2-2-1"></bPopedom>
	<bPopedom name="网店交易信息处理-修改交易" popedomid="8-2-2-2"></bPopedom>
	<bPopedom name="网店交易信息处理-交易退款" popedomid="8-2-2-3"></bPopedom>
	<bPopedom name="网店交易信息处理-添加备注" popedomid="8-2-2-4"></bPopedom>
	<bPopedom name="网店交易信息处理-延长时间" popedomid="8-2-2-5"></bPopedom>
	<bPopedom name="网店交易信息处理-修改交易收货地址" popedomid="8-2-2-6"></bPopedom>
	<bPopedom name="网店交易信息处理-删除交易" popedomid="8-2-2-7"></bPopedom>

	<bPopedom name="网店订单管理" popedomid="8-3"></bPopedom>
	<bPopedom name="网店订单查看" popedomid="8-3-1"></bPopedom>
	<bPopedom name="网店订单处理" popedomid="8-3-2"></bPopedom>
	<bPopedom name="网店订单处理-生成发货单" popedomid="8-3-2-1"></bPopedom>
	<bPopedom name="网店订单处理-核销订单" popedomid="8-3-2-2"></bPopedom>
	<bPopedom name="网店订单处理-打印订单,快递单" popedomid="8-3-2-3"></bPopedom>
	

	<bPopedom name="网店客户服务" popedomid="8-4"></bPopedom>
	<bPopedom name="网店客户信息" popedomid="8-4-1"></bPopedom>
	<bPopedom name="网店信息推送" popedomid="8-4-2"></bPopedom>

	<bPopedom name="网店数据分析" popedomid="8-5"></bPopedom>

	<bPopedom name="网店快递运单模板" popedomid="8-6"></bPopedom>
	
	
</Popedoms>