<?xml version="1.0" encoding="utf-8" ?>
<FieldTypes>
	<FieldType name="单行" id="0" format=""></FieldType>
	<FieldType name="多行" id="1" format=""></FieldType>
	<FieldType name="日期" id="2" format=""></FieldType>
	<FieldType name="图片" id="3" format=""></FieldType>
	<FieldType name="文件" id="4" format=""></FieldType>
</FieldTypes>