<?xml version="1.0"?>
<ScheduleConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <enabled>true</enabled>
  <events>
	<Event key="StatEvent" time_of_day="-1" minutes="60" type="Yannyo.Event.StatEvent, Yannyo.Event" enabled="true" is_system_event="true" />
	<Event key="ExportDataEvent" time_of_day="300" minutes="0" type="Yannyo.Event.ExportDataEvent, Yannyo.Event" enabled="true" is_system_event="true" />
  </events>
  <minutes_interval>1</minutes_interval>
</ScheduleConfigInfo>