<?xml version="1.0" encoding="utf-8" ?> 
<urls>
     <rewrite name="usermanage_do"
          path="/usermanage_do-{0}.aspx"
          pattern = "/usermanage_do-(.+)?.aspx"
          page="/usermanage_do.aspx"
          querystring="Act=$1" />
	 <rewrite name="usermanage_do_Edit"
          path="/usermanage_do_Edit-{1}.aspx"
          pattern = "/usermanage_do_Edit-(\d+)?.aspx"
          page="/usermanage_do.aspx"
          querystring="Act=Edit^uid=$1" />
	 <rewrite name="usermanage_do"
          path="/usermanage_do_Del-{1}.aspx"
          pattern = "/usermanage_do_Del-(.+)?.aspx"
          page="/usermanage_do.aspx"
          querystring="Act=Del^uid=$1" />
	
	<rewrite name="usermanageclass_do"
          path="/usermanageclass_do-{0}.aspx"
          pattern = "/usermanageclass_do-(.+)?.aspx"
          page="/usermanageclass_do.aspx"
          querystring="Act=$1" />
	<rewrite name="usermanageclass_do_Edit"
          path="/usermanageclass_do_Edit-{1}.aspx"
          pattern = "/usermanageclass_do_Edit-(\d+)?.aspx"
          page="/usermanageclass_do.aspx"
          querystring="Act=Edit^Classid=$1" />
	 <rewrite name="usermanageclass_do"
          path="/usermanageclass_do_Del-{1}.aspx"
          pattern = "/usermanageclass_do_Del-(.+)?.aspx"
          page="/usermanageclass_do.aspx"
          querystring="Act=Del^Classid=$1" />

	<rewrite name="config"
          path="/config-{1}.aspx"
          pattern = "/config-(.+)?.aspx"
          page="/config.aspx"
          querystring="Act=$1" />

	 <rewrite name="feessubject_do"
          path="/feessubject_do-{0}.aspx"
          pattern = "/feessubject_do-(.+)?.aspx"
          page="/feessubject_do.aspx"
          querystring="Act=$1" />
	 <rewrite name="feessubject_do_Edit"
          path="/feessubject_do_Edit-{1}.aspx"
          pattern = "/feessubject_do_Edit-(\d+)?.aspx"
          page="/feessubject_do.aspx"
          querystring="Act=Edit^fid=$1" />
	 <rewrite name="feessubject_do"
          path="/feessubject_do_Del-{1}.aspx"
          pattern = "/feessubject_do_Del-(.+)?.aspx"
          page="/feessubject_do.aspx"
          querystring="Act=Del^fid=$1" />

	 <rewrite name="orderfield_do"
          path="/orderfield_do-{0}.aspx"
          pattern = "/orderfield_do-(.+)?.aspx"
          page="/orderfield_do.aspx"
          querystring="Act=$1" />
	 <rewrite name="orderfield_do_Edit"
          path="/orderfield_do_Edit-{1}.aspx"
          pattern = "/orderfield_do_Edit-(\d+)?.aspx"
          page="/orderfield_do.aspx"
          querystring="Act=Edit^oid=$1" />
	 <rewrite name="orderfield_do"
          path="/orderfield_do_Del-{1}.aspx"
          pattern = "/orderfield_do_Del-(.+)?.aspx"
          page="/orderfield_do.aspx"
          querystring="Act=Del^oid=$1" />


	<rewrite name="storage_do"
          path="/storage_do-{0}.aspx"
          pattern = "/storage_do-(.+)?.aspx"
          page="/storage_do.aspx"
          querystring="Act=$1" />
	 <rewrite name="storage_do_Edit"
          path="/storage_do_Edit-{1}.aspx"
          pattern = "/storage_do_Edit-(\d+)?.aspx"
          page="/storage_do.aspx"
          querystring="Act=Edit^sid=$1" />
	 <rewrite name="storage_do"
          path="/storage_do_Del-{1}.aspx"
          pattern = "/storage_do_Del-(.+)?.aspx"
          page="/storage_do.aspx"
          querystring="Act=Del^sid=$1" />
	 
	<rewrite name="priceclassdefaultprice_do_List"
          path="/priceclassdefaultprice_do_List-{1}.aspx"
          pattern = "/priceclassdefaultprice_do_List-(\d+)?.aspx"
          page="/priceclassdefaultprice_do.aspx"
          querystring="Act=List^pid=$1" />
	<rewrite name="priceclassdefaultprice_do_Save"
          path="/priceclassdefaultprice_do_Save-{1}.aspx"
          pattern = "/priceclassdefaultprice_do_Save-(\d+)?.aspx"
          page="/priceclassdefaultprice_do.aspx"
          querystring="Act=Save^pid=$1" />

	 <rewrite name="stores_do"
          path="/stores_do-{0}.aspx"
          pattern = "/stores_do-(.+)?.aspx"
          page="/stores_do.aspx"
          querystring="Act=$1" />
	 <rewrite name="stores_do_Edit"
          path="/stores_do_Edit-{1}.aspx"
          pattern = "/stores_do_Edit-(\d+)?.aspx"
          page="/stores_do.aspx"
          querystring="Act=Edit^sid=$1" />
	 <rewrite name="stores_do"
          path="/stores_do_Del-{1}.aspx"
          pattern = "/stores_do_Del-(.+)?.aspx"
          page="/stores_do.aspx"
          querystring="Act=Del^sid=$1" />

	 <rewrite name="staff_do"
          path="/staff_do-{0}.aspx"
          pattern = "/staff_do-(.+)?.aspx"
          page="/staff_do.aspx"
          querystring="Act=$1" />
	 <rewrite name="staff_do_Edit"
          path="/staff_do_Edit-{1}.aspx"
          pattern = "/staff_do_Edit-(\d+)?.aspx"
          page="/staff_do.aspx"
          querystring="Act=Edit^sid=$1" />
	 <rewrite name="staff_do"
          path="/staff_do_Del-{1}.aspx"
          pattern = "/staff_do_Del-(.+)?.aspx"
          page="/staff_do.aspx"
          querystring="Act=Del^sid=$1" />

	 <rewrite name="staff_do"
          path="/staff_do_Up-{1}.aspx"
          pattern = "/staff_do_Up-(\d+)?.aspx"
          page="/staff_do_updown.aspx"
          querystring="Act=Up^sid=$1" />

	 <rewrite name="staff_do"
          path="/staff_do_Down-{1}.aspx"
          pattern = "/staff_do_Down-(\d+)?.aspx"
          page="/staff_do_updown.aspx"
          querystring="Act=Down^sid=$1" />

     <rewrite name="staff_do"
          path="/staff_do_Down-{1}.aspx"
          pattern = "/staff_do_Up-(.+)?.aspx"
          page="/staff_do_updown.aspx"
          querystring="Act=Up^Do=Up^sid=$1" />

	 <rewrite name="staff_do"
          path="/staff_do_Down-{1}.aspx"
          pattern = "/staff_do_Down-(.+)?.aspx"
          page="/staff_do_updown.aspx"
          querystring="Act=Down^Do=Down^sid=$1" />


	 <rewrite name="staffstores_do"
          path="/staffstores_do-{0}.aspx"
          pattern = "/staffstores_do-(.+)?.aspx"
          page="/staffstores_do.aspx"
          querystring="Act=$1" />
	 <rewrite name="staffstores_do_Edit"
          path="/staffstores_do_Edit-{1}.aspx"
          pattern = "/staffstores_do_Edit-(\d+)?.aspx"
          page="/staffstores_do.aspx"
          querystring="Act=Edit^sid=$1" />
	 <rewrite name="staffstores_do"
          path="/staffstores_do_Del-{1}.aspx"
          pattern = "/staffstores_do_Del-(.+)?.aspx"
          page="/staffstores_do.aspx"
          querystring="Act=Del^sid=$1" />

	 <rewrite name="products_do"
          path="/products_do-{0}.aspx"
          pattern = "/products_do-(.+)?.aspx"
          page="/products_do.aspx"
          querystring="Act=$1" />
	 <rewrite name="products_do_Edit"
          path="/products_do_Edit-{1}.aspx"
          pattern = "/products_do_Edit-(\d+)?.aspx"
          page="/products_do.aspx"
          querystring="Act=Edit^pid=$1" />
	 <rewrite name="products_do"
          path="/products_do_Del-{1}.aspx"
          pattern = "/products_do_Del-(.+)?.aspx"
          page="/products_do.aspx"
          querystring="Act=Del^pid=$1" />
	 <rewrite name="products_do"
          path="/products_do_Syn.aspx"
          pattern = "/products_do_Syn.aspx"
          page="/products_do.aspx"
          querystring="Act=Syn" />
	
	 <rewrite name="sales_do"
          path="/sales_do-{0}.aspx"
          pattern = "/sales_do-(.+)?.aspx"
          page="/sales_do.aspx"
          querystring="Act=$1" />
	 <rewrite name="sales_do_Edit"
          path="/sales_do_Edit-{1}.aspx"
          pattern = "/sales_do_Edit-(\d+)?.aspx"
          page="/sales_do.aspx"
          querystring="Act=Edit^sid=$1" />
	 <rewrite name="sales_do"
          path="/sales_do_Del-{1}.aspx"
          pattern = "/sales_do_Del-(.+)?.aspx"
          page="/sales_do.aspx"
          querystring="Act=Del^sid=$1" />

	 <rewrite name="gifts_do"
          path="/gifts_do-{0}.aspx"
          pattern = "/gifts_do-(.+)?.aspx"
          page="/gifts_do.aspx"
          querystring="Act=$1" />
	 <rewrite name="gifts_do_Edit"
          path="/gifts_do_Edit-{1}.aspx"
          pattern = "/gifts_do_Edit-(\d+)?.aspx"
          page="/gifts_do.aspx"
          querystring="Act=Edit^gid=$1" />
	 <rewrite name="gifts_do"
          path="/gifts_do_Del-{1}.aspx"
          pattern = "/gifts_do_Del-(.+)?.aspx"
          page="/gifts_do.aspx"
          querystring="Act=Del^gid=$1" />

	 <rewrite name="valence_do"
          path="/valence_do-{0}.aspx"
          pattern = "/valence_do-(.+)?.aspx"
          page="/valence_do.aspx"
          querystring="Act=$1" />
	 <rewrite name="valence_do_Edit"
          path="/valence_do_Edit-{1}.aspx"
          pattern = "/valence_do_Edit-(\d+)?.aspx"
          page="/valence_do.aspx"
          querystring="Act=Edit^vid=$1" />
	 <rewrite name="valence_do"
          path="/valence_do_Del-{1}.aspx"
          pattern = "/valence_do_Del-(.+)?.aspx"
          page="/valence_do.aspx"
          querystring="Act=Del^vid=$1" />

	 <rewrite name="marketingfees_do"
          path="/marketingfees_do-{0}.aspx"
          pattern = "/marketingfees_do-(.+)?.aspx"
          page="/marketingfees_do.aspx"
          querystring="Act=$1" />
	 <rewrite name="marketingfees_do_Edit"
          path="/marketingfees_do_Edit-{1}.aspx"
          pattern = "/marketingfees_do_Edit-(\d+)?.aspx"
          page="/marketingfees_do.aspx"
          querystring="Act=Edit^mid=$1" />
	 <rewrite name="marketingfees_do"
          path="/marketingfees_do_Del-{1}.aspx"
          pattern = "/marketingfees_do_Del-(.+)?.aspx"
          page="/marketingfees_do.aspx"
          querystring="Act=Del^mid=$1" />

	<rewrite name="marketingfeesrevenue_do"
          path="/marketingfeesrevenue_do-{0}.aspx"
          pattern = "/marketingfeesrevenue_do-(.+)?.aspx"
          page="/marketingfeesrevenue_do.aspx"
          querystring="Act=$1" />
	 <rewrite name="marketingfeesrevenue_do_Edit"
          path="/marketingfeesrevenue_do_Edit-{1}.aspx"
          pattern = "/marketingfeesrevenue_do_Edit-(\d+)?.aspx"
          page="/marketingfeesrevenue_do.aspx"
          querystring="Act=Edit^mid=$1" />
	 <rewrite name="marketingfeesrevenue_do"
          path="/marketingfeesrevenue_do_Del-{1}.aspx"
          pattern = "/marketingfeesrevenue_do_Del-(.+)?.aspx"
          page="/marketingfeesrevenue_do.aspx"
          querystring="Act=Del^mid=$1" />

	 <rewrite name="yhsys_do"
          path="/yhsys_do-{0}.aspx"
          pattern = "/yhsys_do-(.+)?.aspx"
          page="/yhsys_do.aspx"
          querystring="Act=$1" />
	 <rewrite name="yhsys_do_Edit"
          path="/yhsys_do_Edit-{1}.aspx"
          pattern = "/yhsys_do_Edit-(\d+)?.aspx"
          page="/yhsys_do.aspx"
          querystring="Act=Edit^yid=$1" />
	 <rewrite name="yhsys_do"
          path="/yhsys_do_Del-{1}.aspx"
          pattern = "/yhsys_do_Del-(.+)?.aspx"
          page="/yhsys_do.aspx"
          querystring="Act=Del^yid=$1" />

	 <rewrite name="costvalence_do"
          path="/costvalence_do-{0}.aspx"
          pattern = "/costvalence_do-(.+)?.aspx"
          page="/costvalence_do.aspx"
          querystring="Act=$1" />
	 <rewrite name="costvalence_do_Edit"
          path="/costvalence_do_Edit-{1}.aspx"
          pattern = "/costvalence_do_Edit-(\d+)?.aspx"
          page="/costvalence_do.aspx"
          querystring="Act=Edit^cid=$1" />
	 <rewrite name="costvalence_do"
          path="/costvalence_do_Del-{1}.aspx"
          pattern = "/costvalence_do_Del-(.+)?.aspx"
          page="/costvalence_do.aspx"
          querystring="Act=Del^cid=$1" />
	
	 <rewrite name="erpdata_do"
          path="/erpdata_do_Del-{1}.aspx"
          pattern = "/erpdata_do_Del-(.+)?.aspx"
          page="/erpdata_do.aspx"
          querystring="Act=Del^eid=$1" />

	  <rewrite name="dataanalysis"
          path="/dataanalysis_{1}.aspx"
          pattern = "/dataanalysis_(.+)?.aspx"
          page="/dataanalysis.aspx"
          querystring="Act=$1" />

	<rewrite name="dataanalysis_tvalue"
	  path="/dataanalysis-tvalue-{1}.aspx"
	  pattern = "/dataanalysis-tvalue-(.+)?.aspx"
	  page="/dataanalysis_tvalue.aspx"
	  querystring="Act=$1" />

	  <rewrite name="bank_do"
          path="/bank_do-{0}.aspx"
          pattern = "/bank_do-(.+)?.aspx"
          page="/bank_do.aspx"
          querystring="Act=$1" />
	 <rewrite name="bank_do_Edit"
          path="/bank_do_Edit-{1}.aspx"
          pattern = "/bank_do_Edit-(\d+)?.aspx"
          page="/bank_do.aspx"
          querystring="Act=Edit^bid=$1" />
	 <rewrite name="bank_do"
          path="/bank_do_Del-{1}.aspx"
          pattern = "/bank_do_Del-(.+)?.aspx"
          page="/bank_do.aspx"
          querystring="Act=Del^bid=$1" />

	 <rewrite name="bankmoney_do"
          path="/bankmoney_do-{0}.aspx"
          pattern = "/bankmoney_do-(.+)?.aspx"
          page="/bankmoney_do.aspx"
          querystring="Act=$1" />
	 <rewrite name="bankmoney_do_Edit"
          path="/bankmoney_do_Edit-{1}.aspx"
          pattern = "/bankmoney_do_Edit-(.+)?.aspx"
          page="/bankmoney_do.aspx"
          querystring="Act=Edit^sDate=$1" />
	 <rewrite name="bankmoney_do"
          path="/bankmoney_do_Del-{1}.aspx"
          pattern = "/bankmoney_do_Del-(.+)?.aspx"
          page="/bankmoney_do.aspx"
          querystring="Act=Del^sDate=$1" />

	 <rewrite name="supplier_do"
          path="/supplier_do-{0}.aspx"
          pattern = "/supplier_do-(.+)?.aspx"
          page="/supplier_do.aspx"
          querystring="Act=$1" />
	 <rewrite name="supplier_do_Edit"
          path="/supplier_do_Edit-{1}.aspx"
          pattern = "/supplier_do_Edit-(.+)?.aspx"
          page="/supplier_do.aspx"
          querystring="Act=Edit^sid=$1" />
	 <rewrite name="supplier_do"
          path="/supplier_do_Del-{1}.aspx"
          pattern = "/supplier_do_Del-(.+)?.aspx"
          page="/supplier_do.aspx"
          querystring="Act=Del^sid=$1" />

	 <rewrite name="supplier_apmoney_do_Edit"
          path="/supplier_apmoney_do_Edit-{1}.aspx"
          pattern = "/supplier_apmoney_do_Edit-(.+)?.aspx"
          page="/supplier_apmoney_do.aspx"
          querystring="Act=Edit^sid=$1" />
	
	 <rewrite name="stores_armoney_do_Edit"
          path="/stores_armoney_do_Edit-{1}.aspx"
          pattern = "/stores_armoney_do_Edit-(.+)?.aspx"
          page="/stores_armoney_do.aspx"
          querystring="Act=Edit^sid=$1" />

	 <rewrite name="products_beginning_do_Edit"
          path="/products_beginning_do_Edit-{1}.aspx"
          pattern = "/products_beginning_do_Edit-(.+)?.aspx"
          page="/products_beginning_do.aspx"
          querystring="Act=Edit^pid=$1" />

	 <rewrite name="armoney_do"
          path="/armoney_do-{0}.aspx"
          pattern = "/armoney_do-(.+)?.aspx"
          page="/armoney_do.aspx"
          querystring="Act=$1" />
	 <rewrite name="armoney_do_Edit"
          path="/armoney_do_Edit-{1}.aspx"
          pattern = "/armoney_do_Edit-(.+)?.aspx"
          page="/armoney_do.aspx"
          querystring="Act=Edit^aid=$1" />
	 <rewrite name="armoney_do"
          path="/armoney_do_Del-{1}.aspx"
          pattern = "/armoney_do_Del-(.+)?.aspx"
          page="/armoney_do.aspx"
          querystring="Act=Del^aid=$1" />

	 <rewrite name="apmoney_do"
          path="/apmoney_do-{0}.aspx"
          pattern = "/apmoney_do-(.+)?.aspx"
          page="/apmoney_do.aspx"
          querystring="Act=$1" />
	 <rewrite name="apmoney_do_Edit"
          path="/apmoney_do_Edit-{1}.aspx"
          pattern = "/apmoney_do_Edit-(.+)?.aspx"
          page="/apmoney_do.aspx"
          querystring="Act=Edit^aid=$1" />
	 <rewrite name="apmoney_do"
          path="/apmoney_do_Del-{1}.aspx"
          pattern = "/apmoney_do_Del-(.+)?.aspx"
          page="/apmoney_do.aspx"
          querystring="Act=Del^aid=$1" />

	 <rewrite name="stockproduct_do"
          path="/stockproduct_do_Edit-{1}.aspx"
          pattern = "/stockproduct_do_Edit-(\d+)?.aspx"
          page="/stockproduct_do.aspx"
          querystring="Act=Edit^pid=$1" />

	 <rewrite name="productpool_do"
          path="/productpool_do-{0}.aspx"
          pattern = "/productpool_do-(.+)?.aspx"
          page="/productpool_do.aspx"
          querystring="Act=$1" />
	 <rewrite name="productpool_do_Edit"
          path="/productpool_do_Edit-{1}.aspx"
          pattern = "/productpool_do_Edit-(\d+)?.aspx"
          page="/productpool_do.aspx"
          querystring="Act=Edit^pid=$1" />
	 <rewrite name="productpool_do"
          path="/productpool_do_Del-{1}.aspx"
          pattern = "/productpool_do_Del-(.+)?.aspx"
          page="/productpool_do.aspx"
          querystring="Act=Del^pid=$1" />

	 <rewrite name="paymentsystem_do"
          path="/paymentsystem_do-{0}.aspx"
          pattern = "/paymentsystem_do-(.+)?.aspx"
          page="/paymentsystem_do.aspx"
          querystring="Act=$1" />
	 <rewrite name="paymentsystem_do_Edit"
          path="/paymentsystem_do_Edit-{1}.aspx"
          pattern = "/paymentsystem_do_Edit-(\d+)?.aspx"
          page="/paymentsystem_do.aspx"
          querystring="Act=Edit^pid=$1" />
	 <rewrite name="paymentsystem_do"
          path="/paymentsystem_do_Del-{1}.aspx"
          pattern = "/paymentsystem_do_Del-(.+)?.aspx"
          page="/paymentsystem_do.aspx"
          querystring="Act=Del^pid=$1" />


	 <rewrite name="dataanalysisfee"
          path="/dataanalysisfee-{1}.aspx"
          pattern = "/dataanalysisfee-(\d+)?.aspx"
          page="/dataanalysis_fee.aspx"
          querystring="Act=^StoresID=$1" />
	<rewrite name="dataanalysisfee"
          path="/dataanalysisfee-com-{1}.aspx"
          pattern = "/dataanalysisfee-com-(\d+)?.aspx"
          page="/dataanalysis_fee.aspx"
          querystring="Act=com^Feeid=$1" />



	 <rewrite name="orderlist"
          path="/orderlist-{1}.aspx"
          pattern = "/orderlist-(\d+)?.aspx"
          page="/orderlist.aspx"
          querystring="Act=^ordertype=$1" />
	 <rewrite name="orderlist_do-1"
          path="/orderlist_do-1-{1}.aspx"
          pattern = "/orderlist_do-1-(\d+)?.aspx"
          page="/orderlist_do.aspx"
          querystring="Act=1^ordertype=$1" />

	 <rewrite name="orderlist_do_v"
          path="/orderlist_do_v-{0}-{1}.aspx"
          pattern = "/orderlist_do_v-(\d+)-(\d+)?.aspx"
          page="/orderlist_do.aspx"
          querystring="Act=v^ordertype=$1^orderid=$2" />

	 <rewrite name="orderlist_do_s"
          path="/orderlist_do_s-{0}-{1}.aspx"
          pattern = "/orderlist_do_s-(\d+)-(\d+)?.aspx"
          page="/orderlist_do.aspx"
          querystring="Act=s^ordertype=$1^orderid=$2" />

	 <rewrite name="orderlist_do_d"
          path="/orderlist_do_d-{0}-{1}.aspx"
          pattern = "/orderlist_do_d-(\d+)-(\d+)?.aspx"
          page="/orderlist_do.aspx"
          querystring="Act=d^ordertype=$1^orderid=$2" />

	 <rewrite name="orderlist_do_r"
          path="/orderlist_do_r-{0}-{1}.aspx"
          pattern = "/orderlist_do_r-(\d+)-(\d+)?.aspx"
          page="/orderlist_do.aspx"
          querystring="Act=r^ordertype=$1^orderid=$2" />

	 <rewrite name="orderlist_do_vv"
          path="/orderlist_do_vv-{0}-{1}.aspx"
          pattern = "/orderlist_do_vv-(\d+)-(\d+)?.aspx"
          page="/orderlist_do.aspx"
          querystring="Act=vv^ordertype=$1^orderid=$2" />

	 <rewrite name="orderlist_do_i"
          path="/orderlist_do_i-{0}-{1}.aspx"
          pattern = "/orderlist_do_i-(\d+)-(\d+)?.aspx"
          page="/orderlist_do.aspx"
          querystring="Act=i^ordertype=$1^orderid=$2" />
	 
	 <rewrite name="orderlist_do_v_f"
          path="/orderlist_do_v_f-{0}-{1}.aspx"
          pattern = "/orderlist_do_v_f-(\d+)-(\d+)?.aspx"
          page="/orderlist_do.aspx"
          querystring="Act=v^IsFirst=True^ordertype=$1^orderid=$2" />

	 <rewrite name="orderlist_dobox"
          path="/orderlist_dobox-{0}-{1}.aspx"
          pattern = "/orderlist_dobox-(\d+)-(\d+)?.aspx"
          page="/orderlist_dobox.aspx"
          querystring="Act=^ordertype=$1^productid=$2" />
	  <rewrite name="orderworkinglog"
          path="/orderworkinglog-{0}-{1}.aspx"
          pattern = "/orderworkinglog-(\d+)-(\d+)?.aspx"
          page="/orderworkinglog.aspx"
          querystring="Act=^ordertype=$1^orderid=$2" />
	  
	  <rewrite name="orderprint"
          path="/orderprint-{0}-{1}.aspx"
          pattern = "/orderprint-(\d+)-(\d+)?.aspx"
          page="/orderprint.aspx"
          querystring="Act=^ordertype=$1^orderid=$2" />
	  
	  <rewrite name="orderprint"
          path="/orderprint-{0}-{1}-{2}.aspx"
          pattern = "/orderprint-(\d+)-(\d+)-(.+)?.aspx"
          page="/orderprint.aspx"
          querystring="Act=^ordertype=$1^orderid=$2^ot=$3" />

	  <rewrite name="orderprint_add"
          path="/orderprint_add-{0}-{1}.aspx"
          pattern = "/orderprint_add-(\d+)-(\d+)?.aspx"
          page="/orderprint_add.aspx"
          querystring="Act=^ordertype=$1^orderid=$2" />

	  <rewrite name="orderlist_do_nofull"
          path="/orderlist_do_nofull-{0}-{1}.aspx"
          pattern = "/orderlist_do_nofull-(\d+)-(\d+)?.aspx"
          page="/orderlist_do_nofull.aspx"
          querystring="Act=^ordertype=$1^orderid=$2" />


	  <rewrite name="orderlist_do_nofull_do"
          path="/orderlist_do_nofull_do-{0}-{1}-{2}.aspx"
          pattern = "/orderlist_do_nofull_do-(\d+)-(\d+)-(.+)?.aspx"
          page="/orderlist_do_nofull_do.aspx"
          querystring="Act=$3^ordertype=$1^orderid=$2" />
	  
	  <rewrite name="certificate_do_box"
          path="/certificate_do_box-{0}-{1}.aspx"
          pattern = "/certificate_do_box-(\d+)-(\d+)?.aspx"
          page="/certificate_do_box.aspx"
          querystring="ordertype=$1^orderid=$2" />
	  
	  <rewrite name="certificate_do_box"
          path="/certificate_do_box-{0}-{1}-{2}.aspx"
          pattern = "/certificate_do_box-(.+)-(\d+)-(\d+)?.aspx"
          page="/certificate_do_box.aspx"
          querystring="Act=$1^sObjectType=$2^sObjectID=$3" />
	  
	  <rewrite name="certificate_do_box"
          path="/certificate_do_box-s.aspx"
          pattern = "/certificate_do_box-s.aspx"
          page="/certificate_do_box.aspx"
          querystring="Act=s" />

	  <rewrite name="certificate_do"
          path="/certificate_do-Add-{0}-{1}.aspx"
          pattern = "/certificate_do-Add-(\d+)-(\d+)?.aspx"
          page="/certificate_do.aspx"
          querystring="Act=Add^ordertype=$1^orderid=$2" />
	 
	  <rewrite name="certificate_do"
          path="/certificate_do-Edit-{0}-{1}-{2}.aspx"
          pattern = "/certificate_do-Edit-(\d+)-(\d+)-(\d+)?.aspx"
          page="/certificate_do.aspx"
          querystring="Act=Edit^ordertype=$1^orderid=$2^cid=$3" />
	  <rewrite name="certificate_do"
          path="/certificate_do-Edit-{0}.aspx"
          pattern = "/certificate_do-Edit-(\d+)?.aspx"
          page="/certificate_do.aspx"
          querystring="Act=Edit^cid=$1" />

		  <rewrite name="certificate_do"
          path="/certificate_do-View-{0}.aspx"
          pattern = "/certificate_do-View-(\d+)?.aspx"
          page="/certificate_do.aspx"
          querystring="Act=Edit^cid=$1" />
		  <rewrite name="certificate_do"
          path="/certificate_do_i-{0}.aspx"
          pattern = "/certificate_do_i-(\d+)?.aspx"
          page="/certificate_do.aspx"
          querystring="Act=i^cid=$1" />
		  <rewrite name="certificate_do"
          path="/certificate_do_s-{0}.aspx"
          pattern = "/certificate_do_s-(\d+)?.aspx"
          page="/certificate_do.aspx"
          querystring="Act=s^cid=$1" />
		  <rewrite name="certificate_do"
          path="/certificate_do_rs-{0}.aspx"
          pattern = "/certificate_do_rs-(\d+)?.aspx"
          page="/certificate_do.aspx"
          querystring="Act=rs^cid=$1" />
		  <rewrite name="certificate_do"
          path="/certificate_do_p-{0}.aspx"
          pattern = "/certificate_do_p-(\d+)?.aspx"
          page="/certificate_do.aspx"
          querystring="Act=p^cid=$1" />

		  <rewrite name="certificate_print"
          path="/certificate_print-{0}.aspx"
          pattern = "/certificate_print-(\d+)?.aspx"
          page="/certificate_print.aspx"
          querystring="cid=$1" />

	  <rewrite name="certificate_do"
          path="/certificate_do-State-{0}.aspx"
          pattern = "/certificate_do-State-(\d+)?.aspx"
          page="/certificate_do.aspx"
          querystring="Act=State^cid=$1" />


		<rewrite name="certificateworkinglog"
          path="/certificateworkinglog-{0}.aspx"
          pattern = "/certificateworkinglog-(\d+)?.aspx"
          page="/certificateworkinglog.aspx"
          querystring="Act=^cid=$1" />

	  <rewrite name="report_sales"
          path="/report_sales-{0}.aspx"
          pattern = "/report_sales-(\d+)?.aspx"
          page="/report_sales.aspx"
          querystring="Act=^ReType=$1" />
	  
	  <rewrite name="report_sales_out"
          path="/report_sales_out-{0}.aspx"
          pattern = "/report_sales_out-(\d+)?.aspx"
          page="/report_sales.aspx"
          querystring="Act=^ReType=$1^dType=1" />
	  
	  <rewrite name="report_sales_verify"
          path="/report_sales_verify-{0}.aspx"
          pattern = "/report_sales_verify-(\d+)?.aspx"
          page="/report_sales.aspx"
          querystring="Act=^ReType=$1^dType=2" />

	  <rewrite name="report_purchase"
          path="/report_purchase-{0}.aspx"
          pattern = "/report_purchase-(\d+)?.aspx"
          page="/report_purchase.aspx"
          querystring="Act=^ReType=$1" />
	  
	  <rewrite name="report_out"
          path="/report_out-{0}.aspx"
          pattern = "/report_out-(\d+)?.aspx"
          page="/report_out.aspx"
          querystring="Act=^ReType=$1" />

	  <rewrite name="monthlystatementlist"
          path="/monthlystatementlist-{0}.aspx"
          pattern = "/monthlystatementlist-(\d+)?.aspx"
          page="/monthlystatementlist.aspx"
          querystring="sType=$1" />

	  <rewrite name="monthlystatementlist_do-Add"
          path="/monthlystatementlist_do-Add-{1}.aspx"
          pattern = "/monthlystatementlist_do-Add-(\d+)?.aspx"
          page="/monthlystatementlist_do.aspx"
          querystring="Act=Add^sType=$1" />
	
	 <rewrite name="monthlystatementlist_do-d"
          path="/monthlystatementlist_do-d-{1}.aspx"
          pattern = "/monthlystatementlist_do-d-(\d+)?.aspx"
          page="/monthlystatementlist_do.aspx"
          querystring="Act=d^MonthlyStatementID=$1" />

	 <rewrite name="monthlystatementlist_do-m"
          path="/monthlystatementlist_do-m-{1}.aspx"
          pattern = "/monthlystatementlist_do-m-(\d+)?.aspx"
          page="/monthlystatementlist_do.aspx"
          querystring="Act=m^MonthlyStatementID=$1" />

	 <rewrite name="monthlystatementlist_do-e"
          path="/monthlystatementlist_do-e-{1}.aspx"
          pattern = "/monthlystatementlist_do-e-(\d+)?.aspx"
          page="/monthlystatementlist_do.aspx"
          querystring="Act=e^MonthlyStatementID=$1" />

	 <rewrite name="monthlystatementlist_do-i"
          path="/monthlystatementlist_do-i-{1}.aspx"
          pattern = "/monthlystatementlist_do-i-(\d+)?.aspx"
          page="/monthlystatementlist_do.aspx"
          querystring="Act=i^MonthlyStatementID=$1" />

	 <rewrite name="monthlystatementlist_do-Edit"
          path="/monthlystatementlist_do-Edit-{0}-{1}.aspx"
          pattern = "/monthlystatementlist_do-Edit-(\d+)-(\d+)?.aspx"
          page="/monthlystatementlist_do.aspx"
          querystring="Act=Edit^MonthlyStatementID=$1^sType=$2" />

	  <rewrite name="monthlystatementlist_orderlist"
          path="/monthlystatementlist_orderlist-{0}.aspx"
          pattern = "/monthlystatementlist_orderlist-(\d+)?.aspx"
          page="/monthlystatementlist_orderlist.aspx"
          querystring="OrderType=$1" />
	
	  <rewrite name="monthlystatementworkinglog"
          path="/monthlystatementworkinglog-{0}.aspx"
          pattern = "/monthlystatementworkinglog-(\d+)?.aspx"
          page="/monthlystatementworkinglog.aspx"
          querystring="msid=$1" />
	  
	  <rewrite name="monthlystatementprint"
          path="/monthlystatementprint-{0}.aspx"
          pattern = "/monthlystatementprint-(\d+)?.aspx"
          page="/monthlystatementprint.aspx"
          querystring="msid=$1" />


	  <rewrite name="customers_dataanalysis"
          path="/customers_dataanalysis-{0}.aspx"
          pattern = "/customers_dataanalysis-(\d+)?.aspx"
          page="/customers_dataanalysis.aspx"
          querystring="dType=$1" />
	  
	  <rewrite name="customers_dataanalysis"
          path="/customers_dataanalysis-{0}-{1}.aspx"
          pattern = "/customers_dataanalysis-(\d+)-(\d+)?.aspx"
          page="/customers_dataanalysis.aspx"
          querystring="dType=$1^isIsPool=$2" />


	  <rewrite name="qrcode"
          path="/qrcode-{0}.aspx"
          pattern = "/qrcode-(\d+)?.aspx"
          page="/qrcode.aspx"
          querystring="Act=^orderid=$1" />
	
	  <rewrite name="qrcode"
          path="/qrcode-d-{0}.aspx"
          pattern = "/qrcode-d-(\d+)?.aspx"
          page="/qrcode.aspx"
          querystring="Act=d^msid=$1" />

	  <rewrite name="camera"
          path="/camera-{0}.aspx"
          pattern = "/camera-(\d+)?.aspx"
          page="/camera.aspx"
          querystring="Act=^CertificateID=$1" />
	
	 <rewrite name="cimg"
          path="/cimg-{0}.aspx"
          pattern = "/cimg-(\d+)?.aspx"
          page="/cimg.aspx"
          querystring="Act=^CertificatePicID=$1" />

	  <rewrite name="o"
          path="/o-{0}.aspx"
          pattern = "/o-(\d+)?.aspx"
          page="/qrcode_order.aspx"
          querystring="Act=^orderid=$1" />
	  <rewrite name="m"
          path="/m-{0}.aspx"
          pattern = "/m-(\d+)?.aspx"
          page="/qrcode_monthlystatement.aspx"
          querystring="Act=^msid=$1" />

  <!--门店仓库删除url-->
  <rewrite name="storehousestorage_do_Del"
          path="/storehousestorage_do_Del-{0}.aspx"
          pattern = "/storehousestorage_do_Del-(.+)?.aspx"
          page="/storehousestorage_do.aspx"
          querystring="Act=Del^sid=$1" /> 
  <!--门店仓库编辑url-->
  <rewrite name="storehousestorage_do_Edit"
          path="/storehousestorage_do_Edit-{0}.aspx"
          pattern = "/storehousestorage_do_Edit-(.+)?.aspx"
          page="/storehousestorage_do.aspx"
          querystring="Act=Edit^sid=$1" />
  <!--门店仓库添加url-->
  <rewrite name="storehousestorage_do"
          path="/storehousestorage_do-{0}.aspx"
          pattern = "/storehousestorage_do-(.+)?.aspx"
          page="/storehousestorage_do.aspx"
          querystring="Act=$1" />
  
  
  
  <!--门店仓库产品单价编辑url-->
  <rewrite name="storehousestorageprice_do"
          path="/storehousestorageprice_do-{0}.aspx"
          pattern = "/storehousestorageprice_do-(.+)?.aspx"
          page="/storehousestorageprice_do.aspx"
          querystring="Act=$1" />
  <!--门店仓库产品单价更新url-->
  <rewrite name="storehousestorageprice_do_Edit"
         path="/storehousestorageprice_do_Edit-{1}.aspx"
         pattern = "/storehousestorageprice_do_Edit-(\d+)?.aspx"
         page="/storehousestorageprice_do.aspx"
         querystring="Act=Edit^sid=$1" />
  <!--门店仓库产品单价删除url-->
  <rewrite name="storehousestorageprice_do_Del"
          path="/storehousestorageprice_do_Del-{1}.aspx"
          pattern = "/storehousestorageprice_do_Del-(.+)?.aspx"
          page="/storehousestorageprice_do.aspx"
          querystring="Act=Del^sid=$1" />

  <!--仓库盘点数据编辑url-->
  <rewrite name="warehouseinventory_do_Edit"
         path="/warehouseinventory_do-{0}.aspx"
         pattern = "/warehouseinventory_do_Edit-(\d+)?.aspx"
         page="/warehouseinventory_do.aspx"
         querystring="Act=Edit^sid=$1" />

  <!--仓库盘点数据编辑url-->
  <rewrite name="warehouseinventorylist_Edit"
         path="/warehouseinventorylist-{0}.aspx"
         pattern = "/warehouseinventorylist_Edit-(\d+)?.aspx"
         page="/warehouseinventorylist.aspx"
         querystring="Act=Edit^sid=$1" />

  <!--网店-->
	<rewrite name="mconfig_do"
          path="/mconfig_do-{0}.aspx"
          pattern = "/mconfig_do-(.+)?.aspx"
          page="/mconfig_do.aspx"
          querystring="Act=$1" />
	<rewrite name="mconfig_do_State"
          path="/mconfig_do_State-{0}.aspx"
          pattern = "/mconfig_do_State-(.+)?.aspx"
          page="/mconfig_do.aspx"
          querystring="Act=State^mid=$1" />
	<rewrite name="mconfig_do_Edit"
          path="/mconfig_do_Edit-{0}.aspx"
          pattern = "/mconfig_do_Edit-(.+)?.aspx"
          page="/mconfig_do.aspx"
          querystring="Act=Edit^mid=$1" /> 
	
	<rewrite name="mproduct"
          path="/mproduct-{0}.aspx"
          pattern = "/mproduct-(\d+)?.aspx"
          page="/mproduct.aspx"
          querystring="Act=^mconfigid=$1" />
	<rewrite name="mproduct_do"
          path="/mproduct_do-{0}-{1}.aspx"
          pattern = "/mproduct_do-(\d+)-(.+)?.aspx"
          page="/mproduct_do.aspx"
          querystring="Act=$2^mconfigid=$1" /> 
	<rewrite name="mmembers"
          path="/mmembers-{0}.aspx"
          pattern = "/mmembers-(\d+)?.aspx"
          page="/mmembers.aspx"
          querystring="Act=^mconfigid=$1" /> 
	<rewrite name="mmembers-push"
          path="/mmembers-push-{0}.aspx"
          pattern = "/mmembers-push-(\d+)?.aspx"
          page="/mmembers-push.aspx"
          querystring="Act=^mconfigid=$1" /> 
	<rewrite name="mdataanalysis"
          path="/mdataanalysis-{0}.aspx"
          pattern = "/mdataanalysis-(\d+)?.aspx"
          page="/mdataanalysis.aspx"
          querystring="Act=^mconfigid=$1" /> 

	<rewrite name="mgoodscat_do"
		  path="/mgoodscat_do-{0}-{1}.aspx"
		  pattern = "/mgoodscat_do-(\d+)-(.+)?.aspx"
		  page="/mgoodscat_do.aspx"
		  querystring="Act=$2^mconfigid=$1" /> 

	<rewrite name="public_goodsnum"
		  path="/public_goodsnum-{0}-{1}.aspx"
		  pattern = "/public_goodsnum-(\d+)-(\d+)?.aspx"
		  page="/public_goodsnum.aspx"
		  querystring="pid=$2^mconfigid=$1" /> 


	<rewrite name="mtrade"
		  path="/mtrade-{0}.aspx"
		  pattern = "/mtrade-(\d+)?.aspx"
		  page="/mtrade.aspx"
		  querystring="mconfigid=$1" /> 

	<rewrite name="mtrade"
		  path="/mtrade-{0}-{1}.aspx"
		  pattern = "/mtrade-(\d+)_(.+)?.aspx"
		  page="/mtrade.aspx"
		  querystring="act=$2^mconfigid=$1" /> 

	<rewrite name="mtrade"
		  path="/mtrade-{0}-{1}.aspx"
		  pattern = "/mtrade-(\d+)-(\d+)?.aspx"
		  page="/mtrade.aspx"
		  querystring="status=$2^mconfigid=$1" /> 

	<rewrite name="mtrade"
		  path="/mtrade~{0}~{1}~{2}~{3}.aspx"
		  pattern = "/mtrade~(-?\d+)~(-?\d+)~(-?\d+)~(-?\d+)?.aspx"
		  page="/mtrade.aspx"
		  querystring="status=$2^mconfigid=$1^sendgoods=$3^rate=$4" /> 

	<rewrite name="mtrade_do"
		  path="/mtrade_do-{0}-{1}.aspx"
		  pattern = "/mtrade_do-(\d+)-(.+)?.aspx"
		  page="/mtrade_do.aspx"
		  querystring="act=$2^mconfigid=$1" /> 

	<rewrite name="mrecallmsg"
		  path="/mrecallmsg-{0}.aspx"
		  pattern = "/mrecallmsg-(\d+)?.aspx"
		  page="/mrecallmsg.aspx"
		  querystring="mconfigid=$1" /> 
	<rewrite name="msendgoods"
		  path="/msendgoods-{0}.aspx"
		  pattern = "/msendgoods-(\d+)?.aspx"
		  page="/msendgoods.aspx"
		  querystring="mconfigid=$1" /> 

	<rewrite name="mexpresstemplates"
		  path="/mexpresstemplates-{0}.aspx"
		  pattern = "/mexpresstemplates-(\d+)?.aspx"
		  page="/mexpresstemplates.aspx"
		  querystring="mconfigid=$1" /> 
	<rewrite name="mexpresstemplates_do"
		  path="/mexpresstemplates_do-{0}-{1}.aspx"
		  pattern = "/mexpresstemplates_do-(\d+)-(.+)?.aspx"
		  page="/mexpresstemplates_do.aspx"
		  querystring="act=$2^mconfigid=$1" /> 
	
	<rewrite name="mmembers_do"
		  path="/mmembers_do-{0}-{1}.aspx"
		  pattern = "/mmembers_do-(\d+)-(.+)?.aspx"
		  page="/mmembers_do.aspx"
		  querystring="act=$2^mconfigid=$1" /> 


	<rewrite name="mexpress_print"
		  path="/mexpress_print-{0}-{1}.aspx"
		  pattern = "/mexpress_print-(\d+)-(\d+)?.aspx"
		  page="/mexpress_print.aspx"
		  querystring="oid=$2^mconfigid=$1" /> 
  <!--回调-->
	<rewrite name="topapirecall"
          path="/topapirecall-{0}-{1}.aspx"
          pattern = "/topapirecall-(\d+)-(\d+)?.aspx"
          page="/topapirecall.aspx"
          querystring="Act=$1^ReFormat=$2" />


 <!--科目-->
	<rewrite name="feessubjectclass_do"
		  path="/feessubjectclass_do-{0}.aspx"
		  pattern = "/feessubjectclass_do-(.+)?.aspx"
		  page="/feessubjectclass_do.aspx"
		  querystring="Act=$1" />


 <!--统计数据转发-->
	<rewrite name="datatomail_do"
          path="/datatomail_do-{0}.aspx"
          pattern = "/datatomail_do-(.+)?.aspx"
          page="/datatomail_do.aspx"
          querystring="Act=$1" />
	<rewrite name="datatomail_do_Edit"
          path="/datatomail_do_Edit-{1}.aspx"
          pattern = "/datatomail_do_Edit-(\d+)?.aspx"
          page="/datatomail_do.aspx"
          querystring="Act=Edit^did=$1" />
	 <rewrite name="datatomail_do"
          path="/datatomail_do_Del-{1}.aspx"
          pattern = "/datatomail_do_Del-(.+)?.aspx"
          page="/datatomail_do.aspx"
          querystring="Act=Del^did=$1" />


		<rewrite name="storage_order"
	          path="/storage_order-{1}.aspx"
	          pattern = "/storage_order-(\d+)?.aspx"
	          page="/storage_order.aspx"
	          querystring="Act=^ordertype=$1" />
		 <rewrite name="storage_order_do-1"
	          path="/storage_order_do-1-{1}.aspx"
	          pattern = "/storage_order_do-1-(\d+)?.aspx"
	          page="/storage_order_do.aspx"
	          querystring="Act=1^ordertype=$1" />
		<rewrite name="storage_order_do_v"
		      path="/storage_order_do_v-{0}-{1}.aspx"
		      pattern = "/storage_order_do_v-(\d+)-(\d+)?.aspx"
		      page="/storage_order_do.aspx"
		      querystring="Act=v^ordertype=$1^orderid=$2" />

		<rewrite name="storage_order_do"
	          path="/storage_order_do-{1}.aspx"
	          pattern = "/storage_order_do-(\d+)?.aspx"
	          page="/storage_order_do.aspx"
	          querystring="Act=x^ordertype=$1" />

		<rewrite name="storage_order_print"
          path="/storage_order_print-{0}-{1}.aspx"
          pattern = "/storage_order_print-(\d+)-(\d+)?.aspx"
          page="/storage_order_print.aspx"
          querystring="Act=^ordertype=$1^orderid=$2" />
	  
	  <rewrite name="storage_order_print"
          path="/storage_order_print-{0}-{1}-{2}.aspx"
          pattern = "/storage_order_print-(\d+)-(\d+)-(.+)?.aspx"
          page="/storage_order_print.aspx"
          querystring="Act=^ordertype=$1^orderid=$2^ot=$3" />


	 <rewrite name="data_import_export"
          path="/data_import_export-{0}.aspx"
          pattern = "/data_import_export-(.+)?.aspx"
          page="/data_import_export.aspx"
          querystring="DataType=$1" />
</urls>