<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<Dbconnectstring>Data Source=127.0.0.1;User ID=hm_DB;Password=hm_DB1qa@#2ws3ed;Initial Catalog=hm_DB;Pooling=false;Connect Timeout=1000;</Dbconnectstring>
<Tableprefix></Tableprefix>
<Syspath>/</Syspath>
<Dbtype>SqlServer</Dbtype>
<Founderuid>1</Founderuid>
</BaseConfigInfo>
