<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tr>
  <td class="OrderListTool">

<table width="98%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>单号:<br />{oi.oOrderNum}
</td>
    <td>供货商:<br />
{oi.StoresSupplierName} </td>
    <td><%set {aspxrewriteurl}=oi.oOrderDateTime.ToString("yyyy-MM-dd")%>
日期:<br />{aspxrewriteurl}</td>
    <td align="right"><img src="qrcode-{oi.OrderID}.aspx" /></td>
  </tr>
</table></td>
</tr>
<tr>
  <td>
  <table width="98%" border="1" cellpadding="1" cellspacing="0"  bordercolor= "#000000 "   style= "border-collapse:collapse; ">
	<tr >
	  <td width="30" align="center">仓库</td>
	  <td width="40" align="center">条码</td>
	  <td align="center">商品名称</td>
	  <td width="30" align="center">包装量</td>
	  <%if OrderFieldList!=null%>
      <%loop ofl OrderFieldList%>
      	<%if ofl["fPrint"].ToString()=="0"%>
        <%set {OrderFieldCount}=Convert.ToInt32(OrderFieldCount+1)%>
      	<td width="80" align="center"><nobr>{ofl[fName]}</nobr></td>
        <%/if%>
      <%/loop%>
     <%/if%>
	  <%if ShowMoney == true%>
	  <td width="50" align="center">单价<br />
	    (元)</td>
	  <%/if%>
	  <td width="50" align="center">数量</td>
	  <td width="50" align="center">件数</td>
	  <%if ShowMoney == true%>
	  <td width="50" align="center">金额</td>
	  <%/if%>
     
	</tr>

<%if OrderList!=null%>
	<%loop ol OrderList%>
		<tr>
		  <td >{ol[StorageName]}</td>
		  <td >{ol[ProductsBarcode]}</td>
		  <td>
		  <%if ol["IsGifts"].ToString() !="0"%>
		  (赠)
		  <%/if%>
		  {ol[ProductsName]}</td>
		  <td >{ol[ProductsToBoxNo]}</td>
		  <%if OrderFieldList!=null%>
			<%if OrderFieldValueList!=null%>
				<%loop ofl OrderFieldList%>
                	<%if ofl["fPrint"].ToString()=="0"%>
					<td >
					<%loop ofvl OrderFieldValueList%>
						<%if ofvl["OrderListID"].ToString() == ol["OrderListID"].ToString() && ofvl["OrderFieldID"].ToString()==ofl["OrderFieldID"].ToString()%>
							{ofvl[oFieldValue]}&nbsp;
						<%/if%>
					<%/loop%>
					</td>
                    <%/if%>
				<%/loop%>
			<%/if%>
		 <%/if%>
		  <%if ShowMoney == true%>
		  <td  align="right">
		  <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(ol["oPrice"]),2).ToString()%>
		  <nobr>{aspxrewriteurl}&nbsp;</nobr></td>
		  <%/if%>
		  <td  align="right">
          <%set {sumQuantityM} = Convert.ToDecimal(sumQuantityM+Convert.ToDecimal(ol["oQuantity"]))%>
		  <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(ol["oQuantity"]),2).ToString()%>
		  <nobr>{aspxrewriteurl}{ol[ProductsUnits]}&nbsp;</nobr>
</td>
<td  align="right">
			<%set {sumQuantityB} = Convert.ToDecimal(sumQuantityB+Convert.ToDecimal(ol["oQuantity"])/Convert.ToDecimal(ol["ProductsToBoxNo"]))%>
		  <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(ol["oQuantity"])/Convert.ToDecimal(ol["ProductsToBoxNo"]),2).ToString()%>
		  <nobr>{aspxrewriteurl}{ol[ProductsMaxUnits]}&nbsp;</nobr>
</td>
		  <%if ShowMoney == true%>
		  <td  align="right">
		  <%set {aspxrewriteurl} = decimal.Round(Convert.ToDecimal(ol["oMoney"]),2).ToString()%>
		 <nobr>{aspxrewriteurl}&nbsp;</nobr>
		 </td>
		  <%/if%>
		 
		</tr>
	<%/loop%>
    <%if ShowMoney == true%>
    <%set {OrderFieldCount} = Convert.ToInt32(OrderFieldCount + 4)%>
    <%else%>
    <%set {OrderFieldCount} = Convert.ToInt32(OrderFieldCount + 3)%>
    <%/if%>
    <tr>
    <td>合计:</td>
    <td colspan="{OrderFieldCount}"></td>
    <td align="right">
    <%set {aspxrewriteurl} = decimal.Round(sumQuantityM,2).ToString()%>
    <nobr>{aspxrewriteurl}&nbsp;</nobr></td>
    <td align="right">
    <%set {aspxrewriteurl} = decimal.Round(sumQuantityB,2).ToString()%>
    <nobr>{aspxrewriteurl}&nbsp;</nobr>
    </td>
    <%if ShowMoney == true%>
    <td align="right">
    <%set {aspxrewriteurl} = decimal.Round(summoney,2).ToString()%>
    <nobr>{aspxrewriteurl}&nbsp;</nobr>
    </td>
    <%/if%>
    </tr>
<%/if%>

  </table>
  <%if ShowMoney == true%>
  <div><!--合计:&yen;{summoney} &nbsp;&nbsp;&nbsp;&nbsp;-->大写:人民币{summoney_str}</div>
  <%/if%>
</tr>
</table>
<div>

<%template _order_print_fo%>

</div>
